## <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Introduction</p>

Welcome to "***Car Price Prediction EDA Project***". **Auto Scout** data used for this project, were scraped from the on-line car trading company, Auto Scout, in 2019, contains many features of 9 different car models. In this project, we will make Data Cleaning and Exploratory Data Analysis by using Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy and make the data ready for machine learning phase.

The project consists of **3 parts:**
* **``First part``** is related to **``'data cleaning'``**. It deals with Incorrect Headers (Column names), Incorrect Format, Anomalies, Dropping useless columns.
* **``Second part``** is related to **``'filling data'``**. It deals with Missing Values. Categorical to numeric transformation is done.
* **``Third part``** is related to **``'handling outliers of data'``** via Visualisation libraries. Some insights are extracted.

Each chapter is uploaded as a separate file. This file is on Clear Data.

## <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

pd.set_option('display.float_format', lambda x: '%.2f' % x)

## <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Handling Data</p>

In [2]:
df0 = pd.read_json("scout_car.json", lines=True)
df = df0.copy()

In [3]:
df.head().T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [5]:
df.describe(include=[object]).T

,count,unique,top,freq
url,15919,15919,https://www.autoscout24.com//offers/audi-a1-sp...,1
make_model,15919,9,Audi A3,3097
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
km,15919,6690,10 km,1045
registration,15919,48,-/-,1597
prev_owner,9091,4,1 previous owner,8294
hp,15919,81,85 kW,2542
Type,15917,169,"[, Used, , Diesel (Particulate Filter)]",3475
Previous Owners,9279,102,\n1\n,8101
Next Inspection,3535,1399,\n04/2022\n,62
Inspection new,3932,202,"[\nYes\n, \nEuro 6\n]",523
Warranty,10499,515,"[\n, \n, \nEuro 6\n]",1868
Full Service,8215,122,"[\n, \n, \n4 (Green)\n]",2235
Non-smoking Vehicle,7177,94,"[\n, \n]",3647
null,15919,1,[],15919
Make,15919,3,\nOpel\n,7343
Model,15919,9,"[\n, A3, \n]",3097
Offer Number,12744,11440,[\nLT67679\n],27
First Registration,14322,4,"[\n, 2018, \n]",4522
Body Color,15322,14,"[\n, Black, \n]",3745
Paint Type,10147,3,[\nMetallic\n],9794
Body Color Original,12160,1927,[\nOnyx Schwarz\n],338
Upholstery,12199,46,"[\nCloth, Black\n]",5821
Body,15859,9,"[\n, Sedans, \n]",7903
Nr. of Doors,15707,6,[\n5\n],11575
Nr. of Seats,14942,6,[\n5\n],13336
Model Code,4978,232,[\n0035/BCB\n],268
Gearing Type,15919,3,"[\n, Manual, \n]",8153
Displacement,15423,77,"[\n1,598 cc\n]",4761
Cylinders,10239,7,[\n4\n],8105
Weight,8945,434,"[\n1,163 kg\n]",574
Drive chain,9061,3,[\nfront\n],8886
Fuel,15919,77,"[\n, Diesel (Particulate Filter), \n]",4315
Consumption,14013,881,"[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",304
CO2 Emission,14111,123,[\n120 g CO2/km (comb)\n],740
Emission Class,12898,7,[\nEuro 6\n],10139
\nComfort & Convenience\n,14999,6198,"[Air conditioning, Electrical side mirrors, Hi...",216
\nEntertainment & Media\n,14545,346,"[Bluetooth, Hands-free equipment, On-board com...",1282
\nExtras\n,12957,659,[Alloy wheels],3245
\nSafety & Security\n,14937,4443,"[ABS, Central door lock, Daytime running light...",538
description,15919,12874,[],636
Emission Label,3985,6,[\n4 (Green)\n],3553
Gears,11207,10,[\n6\n],5822
Country version,7586,23,[\nGermany\n],4502
Electricity consumption,137,1,[\n0 kWh/100 km (comb)\n],137
Last Service Date,566,266,"[\n02/2019\n, \nEuro 6\n]",23
Other Fuel Types,880,1,"[[], [], []]",880
Availability,635,15,\nin 90 days from ordering\n,196
Last Timing Belt Service Date,16,15,[\n04/2016\n],2
Available from,272,46,\n31/08/19\n,98

In [6]:
# See the null values column by column
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [7]:
# Percentage of null values
df.isnull().sum() / df.shape[0] * 100

url                               0.00
make_model                        0.00
short_description                 0.29
body_type                         0.38
price                             0.00
vat                              28.35
km                                0.00
registration                      0.00
prev_owner                       42.89
kW                              100.00
hp                                0.00
Type                              0.01
Previous Owners                  41.71
Next Inspection                  77.79
Inspection new                   75.30
Warranty                         34.05
Full Service                     48.39
Non-smoking Vehicle              54.92
null                              0.00
Make                              0.00
Model                             0.00
Offer Number                     19.94
First Registration               10.03
Body Color                        3.75
Paint Type                       36.26
Body Color Original              23.61
Upholstery                       23.37
Body                              0.38
Nr. of Doors                      1.33
Nr. of Seats                      6.14
Model Code                       68.73
Gearing Type                      0.00
Displacement                      3.12
Cylinders                        35.68
Weight                           43.81
Drive chain                      43.08
Fuel                              0.00
Consumption                      11.97
CO2 Emission                     11.36
Emission Class                   18.98
\nComfort & Convenience\n         5.78
\nEntertainment & Media\n         8.63
\nExtras\n                       18.61
\nSafety & Security\n             6.17
description                       0.00
Emission Label                   74.97
Gears                            29.60
Country version                  52.35
Electricity consumption          99.14
Last Service Date                96.44
Other Fuel Types                 94.47
Availability                     96.01
Last Timing Belt Service Date    99.90
Available from                   98.29
dtype: float64

**Columns with more than 80 percent missing values**

In [8]:
def df_nans(df, limit):
    missing = df.isnull().sum()*100 / df.shape[0]
    return missing.loc[lambda x : x >= limit]

In [9]:
df_nans(df,80)

kW                              100.00
Electricity consumption          99.14
Last Service Date                96.44
Other Fuel Types                 94.47
Availability                     96.01
Last Timing Belt Service Date    99.90
Available from                   98.29
dtype: float64

The dataset was analyzed and some salient points were noted,
1. We need to intervene in the column names
2. Columns contain data in list format.
3. There are missing values in the data set

#### <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:left; border-radius:10px 10px;">Columns</p>

In [10]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [11]:
df.columns = df.columns.str.lower().str.strip().str.replace(".","").str.replace("-","_")\
            .str.replace("&","and").str.replace(" ","_")

In [12]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kw', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort_and_convenience',
       'entertainment_and_media', 'extras', 'safety_and_security',
       'description', 'emission_label', 'gears', 'country_version',
       'electricity_consumption', 'last_service_date', 'other_fuel_types',
       'availability', 'last_timing_belt_service_date', 'available_from'],
      dtype='object')

#### <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:left; border-radius:10px 10px;">Functions</p>

In [13]:
# summary of field such as missing values, unique values, number of unique
def summary(field) :
    print("Missing value count      : ", df[field].isnull().sum())
    print("Number of unique values  : ", df[field].nunique() )
    print()
    print("Unique values  : ", df[field].unique(), sep="\n")
    print()
    print("Number of values", df[field].value_counts(dropna=False), sep="\n")

In [14]:
# Used for the "consumption" column to find the consumption values
def consumption_comb(x):
    if type(x) == list :
        count = 0
        while  count < len(x) :
                if type(x[count]) == str and "comb" in x[count] :
                    return re.findall( "(\d*\.\d*)" , x[count])
                    count += 1
                    break
                
                elif type(x[count]) == list and len(x[count])>0 and "comb" in x[count][0]:
                    return re.findall( "(\d*\.\d*)" , x[count][0])
                    count += 1
                    break
                    
                else :
                    count +=1
                    
    elif type(x) == str and  "comb" in x :
        return re.findall( "(\d*\.\d*)" , x[count][0] )      
    else :
        return np.nan

In [15]:
# Used for the "consumption" column to find the consumption values
def consumption_city(x):
    if type(x) == list :
        count = 0
        while  count < len(x) :
                if type(x[count]) == str and "city" in x[count] :
                    return re.findall( "(\d*\.\d*)" , x[count])
                    count += 1
                    break
                
                elif type(x[count]) == list and len(x[count])>0 and "city" in x[count][0]:
                    return re.findall( "(\d*\.\d*)" , x[count][0] )
                    count += 1
                    break
                    
                else :
                    count +=1
                    
    elif type(x) == str and  "city" in x :
        return re.findall( "(\d*\.\d*)" , x[count][0] )      
    else :
        return np.nan

In [16]:
# Used for the "consumption" column to find the consumption values
def consumption_country(x):
    if type(x) == list :
        count = 0
        while  count < len(x) :
                if type(x[count]) == str and "country" in x[count] :
                    return re.findall( "(\d*\.\d*)" , x[count])
                    count += 1
                    break
                
                elif type(x[count]) == list and len(x[count])>0 and "country" in x[count][0]:
                    return re.findall( "(\d*\.\d*)" , x[count][0] )
                    count += 1
                    break
                    
                else :
                    count +=1
                    
    elif type(x) == str and  "country" in x :
        return re.findall( "(\d*\.\d*)" , x[count][0] )      
    else :
        return np.nan

## <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">The Examination of Columns</p>

## 1. url

We will discard this column later, as the url information contains important data for the dataset.

In [17]:
df.url.value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

## 2. make_model & model  & make
The "make_model" column gives us the detailed information. We don't need "make" and "model" columns.

After checking for missing data or incorrect data writing, we can drop the "make" and "model" columns.

In [18]:
df[["make_model" , "model" , "make"]]

           make_model             model         make
0             Audi A1      [\n, A1, \n]     \nAudi\n
1             Audi A1      [\n, A1, \n]     \nAudi\n
2             Audi A1      [\n, A1, \n]     \nAudi\n
3             Audi A1      [\n, A1, \n]     \nAudi\n
4             Audi A1      [\n, A1, \n]     \nAudi\n
...               ...               ...          ...
15914  Renault Espace  [\n, Espace, \n]  \nRenault\n
15915  Renault Espace  [\n, Espace, \n]  \nRenault\n
15916  Renault Espace  [\n, Espace, \n]  \nRenault\n
15917  Renault Espace  [\n, Espace, \n]  \nRenault\n
15918  Renault Espace  [\n, Espace, \n]  \nRenault\n

[15919 rows x 3 columns]

In [19]:
summary("make_model")

Missing value count      :  0
Number of unique values  :  9

Unique values  :
['Audi A1' 'Audi A2' 'Audi A3' 'Opel Astra' 'Opel Corsa' 'Opel Insignia'
 'Renault Clio' 'Renault Duster' 'Renault Espace']

Number of values
Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [20]:
df.make_model.str.split().str[0]

0           Audi
1           Audi
2           Audi
3           Audi
4           Audi
          ...
15914    Renault
15915    Renault
15916    Renault
15917    Renault
15918    Renault
Name: make_model, Length: 15919, dtype: object

In [21]:
df.make = df.make.str.split().str[0]
df.model = df.model.str[1]

In [22]:
df[["make_model" , "model" , "make"]]

           make_model   model     make
0             Audi A1      A1     Audi
1             Audi A1      A1     Audi
2             Audi A1      A1     Audi
3             Audi A1      A1     Audi
4             Audi A1      A1     Audi
...               ...     ...      ...
15914  Renault Espace  Espace  Renault
15915  Renault Espace  Espace  Renault
15916  Renault Espace  Espace  Renault
15917  Renault Espace  Espace  Renault
15918  Renault Espace  Espace  Renault

[15919 rows x 3 columns]

In [23]:
# Compere "make_model" vs "make"
df[( df.make_model.str.split().str[0] == df.make ) == False]

Empty DataFrame
Columns: [url, make_model, short_description, body_type, price, vat, km, registration, prev_owner, kw, hp, type, previous_owners, next_inspection, inspection_new, warranty, full_service, non_smoking_vehicle, null, make, model, offer_number, first_registration, body_color, paint_type, body_color_original, upholstery, body, nr_of_doors, nr_of_seats, model_code, gearing_type, displacement, cylinders, weight, drive_chain, fuel, consumption, co2_emission, emission_class, comfort_and_convenience, entertainment_and_media, extras, safety_and_security, description, emission_label, gears, country_version, electricity_consumption, last_service_date, other_fuel_types, availability, last_timing_belt_service_date, available_from]
Index: []

In [24]:
# Compere "make_model" vs "model"
df[ ( df.make_model.str.split().str[1] == df.model )  == False]

Empty DataFrame
Columns: [url, make_model, short_description, body_type, price, vat, km, registration, prev_owner, kw, hp, type, previous_owners, next_inspection, inspection_new, warranty, full_service, non_smoking_vehicle, null, make, model, offer_number, first_registration, body_color, paint_type, body_color_original, upholstery, body, nr_of_doors, nr_of_seats, model_code, gearing_type, displacement, cylinders, weight, drive_chain, fuel, consumption, co2_emission, emission_class, comfort_and_convenience, entertainment_and_media, extras, safety_and_security, description, emission_label, gears, country_version, electricity_consumption, last_service_date, other_fuel_types, availability, last_timing_belt_service_date, available_from]
Index: []

**"make_model" vs "make"
"make_model" vs "model"**

**There are no values that are not similar to each other when compared. We can drop the columns "Make" & "Model" and continue the column of "make_model.**

In [25]:
df.drop(columns=["make", "model"], inplace=True)

## 3.short_description
**After the examination, we have decided to drop this columns**

In [26]:
summary("short_description")

Missing value count      :  46
Number of unique values  :  10001

Unique values  :
['Sportback 1.4 TDI S-tronic Xenon Navi Klima' '1.8 TFSI sport'
 'Sportback 1.6 TDI S tronic Einparkhilfe plus+music' ...
 'ELYSEE ENERGY dCi 160 EDC' 'INITIALE Paris TCe 225 EDC GPF ACC EU6'
 'TCe 225 EDC GPF LIM Deluxe Pano,RFK']

Number of values
SPB 1.6 TDI 116 CV S tronic Sport                 64
None                                              46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

## 3.body_type & body

In [27]:
df[["body_type", "body"]]

      body_type              body
0        Sedans  [\n, Sedans, \n]
1        Sedans  [\n, Sedans, \n]
2        Sedans  [\n, Sedans, \n]
3        Sedans  [\n, Sedans, \n]
4        Sedans  [\n, Sedans, \n]
...         ...               ...
15914       Van     [\n, Van, \n]
15915       Van     [\n, Van, \n]
15916       Van     [\n, Van, \n]
15917       Van     [\n, Van, \n]
15918       Van     [\n, Van, \n]

[15919 rows x 2 columns]

In [28]:
df.body = df.body.str[1]

In [29]:
summary("body_type")

Missing value count      :  60
Number of unique values  :  9

Unique values  :
['Sedans' 'Station wagon' 'Compact' 'Other' 'Coupe' 'Van' 'Off-Road'
 'Convertible' None 'Transporter']

Number of values
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
None               60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [30]:
summary("body")

Missing value count      :  60
Number of unique values  :  9

Unique values  :
['Sedans' 'Station wagon' 'Compact' 'Other' 'Coupe' 'Van' 'Off-Road'
 'Convertible' nan 'Transporter']

Number of values
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body, dtype: int64

In [31]:
# Check for dissimilar values
df.body.equals(df.body_type)

True

**Both columns give the same information, we can drop the "body" column**

In [32]:
df.drop(columns= "body", inplace=True)

## 4. vat

In [33]:
summary("vat")

Missing value count      :  4513
Number of unique values  :  2

Unique values  :
['VAT deductible' 'Price negotiable' None]

Number of values
VAT deductible      10980
None                 4513
Price negotiable      426
Name: vat, dtype: int64

## 5. km

In [34]:
summary("km")

Missing value count      :  0
Number of unique values  :  6690

Unique values  :
['56,013 km' '80,000 km' '83,450 km' ... '2,864 km' '1,506 km' '57 km']

Number of values
10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [35]:
df.km = df.km.str.replace(",","").str.split(" km").str[0]

In [36]:
df.km.value_counts(dropna=False)

10       1045
-        1024
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6690, dtype: int64

In [37]:
df.km.replace("-", np.nan, inplace=True)

In [38]:
df.km = df.km.astype("float")

## 6. registration & first_registration

In [39]:
df[["registration", "first_registration"] ]

      registration first_registration
0          01/2016     [\n, 2016, \n]
1          03/2017     [\n, 2017, \n]
2          02/2016     [\n, 2016, \n]
3          08/2016     [\n, 2016, \n]
4          05/2016     [\n, 2016, \n]
...            ...                ...
15914          -/-                NaN
15915      01/2019     [\n, 2019, \n]
15916      03/2019     [\n, 2019, \n]
15917      06/2019     [\n, 2019, \n]
15918      01/2019     [\n, 2019, \n]

[15919 rows x 2 columns]

In [40]:
df["first_registration"].astype('str').value_counts(dropna=False)

['\n', '2018', '\n']    4522
['\n', '2016', '\n']    3674
['\n', '2017', '\n']    3273
['\n', '2019', '\n']    2853
nan                     1597
Name: first_registration, dtype: int64

In [41]:
df.first_registration = df.first_registration.astype('str').str.extract("(\d{4})")

In [42]:
df.registration.replace("-/-", np.nan, inplace=True)

In [43]:
df[["registration", "first_registration"]]

      registration first_registration
0          01/2016               2016
1          03/2017               2017
2          02/2016               2016
3          08/2016               2016
4          05/2016               2016
...            ...                ...
15914          NaN                NaN
15915      01/2019               2019
15916      03/2019               2019
15917      06/2019               2019
15918      01/2019               2019

[15919 rows x 2 columns]

In [44]:
# Check for dissimilar values
df.registration.str.split("/").str[1].equals(df.first_registration)

True

**Important for this project is the year of registration. The registration years are the same in both columns. We can continue with "registration"**

In [45]:
df.drop(columns="registration", inplace=True)

## 7. prev_owner  &  previous_owners

In [46]:
df[["prev_owner", "previous_owners"]]

              prev_owner                                    previous_owners
0      2 previous owners                                              \n2\n
1                   None                                                NaN
2       1 previous owner                                              \n1\n
3       1 previous owner                                              \n1\n
4       1 previous owner                                              \n1\n
...                  ...                                                ...
15914               None                                                NaN
15915   1 previous owner  [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...
15916   1 previous owner                   [\n1\n, \n139 g CO2/km (comb)\n]
15917               None                                                NaN
15918   1 previous owner                                              \n1\n

[15919 rows x 2 columns]

**In order to compare both columns, we need to correct the values in the "previous owners" column. Let's extract the relevant data from the list type data. Get rid of the unnecessary text in the "prev_owner" column**

In [47]:
df.previous_owners.sample(20)

12013      NaN
15183    \n1\n
6611     \n1\n
15176      NaN
11480    \n1\n
7687       NaN
2863       NaN
9815     \n1\n
15357      NaN
13049      NaN
2717     \n1\n
9595     \n1\n
515        NaN
722      \n1\n
12656      NaN
2627     \n1\n
7618       NaN
9905     \n1\n
12745      NaN
432      \n1\n
Name: previous_owners, dtype: object

In [48]:
[item[0] if type(item) == list else item for item in df.previous_owners]

['\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n0\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n0\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n0\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n3\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n2\n',
 nan,
 nan,
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n0\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n4\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n0\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 ...]

In [49]:
df["new_previous_owners"] = [item[0] if type(item) == list else item for item in df.previous_owners]
df["new_previous_owners"] = df.new_previous_owners.str.split().str[0]

In [50]:
df.prev_owner = df.prev_owner.str.extract("(\d*)")

In [51]:
df[["prev_owner", "new_previous_owners"]]

      prev_owner new_previous_owners
0              2                   2
1            NaN                 NaN
2              1                   1
3              1                   1
4              1                   1
...          ...                 ...
15914        NaN                 NaN
15915          1                   1
15916          1                   1
15917        NaN                 NaN
15918          1                   1

[15919 rows x 2 columns]

In [52]:
summary("prev_owner")

Missing value count      :  6828
Number of unique values  :  4

Unique values  :
['2' nan '1' '3' '4']

Number of values
1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [53]:
summary("new_previous_owners")

Missing value count      :  6640
Number of unique values  :  5

Unique values  :
['2' nan '1' '0' '3' '4']

Number of values
1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: new_previous_owners, dtype: int64

In [54]:
df[df.new_previous_owners.isnull()  &  df.prev_owner.notnull()]

Empty DataFrame
Columns: [url, make_model, short_description, body_type, price, vat, km, prev_owner, kw, hp, type, previous_owners, next_inspection, inspection_new, warranty, full_service, non_smoking_vehicle, null, offer_number, first_registration, body_color, paint_type, body_color_original, upholstery, nr_of_doors, nr_of_seats, model_code, gearing_type, displacement, cylinders, weight, drive_chain, fuel, consumption, co2_emission, emission_class, comfort_and_convenience, entertainment_and_media, extras, safety_and_security, description, emission_label, gears, country_version, electricity_consumption, last_service_date, other_fuel_types, availability, last_timing_belt_service_date, available_from, new_previous_owners]
Index: []

**There are no values that are null in "new_previous_owners" and non-null in "prev_orner". So we will continue with "new_previous_owners"**
**Rename the "new_previous_owners" column with "previous_owners". We can drop other columns**

In [55]:
df.drop(columns= {"prev_owner", "previous_owners"}, inplace=True)

In [56]:
df.rename(columns={"new_previous_owners": "previous_owners"}, inplace=True)

## 8. kw

In [57]:
df.kw.value_counts(dropna=False)

NaN    15919
Name: kw, dtype: int64

In [58]:
df.drop(columns="kw",inplace=True)

## 9. hp

In [59]:
summary("hp")

Missing value count      :  0
Number of unique values  :  81

Unique values  :
['66 kW' '141 kW' '85 kW' '70 kW' '92 kW' '112 kW' '60 kW' '71 kW' '67 kW'
 '110 kW' '93 kW' '147 kW' '86 kW' '140 kW' '87 kW' '- kW' '81 kW' '82 kW'
 '135 kW' '132 kW' '100 kW' '96 kW' '162 kW' '150 kW' '294 kW' '228 kW'
 '270 kW' '137 kW' '9 kW' '133 kW' '77 kW' '101 kW' '78 kW' '103 kW'
 '1 kW' '74 kW' '118 kW' '84 kW' '88 kW' '80 kW' '76 kW' '149 kW' '44 kW'
 '51 kW' '55 kW' '52 kW' '63 kW' '40 kW' '65 kW' '75 kW' '125 kW' '120 kW'
 '184 kW' '239 kW' '121 kW' '143 kW' '191 kW' '89 kW' '195 kW' '127 kW'
 '122 kW' '154 kW' '155 kW' '104 kW' '123 kW' '146 kW' '90 kW' '53 kW'
 '54 kW' '56 kW' '164 kW' '4 kW' '163 kW' '57 kW' '119 kW' '165 kW'
 '117 kW' '115 kW' '98 kW' '168 kW' '167 kW']

Number of values
85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [60]:
df["hp_kw"] = df.hp.str.extract('(\d+)').astype("float")
df["hp_kw"]

0        66.00
1       141.00
2        85.00
3        66.00
4        66.00
         ...
15914   147.00
15915   165.00
15916   146.00
15917   147.00
15918   165.00
Name: hp_kw, Length: 15919, dtype: float64

In [61]:
df.drop(columns=['hp'],  inplace=True)

## 10. type

In [62]:
df['type']

0                  [, Used, , Diesel (Particulate Filter)]
1                                     [, Used, , Gasoline]
2                  [, Used, , Diesel (Particulate Filter)]
3                  [, Used, , Diesel (Particulate Filter)]
4                  [, Used, , Diesel (Particulate Filter)]
                               ...
15914               [, New, , Diesel (Particulate Filter)]
15915    [, Used, , Super 95 / Super Plus 98 (Particula...
15916                         [, Pre-registered, , Diesel]
15917                         [, Pre-registered, , Diesel]
15918                        [, Demonstration, , Super 95]
Name: type, Length: 15919, dtype: object

In [63]:
df.type.value_counts()

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: type, Length: 169, dtype: int64

In [64]:
df["new_type"] = df.type.str[1]
df["new_type"].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: new_type, dtype: int64

**Check the "type" column in the index with null values.**

In [65]:
df.loc[df.new_type.isnull()][["type","new_type"]]

     type new_type
2765  NaN      NaN
5237  NaN      NaN

**There is no information that we can fill with the "type" column. Rename the "new_type" to "type"**

In [66]:
df.type = df.new_type

In [67]:
df.drop(columns="new_type", inplace=True)

## 11. Inspection_new &  Next_inspection

In [68]:
df[["inspection_new", "next_inspection"]].sample(10)

      inspection_new                         next_inspection
12102            NaN  [\n02/2021\n, \n136 g CO2/km (comb)\n]
5070             NaN                                     NaN
3865             NaN                                     NaN
11109            NaN                                     NaN
4324             NaN                                     NaN
10263            NaN  [\n04/2022\n, \n151 g CO2/km (comb)\n]
781              NaN                                     NaN
7102             NaN                                     NaN
12226            NaN                                     NaN
4803             NaN                                     NaN

In [69]:
df.inspection_new = [ item[0] if type(item) == list  else item for item in df.inspection_new]
df.next_inspection = [ item[0] if type(item) == list  else item for item in df.next_inspection]

In [70]:
df.inspection_new = df.inspection_new.str.split().str[0]
df.next_inspection = df.next_inspection.str.split().str[0]

In [71]:
df[["inspection_new", "next_inspection"]]

      inspection_new next_inspection
0                Yes         06/2021
1                NaN             NaN
2                NaN             NaN
3                NaN             NaN
4                Yes             NaN
...              ...             ...
15914            NaN             NaN
15915            NaN         01/2022
15916            Yes             NaN
15917            NaN             NaN
15918            Yes             NaN

[15919 rows x 2 columns]

In [72]:
df[["inspection_new", "next_inspection"]].isnull().sum()

inspection_new     11987
next_inspection    12384
dtype: int64

**There is a lot of missing and irrelevant data. We can rdop these columns after the review is finished**

## 12. warranty

In [73]:
df.warranty

0                 [\n, \n, \n4 (Green)\n]
1                                     NaN
2        [\n, \n, \n99 g CO2/km (comb)\n]
3                                     NaN
4                    [\n, \n, \nEuro 6\n]
                       ...
15914                       \n24 months\n
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
15917                                  \n
15918                                 NaN
Name: warranty, Length: 15919, dtype: object

In [74]:
df.warranty.value_counts(dropna=False)

NaN                                                                                                5420
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: warranty, Length: 516, dtype: int64

In [75]:
df.warranty.astype("string").str.extract("(\d{1,2} months)").value_counts(dropna=False)

NaN          11066
12 months     2594
24 months     1118
60 months      401
36 months      279
48 months      149
6 months       125
72 months       59
3 months        33
23 months       11
18 months       10
20 months        7
25 months        6
2 months         5
16 months        4
50 months        4
26 months        4
4 months         3
34 months        3
1 months         3
19 months        3
13 months        3
28 months        2
14 months        2
9 months         2
22 months        2
21 months        2
45 months        2
46 months        2
11 months        2
17 months        2
8 months         1
7 months         1
65 months        1
49 months        1
56 months        1
15 months        1
10 months        1
47 months        1
40 months        1
33 months        1
30 months        1
dtype: int64

In [76]:
df["warranty_new"] = df.warranty.astype("string").str.extract("(\d{1,2} months)")

**It contains values that we can fill in other fields. We can drop it  after examination**

## 13.  full_service

In [77]:
df.full_service

0                                [\n, \n]
1                                     NaN
2                                     NaN
3        [\n, \n, \n99 g CO2/km (comb)\n]
4                 [\n, \n, \n4 (Green)\n]
                       ...
15914                                 NaN
15915                                 NaN
15916                            [\n, \n]
15917                                 NaN
15918                                 NaN
Name: full_service, Length: 15919, dtype: object

In [78]:
df.full_service.value_counts(dropna=False)

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n80 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: full_service, Length: 123, dtype: int64

**We can use this field to fill in other fields**

## 14. non_smoking_vehicle

In [79]:
df.non_smoking_vehicle

0                       [\n, \n]
1                            NaN
2                            NaN
3           [\n, \n, \nEuro 6\n]
4                       [\n, \n]
                  ...
15914                        NaN
15915    [\n, \n, \n4 (Green)\n]
15916                   [\n, \n]
15917                        NaN
15918                        NaN
Name: non_smoking_vehicle, Length: 15919, dtype: object

In [80]:
df.non_smoking_vehicle.value_counts(dropna=False)

NaN                                                                                           8742
[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
[\n, \n, \n120 g CO2/km (comb)\n]                                                               63
[\n, \n, \n85 g CO2/km (comb)\n]                                                                46
[\n, \n, \n104 g CO2/km (comb)\n]                                                               36
[\n, \n, \n107 g CO2/km (comb)\n]                                                               36
[\n, \n, \n153 g CO2/km (comb)\n]                                                               31
[\n, \n, \n124 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    24
[\n, \n, \n99 g CO2/km (comb)\n]                                                                23
[\n, \n, \n106 g CO2/km (comb)\n]                                                               20
[\n, \n, \n97 g CO2/km (comb)\n]                                                                20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n113 g CO2/km (comb)\n]                                                               18
[\n, \n, \n100 g CO2/km (comb)\n]                                                               18
[\n, \n, \n109 g CO2/km (comb)\n]                                                               18
[\n, \n, \n105 g CO2/km (comb)\n]                                                               18
[\n, \n, \nEuro 6c\n]                                                                           17
[\n, \n, \n98 g CO2/km (comb)\n]                                                                15
[\n, \n, \n129 g CO2/km (comb)\n]                                                               14
[\n, \n, \n131 g CO2/km (comb)\n]                                                               13
[\n, \n, \n133 g CO2/km (comb)\n]                                                               12
[\n, \n, \n103 g CO2/km (comb)\n]                                                               12
[\n, \n, \n114 g CO2/km (comb)\n]                                                               12
[\n, \n, \n116 g CO2/km (comb)\n]                                                               11
[\n, \n, \n135 g CO2/km (comb)\n]                                                               11
[\n, \n, \n102 g CO2/km (comb)\n]                                                               11
[\n, \n, \n127 g CO2/km (comb)\n]                                                               10
[\n, \n, \n143 g CO2/km (comb)\n]                                                               10
[\n, \n, \n92 g CO2/km (comb)\n]                                                                 9
[\n, \n, \nEuro 6d\n]                                                                            9
[\n, \n, \n112 g CO2/km (comb)\n]                                                                9
[\n, \n, \n5 (Blue)\n]                                                                           8
[\n, \n, \n118 g CO2/km (comb)\n]                                                                8
[\n, \n, \n139 g CO2/km (comb)\n]                                                                7
[\n, \n, \n128 g CO2/km (comb)\n]                                                                7
[\n, \n, \n147 g CO2/km (comb)\n]                                                                7
[\n, \n, \n126 g CO2/km (comb)\n]                                                                6
[\n, \n, \n137 g CO2/km (comb)\n]                                                                6
[\n, \n, \n117 g CO2/km (comb)\n]                                                                6
[\n, \n, \n140 g CO2/km (comb)\n]                                                                6
[\n, \n, \n130 g CO2/km (comb)\n]                                                                5
[\n, \n, \n115 g CO2/km (comb)\n]                                                                5
[\n, \n, \nEuro 5\n]                                                                             4
[\n, \n, \n, 5.2 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       4
[\n, \n, \n123 g CO2/km (comb)\n]                                                                4
[\n, \n, \n151 g CO2/km (comb)\n]                                                                4
[\n, \n, \n95 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n119 g CO2/km (comb)\n]                                                                3
[\n, \n, \n148 g CO2/km (comb)\n]                                                                3
[\n, \n, \n157 g CO2/km (comb)\n]                                                                3
[\n, \n, \n136 g CO2/km (comb)\n]                                                                3
[\n, \n, \n110 g CO2/km (comb)\n]                                                                3
[\n, \n, \n149 g CO2/km (comb)\n]                                                                3
[\n, \n, \n138 g CO2/km (comb)\n]                                                                2
[\n, \n, \n125 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.2 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n121 g CO2/km (comb)\n]                                                                2
[\n, \n, \n142 g CO2/km (comb)\n]                                                                2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n111 g CO2/km (comb)\n]                                                                2
[\n, \n, \n134 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 8 l/100 km (city), \n, 5.3 l/100 km (country), \n]         1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n152 g CO2/km (comb)\n]                                                                1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n132 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: non_smoking_vehicle, dtype: int64

**We can use this field to fill in other fields**

## 15. null

In [81]:
df["null"]

0        []
1        []
2        []
3        []
4        []
         ..
15914    []
15915    []
15916    []
15917    []
15918    []
Name: null, Length: 15919, dtype: object

In [82]:
df.null.str[0].isna().sum()

15919

In [83]:
df.drop(columns="null", inplace=True)

## 16. offer_number

In [84]:
df.offer_number

0             [\nLR-062483\n]
1                         NaN
2              [\nAM-95365\n]
3                         NaN
4                 [\nC1626\n]
                 ...
15914          [\n10988301\n]
15915       [\n507370_3223\n]
15916          [\nEspace16\n]
15917           [\n2691331\n]
15918    [\nRe_30000008029\n]
Name: offer_number, Length: 15919, dtype: object

In [85]:
df['offer_number'] = df['offer_number'].str[0].str.strip()

In [86]:
summary("offer_number")

Missing value count      :  3175
Number of unique values  :  11440

Unique values  :
['LR-062483' nan 'AM-95365' ... 'Espace16' '2691331' 'Re_30000008029']

Number of values
NaN                                         3175
LT67679                                       27
UN89904                                       27
XJ38068                                       27
JV03654                                       27
                                            ...
160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b       1
6701576                                        1
6701569                                        1
158121                                         1
Re_30000008029                                 1
Name: offer_number, Length: 11441, dtype: int64

In [87]:
df.drop(columns="offer_number", inplace=True)

**A given number for each ad. There are some duplicated ones among them. For this project we don't need**

## 17. body_color

In [88]:
df["body_color" ]

0        [\n, Black, \n]
1          [\n, Red, \n]
2        [\n, Black, \n]
3        [\n, Brown, \n]
4        [\n, Black, \n]
              ...
15914     [\n, Grey, \n]
15915     [\n, Grey, \n]
15916    [\n, White, \n]
15917     [\n, Grey, \n]
15918     [\n, Grey, \n]
Name: body_color, Length: 15919, dtype: object

In [89]:
df['body_color'].astype('str').value_counts(dropna=False)

['\n', 'Black', '\n']     3745
['\n', 'Grey', '\n']      3505
['\n', 'White', '\n']     3406
['\n', 'Silver', '\n']    1647
['\n', 'Blue', '\n']      1431
['\n', 'Red', '\n']        957
nan                        597
['\n', 'Brown', '\n']      289
['\n', 'Green', '\n']      154
['\n', 'Beige', '\n']      108
['\n', 'Yellow', '\n']      51
['\n', 'Violet', '\n']      18
['\n', 'Bronze', '\n']       6
['\n', 'Orange', '\n']       3
['\n', 'Gold', '\n']         2
Name: body_color, dtype: int64

In [90]:
df["body_color" ] = df["body_color" ].str[1]

## 18. paint_type

In [91]:
df.paint_type.value_counts(dropna=False)

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: paint_type, dtype: int64

In [92]:
df['paint_type'] = df['paint_type'].str[0].str.strip('\n')

## 19. body_color_original

In [93]:
df.body_color_original.value_counts(dropna=False)

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: body_color_original, Length: 1928, dtype: int64

In [94]:
df['body_color_original'] = df['body_color_original'].str[0].str.strip('\n')

In [95]:
summary("body_color_original")

Missing value count      :  3759
Number of unique values  :  1927

Unique values  :
['Mythosschwarz' nan 'mythosschwarz metallic' ... 'Grau - Stahl Grau'
 'titaniumgraumetallic' 'Perlmutt-Weiß Metallic (Weiß)']

Number of values
NaN                              3759
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1928, dtype: int64

In [96]:
df[(df.body_color.isna())  & (df.body_color_original.notna())][["body_color", "body_color_original"]]

      body_color           body_color_original
70           NaN                     gris nano
122          NaN                       wählbar
150          NaN                   BLEU UTOPIA
195          NaN                   BLEU UTOPIA
198          NaN                          null
...          ...                           ...
15382        NaN                  TEINTE CAISS
15527        NaN                          null
15619        NaN  wählbar - ggf gegen Aufpreis
15785        NaN               GNE NOIR ETOILE
15849        NaN               Farbe: Sonstige

[407 rows x 2 columns]

In [97]:
df[(df.body_color.isna())  & (df.body_color_original.notna())]["body_color_original"].value_counts()

wählbar - ggf. mit Aufpreis       118
wählbar                            88
Metallic o. Uni (wählbar)          33
wählbar - ggf gegen Aufpreis       25
null                               15
Other                              14
mitoschwarz                         8
Smaragd Gruen (Mi)                  5
BLANCO ALPINO                       4
verschiedene Farben                 4
wählbar (bei Metallic +)            3
TEINTE CAISS                        3
Rouge Braun                         3
BLACK MEET KETTLE MET-4 (507B)      3
Kosmosblau Metallic                 3
(Silber) - Licht Grau               2
gletscherweiÃŸ                      2
Cronos / Negro Mito                 2
SWITCHBLADE SILVER MET (G)          2
Cortinaweiss                        2
NOIR MYTHIC METAL                   2
BLEU UTOPIA                         2
GDX Darkmoon Blue                   1
GF6 Satin Steel Grey                1
Hellelfenbein RAL 1015              1
SATIN STEEL GRAY MET-4 (501B)       1
Flip Chip met.                      1
GAN Sovereign Silver                1
YOU DRIVE ME GRAZY MET-4(509B)      1
Srebrny                             1
gris nano                           1
rot DeZir-Rot (NNP)                 1
Abalone Weiß                        1
Gris Platine (D69) Noir Etoi        1
GNE NOIR ETOILE                     1
NOIR AMETHYS                        1
Kng - Peinture Metallisee Gris      1
Noir EtoilÃ©                        1
GNE Noir Etoile                     1
ROUGE FLAMME                        1
wählbar -ggfl. mit Aufpreis         1
Gris Givre                          1
(NNP)                               1
Rouge Intens (NPK) Bleu Iron        1
Noir Etoilé (GNE) Gris Titan        1
Gris Titanium (KPN)                 1
ROUGE ATACAM                        1
FARBTON DER KAROSSERIE WEISS G      1
NOIR MTL                            1
GRIS ALU METALISE                   1
Plat.Anthr.                         1
GRJIS UNIVERSO                      1
ApfelgruenP2                        1
GRIS NANO                           1
Chronosgrau Metallic/Mythossch      1
Cortina White                       1
Nanograu Metallic / Brillantsc      1
Nanograu Metallic/Brillantschw      1
BLANC GLACIER / NOIR                1
Misanorot Perleffekt/Daytonagr      1
Azul Utopia                         1
Graphit Grau/Graffiti Grey          1
Azul Utipia                         1
Noir Myhic                          1
Noir Mythic/Argent Fleuret          1
Blanche Tissu Anthracite            1
NOIR BRILANT VERNI                  1
Sohobraun Metallic                  1
Mythosschwarz Metallic/Manhatt      1
Pintura micatalizada                1
Siambeige Metallic/Brillantsch      1
gr?n Tioman Gr?n                    1
BLANCHE                             1
indÃ©finie                          1
Gris Nano                           1
Negro Mito                          1
Plantin Anthrazit                   1
Blanc Glacier, Brillant             1
Kokosnuss Braun (M2)                1
CARRAGEEN MICA (182X)               1
Rouge Braun Metallic                1
rouge eclat                         1
quarzgrau dunkel Grau metallic      1
Licht Grau M2                       1
graphitgrau Metallik                1
Farbe: Sonstige                     1
Name: body_color_original, dtype: int64

**There are no values that we can use the "body_color_original"' column to fill in the "body_color" column. When translated and analyzed from German to English, we see irrelevant or very little data. We can drop this column.**

In [98]:
df.drop(["body_color_original"], axis=1, inplace=True)

## 20. upholstery

In [99]:
df["upholstery"].value_counts()

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nPart leather, Grey\n]      116
[\nFull leather, Brown\n]     116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nFull leather, Beige\n]      36
[\nVelour, Black\n]            36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nalcantara\n]                 2
[\nPart leather, White\n]       2
[\nBlue\n]                      2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nFull leather, Blue\n]        2
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
Name: upholstery, dtype: int64

In [100]:
df["upholstery"] = [ item[0] if type(item) == list  else item for item in df.upholstery]
df["upholstery"].value_counts(dropna=False)

\nCloth, Black\n           5821
NaN                        3720
\nPart leather, Black\n    1121
\nCloth\n                  1005
\nCloth, Grey\n             891
\nCloth, Other\n            639
\nFull leather, Black\n     575
\nBlack\n                   491
\nGrey\n                    273
\nOther, Other\n            182
\nPart leather\n            140
\nFull leather\n            139
\nFull leather, Brown\n     116
\nPart leather, Grey\n      116
\nOther, Black\n            110
\nFull leather, Other\n      72
\nFull leather, Grey\n       67
\nPart leather, Other\n      65
\nOther\n                    56
\nPart leather, Brown\n      50
\nalcantara, Black\n         47
\nVelour, Black\n            36
\nFull leather, Beige\n      36
\nCloth, Brown\n             28
\nVelour\n                   16
\nOther, Grey\n              15
\nCloth, Beige\n             13
\nBrown\n                    12
\nCloth, Blue\n              12
\nVelour, Grey\n              8
\nCloth, White\n              8
\nalcantara, Grey\n           6
\nCloth, Red\n                5
\nOther, Yellow\n             4
\nPart leather, Red\n         3
\nBeige\n                     3
\nPart leather, White\n       2
\nFull leather, Blue\n        2
\nalcantara, Other\n          2
\nalcantara\n                 2
\nWhite\n                     2
\nPart leather, Beige\n       2
\nBlue\n                      2
\nCloth, Orange\n             1
\nFull leather, Red\n         1
\nOther, Brown\n              1
\nFull leather, White\n       1
Name: upholstery, dtype: int64

In [101]:
df["upholstery"] = df["upholstery"].str.strip().str.split(", ")
df["upholstery"]

0               [Cloth, Black]
1                [Cloth, Grey]
2               [Cloth, Black]
3                          NaN
4               [Cloth, Black]
                 ...
15914                      NaN
15915                  [Cloth]
15916    [Full leather, Black]
15917           [Part leather]
15918    [Full leather, Brown]
Name: upholstery, Length: 15919, dtype: object

In [102]:
uph_type = ["Cloth", "Part leather", "Full leather", "alcantara", "Velour"]
uph_color = ["Black", "Grey" , "Brown" , "Beige", "Blue", "White", "Red", "Yellow", "Orange" ]
df["upholstery"].value_counts(dropna=False)

[Cloth, Black]           5821
NaN                      3720
[Part leather, Black]    1121
[Cloth]                  1005
[Cloth, Grey]             891
[Cloth, Other]            639
[Full leather, Black]     575
[Black]                   491
[Grey]                    273
[Other, Other]            182
[Part leather]            140
[Full leather]            139
[Full leather, Brown]     116
[Part leather, Grey]      116
[Other, Black]            110
[Full leather, Other]      72
[Full leather, Grey]       67
[Part leather, Other]      65
[Other]                    56
[Part leather, Brown]      50
[alcantara, Black]         47
[Velour, Black]            36
[Full leather, Beige]      36
[Cloth, Brown]             28
[Velour]                   16
[Other, Grey]              15
[Cloth, Beige]             13
[Brown]                    12
[Cloth, Blue]              12
[Velour, Grey]              8
[Cloth, White]              8
[alcantara, Grey]           6
[Cloth, Red]                5
[Other, Yellow]             4
[Part leather, Red]         3
[Beige]                     3
[Part leather, White]       2
[Full leather, Blue]        2
[alcantara, Other]          2
[alcantara]                 2
[White]                     2
[Part leather, Beige]       2
[Blue]                      2
[Cloth, Orange]             1
[Full leather, Red]         1
[Other, Brown]              1
[Full leather, White]       1
Name: upholstery, dtype: int64

In [103]:
def check_list(x, my_list):
    if (type(x) == list) and (len(x) == 1) and (x[0] in my_list) :
        return x[0]
    elif (type(x) == list) and (len(x) == 2) and (x[0] in my_list) :
        return x[0]
    elif (type(x) == list) and (len(x) == 2) and (x[1] in my_list) :
        return x[1]
    else :
        return np.nan
# we will create "upholstery_type" and "upholstery_color" columns by checking each index

In [104]:
df["upholstery_type"] = df.upholstery.apply(lambda x : check_list(x, uph_type))
df["upholstery_type"]

0               Cloth
1               Cloth
2               Cloth
3                 NaN
4               Cloth
             ...
15914             NaN
15915           Cloth
15916    Full leather
15917    Part leather
15918    Full leather
Name: upholstery_type, Length: 15919, dtype: object

In [105]:
df["upholstery_color"] = df.upholstery.apply(lambda x : check_list(x, uph_color))
df["upholstery_color"]

0        Black
1         Grey
2        Black
3          NaN
4        Black
         ...
15914      NaN
15915      NaN
15916    Black
15917      NaN
15918    Brown
Name: upholstery_color, Length: 15919, dtype: object

In [106]:
df.drop(columns="upholstery", inplace=True)

## 21. nr_of_door

In [107]:
df.nr_of_doors.value_counts(dropna=False)

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n1\n]        1
[\n7\n]        1
Name: nr_of_doors, dtype: int64

In [108]:
df.nr_of_doors = df.nr_of_doors.str[0].str.strip()

## 22. nr_of_seats

In [109]:
df.nr_of_seats.value_counts(dropna=False)

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: nr_of_seats, dtype: int64

In [110]:
df.nr_of_seats = df.nr_of_seats.str[0].str.strip()

## 23. model_code

In [111]:
df.model_code.value_counts(dropna=False)

NaN               10941
[\n0035/BCB\n]      268
[\n0588/BNO\n]      245
[\n0588/BDB\n]      206
[\n0588/BHX\n]      188
                  ...
[\n0035/AVN\n]        1
[\n0035/BEM\n]        1
[\n0035/BAG\n]        1
[\n0035/BAA\n]        1
[\n3333/BKG\n]        1
Name: model_code, Length: 233, dtype: int64

In [112]:
df.model_code = [item[0].strip() if type(item) == list else item  for item in df.model_code]
df.model_code.value_counts(dropna=False)

NaN         10941
0035/BCB      268
0588/BNO      245
0588/BDB      206
0588/BHX      188
            ...
0035/AVN        1
0035/BEM        1
0035/BAG        1
0035/BAA        1
3333/BKG        1
Name: model_code, Length: 233, dtype: int64

In [113]:
# df[df.make_model == "Audi A1"].groupby(["make_model","body_type"])["model_code"].value_counts()
df.groupby(["make_model","body_type"])["model_code"].value_counts()
# No significant relationship could be detected with "make_model" & "body_type" columns.
# We can drop this field as it doesn't contain a value that we can use for this project

make_model      body_type  model_code
Audi A1         Compact    0588/BNO      174
                           0588/BDB       88
                           0588/BDF       73
                           0588/BCV       65
                           0588/BNN       52
                                        ...
Renault Espace  Van        3333/BDR        9
                           3333/BKR        8
                           0000/000        1
                           3333/006        1
                           3333/BKG        1
Name: model_code, Length: 352, dtype: int64

In [114]:
df.drop(columns="model_code", inplace=True)

## 24. gearing_type

In [115]:
df.gearing_type.value_counts(dropna=False)

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: gearing_type, dtype: int64

In [116]:
df.gearing_type = df.gearing_type.str[1]

In [117]:
df.gearing_type.value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gearing_type, dtype: int64

## 25. displacement

In [118]:
df.displacement.value_counts()

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
[\n1,956 cc\n]      670
[\n1,461 cc\n]      595
[\n1,490 cc\n]      559
[\n1,422 cc\n]      467
[\n1,197 cc\n]      353
[\n898 cc\n]        351
[\n1,395 cc\n]      320
[\n1,968 cc\n]      301
[\n1,149 cc\n]      288
[\n1,618 cc\n]      212
[\n1,798 cc\n]      210
[\n1,498 cc\n]      196
[\n1,600 cc\n]      130
[\n1,248 cc\n]      110
[\n1,997 cc\n]      103
[\n1,364 cc\n]      102
[\n1,400 cc\n]       90
[\n998 cc\n]         72
[\n1,500 cc\n]       50
[\n2,000 cc\n]       46
[\n1,000 cc\n]       40
[\n1 cc\n]           36
[\n1,998 cc\n]       25
[\n2,480 cc\n]       20
[\n1,200 cc\n]       18
[\n1,984 cc\n]       18
[\n1,397 cc\n]       11
[\n899 cc\n]         11
[\n160 cc\n]          6
[\n929 cc\n]          5
[\n1,499 cc\n]        5
[\n997 cc\n]          4
[\n1,596 cc\n]        4
[\n139 cc\n]          4
[\n900 cc\n]          4
[\n1,599 cc\n]        3
[\n1,199 cc\n]        3
[\n1,396 cc\n]        3
[\n1,495 cc\n]        2
[\n1,589 cc\n]        2
[\n1,300 cc\n]        2
[\n2 cc\n]            2
[\n995 cc\n]          2
[\n1,496 cc\n]        1
[\n890 cc\n]          1
[\n1,580 cc\n]        1
[\n1,995 cc\n]        1
[\n1,333 cc\n]        1
[\n54 cc\n]           1
[\n1,533 cc\n]        1
[\n1,100 cc\n]        1
[\n1,350 cc\n]        1
[\n16,000 cc\n]       1
[\n1,856 cc\n]        1
[\n1,568 cc\n]        1
[\n1,896 cc\n]        1
[\n1,584 cc\n]        1
[\n996 cc\n]          1
[\n1,696 cc\n]        1
[\n1,686 cc\n]        1
[\n15,898 cc\n]       1
[\n1,368 cc\n]        1
[\n140 cc\n]          1
[\n973 cc\n]          1
[\n1,239 cc\n]        1
[\n1,369 cc\n]        1
[\n1,390 cc\n]        1
[\n122 cc\n]          1
[\n1,198 cc\n]        1
[\n1,195 cc\n]        1
[\n2,967 cc\n]        1
[\n1,800 cc\n]        1
Name: displacement, dtype: int64

In [119]:
df.displacement = df.displacement.str[0].str.strip("\ncc").str.replace(",","").astype("float")
df.displacement.value_counts(dropna=False)

1598.00     4761
999.00      2438
1398.00     1314
1399.00      749
1229.00      677
1956.00      670
1461.00      595
1490.00      559
NaN          496
1422.00      467
1197.00      353
898.00       351
1395.00      320
1968.00      301
1149.00      288
1618.00      212
1798.00      210
1498.00      196
1600.00      130
1248.00      110
1997.00      103
1364.00      102
1400.00       90
998.00        72
1500.00       50
2000.00       46
1000.00       40
1.00          36
1998.00       25
2480.00       20
1200.00       18
1984.00       18
1397.00       11
899.00        11
160.00         6
929.00         5
1499.00        5
997.00         4
1596.00        4
139.00         4
900.00         4
1599.00        3
1199.00        3
1396.00        3
1495.00        2
1589.00        2
1300.00        2
2.00           2
995.00         2
1496.00        1
890.00         1
1580.00        1
1995.00        1
1333.00        1
54.00          1
1533.00        1
1100.00        1
1350.00        1
16000.00       1
1856.00        1
1568.00        1
1896.00        1
1584.00        1
996.00         1
1696.00        1
1686.00        1
15898.00       1
1368.00        1
140.00         1
973.00         1
1239.00        1
1369.00        1
1390.00        1
122.00         1
1198.00        1
1195.00        1
2967.00        1
1800.00        1
Name: displacement, dtype: int64

## 26. cylinders

In [120]:
df.cylinders.value_counts(dropna=False)

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: cylinders, dtype: int64

In [121]:
df.cylinders = df.cylinders.str[0].str.strip('\n').astype("float")
df.cylinders.value_counts(dropna=False)

4.00    8105
NaN     5680
3.00    2104
5.00      22
6.00       3
8.00       2
2.00       2
1.00       1
Name: cylinders, dtype: int64

## 27. weight

In [122]:
df["weight"].value_counts(dropna=False)

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,960 kg\n]       1
[\n1,258 kg\n]       1
[\n1,167 kg\n]       1
[\n1,331 kg\n]       1
[\n2,037 kg\n]       1
Name: weight, Length: 435, dtype: int64

In [123]:
df.weight = df.weight.str[0].str.strip("\n kg").str.replace(",","").astype("float")
df.weight.value_counts(dropna=False)

NaN        6974
1163.00     574
1360.00     356
1165.00     301
1335.00     242
           ...
1960.00       1
1258.00       1
1167.00       1
1331.00       1
2037.00       1
Name: weight, Length: 435, dtype: int64

## 28. drive_chain

In [124]:
df.drive_chain.value_counts(dropna=False)

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: drive_chain, dtype: int64

In [125]:
df.drive_chain = df.drive_chain.str[0].str.strip()
df.drive_chain.value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

## 29. fuel

In [126]:
df.fuel

0                    [\n, Diesel (Particulate Filter), \n]
1                                       [\n, Gasoline, \n]
2                    [\n, Diesel (Particulate Filter), \n]
3                    [\n, Diesel (Particulate Filter), \n]
4                    [\n, Diesel (Particulate Filter), \n]
                               ...
15914                [\n, Diesel (Particulate Filter), \n]
15915    [\n, Super 95 / Super Plus 98 (Particulate Fil...
15916                                     [\n, Diesel, \n]
15917                                     [\n, Diesel, \n]
15918                                   [\n, Super 95, \n]
Name: fuel, Length: 15919, dtype: object

In [127]:
df.fuel = df.fuel.str[1]
df.fuel.value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                                       4315
Super 95                                                                                                                          3338
Gasoline                                                                                                                          3175
Diesel                                                                                                                            2984
Super 95 / Regular/Benzine 91                                                                                                      424
Regular/Benzine 91                                                                                                                 354
Super E10 95                                                                                                                       331
Super 95 (Particulate Filter)                                                                                                      268
Super 95 / Super E10 95                                                                                                            131
Regular/Benzine 91 (Particulate Filter)                                                                                            100
Super 95 / Super Plus 98                                                                                                            85
Gasoline (Particulate Filter)                                                                                                       77
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                                                                         40
Super E10 95 / Super 95                                                                                                             38
CNG                                                                                                                                 33
Super 95 / Super E10 95 (Particulate Filter)                                                                                        25
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98                                                                         19
LPG                                                                                                                                 16
Super 95 / Super Plus 98 (Particulate Filter)                                                                                       14
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                           13
Regular/Benzine E10 91                                                                                                              11
Liquid petroleum gas (LPG)                                                                                                          10
Super 95 / Super Plus 98 / Super E10 95                                                                                              8
Regular/Benzine 91 / Regular/Benzine E10 91                                                                                          7
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                            7
Super Plus 98                                                                                                                        7
Super E10 95 (Particulate Filter)                                                                                                    7
Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                                                                          5
Others                                                                                                                               5
Super E10 95 / Super Plus E10 98                                                                                                     4
Electric/Gasoline                                                                                                                    4
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)                                                     4
Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                                          4
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            4
CNG (Particulate Filter)                                                                                                             3
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)                                                     3
Super E10 95 / Super 95 / Super Plus 98                                                                                              3
Super E10 95 / Regular/Benzine 91                                                                                                    2
Super 95 / Regular/Benzine 91 / Super Plus 98                                                                                        2
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91                            2
Regular/Benzine 91 / Super 95 / Super E10 95                                                                                         1
Electric                                                                                                                             1
Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super 95 / Super E10 95 / Super Plus E10 98                                                                                          1
Super 95 / Super E10 95 / Super Plus 98                                                                                              1
Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98                            1
Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91                            1
Super 95 / Regular/Benzine E10 91                                                                                                    1
Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95                                                                1
Super Plus 98 / Regular/Benzine 91                                                                                                   1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91                            1
Super 95 / Super Plus 98 / Super Plus E10 98                                                                                         1
Super 95 / Regular/Benzine 91 (Particulate Filter)                                                                                   1
Super 95 / Super E10 95 / Regular/Benzine 91                                                                                         1
Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91                                                                1
Super 95 / Regular/Benzine E10 91 / Super E10 95                                                                                     1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            1
Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91                            1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                     1
Others (Particulate Filter)                                                                                                          1
Biogas                                                                                                                               1
Super 95 / Biodiesel                                                                                                                 1
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)       1
Regular/Benzine 91 / Super 95 / Super Plus 98                                                                                        1
Regular/Benzine 91 / Super 95                                                                                                        1
Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                            1
Domestic gas H                                                                                                                       1
Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98                            1
Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95                                                                          1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super Plus 98 / Super 95 / Super E10 95                                                                                              1
Super Plus E10 98                                                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                                               1
Super Plus 98 / Super E10 95                                                                                                         1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98                            1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98                            1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                                         1
Name: fuel, dtype: int64

In [128]:
benzine = ["Gasoline", "Super 95", "Regular","Super E10 95","Super Plus 98","Super Plus E10 98", "Others"]
diesel = ["Biodiesel","Diesel"]
lpg = ["Biogas", "Domestic gas H", "LPG","Liquid petroleum gas", "CNG"]
hybrid = ['Electric/Gasoline']
electric = ['Electric']
def fueltype(x):
    if any (i in x for i in hybrid):
        return 'Hybrid'
    elif any(i in x for i in electric):
        return "Electric"
    elif any(i in x for i in lpg):
        return "LPG/CNG"
    elif any(i in x for i in benzine):
        return "Benzine"
    elif any(i in x for i in diesel):
        return "Diesel"
    else:
        return x
df["fuel"].apply(fueltype).value_counts()

Benzine     8551
Diesel      7299
LPG/CNG       64
Hybrid         4
Electric       1
Name: fuel, dtype: int64

In [129]:
df["fuel"] = df["fuel"].apply(fueltype)

## 30. consumption

In [130]:
df.consumption.value_counts(dropna=False)

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: consumption, Length: 882, dtype: int64

**Please check the below functions from the Functions chapter**

**cons_comb(x),  cons_city(x),  cons_country(x)**

**We will take consumption amounts in 3 separate columns as comb / city / country**

In [131]:
df["cons_comb"] = df.consumption.apply(consumption_comb).str[0]
df["cons_city"] = df.consumption.apply(consumption_city).str[0]
df["cons_country"] = df.consumption.apply(consumption_country).str[0]

In [132]:
df[["cons_comb", "cons_city", "cons_country"]]

      cons_comb cons_city cons_country
0           3.8       4.3          3.5
1           5.6       7.1          4.7
2           3.8       4.4          3.4
3           3.8       4.3          3.5
4           4.1       4.6          3.8
...         ...       ...          ...
15914       5.3       6.2          4.7
15915       7.4       9.2          6.3
15916       5.3       6.2          4.7
15917       5.3       6.2          4.7
15918       6.8       8.7          5.7

[15919 rows x 3 columns]

In [133]:
df.drop(columns="consumption", inplace=True)

## 31. CO2_emission

In [134]:
df.co2_emission.value_counts(dropna=False)

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n14 g CO2/km (comb)\n]          1
[\n1,060 g CO2/km (comb)\n]       1
[\n51 g CO2/km (comb)\n]          1
[\n165 g CO2/km (comb)\n]         1
[\n193 g CO2/km (comb)\n]         1
Name: co2_emission, Length: 124, dtype: int64

In [135]:
df.co2_emission.value_counts(dropna=False)[0:20]
# Lists with 1 element have only values in themv

NaN                          1808
[\n120 g CO2/km (comb)\n]     740
[[], [], []]                  628
[\n99 g CO2/km (comb)\n]      545
[\n97 g CO2/km (comb)\n]      537
[\n104 g CO2/km (comb)\n]     501
[\n102 g CO2/km (comb)\n]     477
[\n103 g CO2/km (comb)\n]     445
[\n114 g CO2/km (comb)\n]     382
[\n124 g CO2/km (comb)\n]     372
[\n107 g CO2/km (comb)\n]     362
[\n108 g CO2/km (comb)\n]     362
[\n119 g CO2/km (comb)\n]     361
[\n106 g CO2/km (comb)\n]     349
[\n128 g CO2/km (comb)\n]     329
[\n126 g CO2/km (comb)\n]     282
[\n85 g CO2/km (comb)\n]      275
[\n118 g CO2/km (comb)\n]     270
[\n110 g CO2/km (comb)\n]     266
[\n127 g CO2/km (comb)\n]     257
Name: co2_emission, dtype: int64

In [136]:
df.co2_emission.astype("str").apply(lambda x : re.findall("\d*\,?\d* ?g ?co2" ,x , re.IGNORECASE) ).str[0]

0         99 g CO2
1        129 g CO2
2         99 g CO2
3         99 g CO2
4        109 g CO2
           ...
15914    139 g CO2
15915    168 g CO2
15916    139 g CO2
15917    139 g CO2
15918    153 g CO2
Name: co2_emission, Length: 15919, dtype: object

In [137]:
df.co2_emission = df.co2_emission.astype("str").apply(lambda x : re.findall("\d*\,?\d* ?g\ ?co2" ,x , re.IGNORECASE) ).str[0]

In [138]:
df.co2_emission.str.replace(",",".").str.extract("(\d*\.?\d*)").astype("float")

           0
0      99.00
1     129.00
2      99.00
3      99.00
4     109.00
...      ...
15914 139.00
15915 168.00
15916 139.00
15917 139.00
15918 153.00

[15919 rows x 1 columns]

In [139]:
df.co2_emission = df.co2_emission.str.replace(",",".").str.extract("(\d*\.?\d*)").astype("float")

## 32. emission_class

**We can make only one class as "Euro 6" for "Euro 6" / "Euro 6d" / "Euro 6c" / "Euro 6-TEMP"**

In [140]:
df.emission_class.value_counts(dropna=False)

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: emission_class, dtype: int64

In [141]:
df.emission_class.astype("str").apply(lambda x :  re.findall("Euro \d*" ,x ) ).str[0]

0        Euro 6
1        Euro 6
2        Euro 6
3        Euro 6
4        Euro 6
          ...
15914       NaN
15915       NaN
15916    Euro 6
15917    Euro 6
15918    Euro 6
Name: emission_class, Length: 15919, dtype: object

In [142]:
df.emission_class = df.emission_class.astype("str").apply(lambda x :  re.findall("Euro \d*" ,x ) ).str[0]

## 33. comfort_and_convenience

In [143]:
df.comfort_and_convenience.value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                                                                                                                     1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: comfort_and_convenience, Length: 6199, dtype: int64

In [144]:
df.comfort_and_convenience = [", ".join(item) if type(item) == list else item for item in df.comfort_and_convenience]
df.comfort_and_convenience.value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        920
Air conditioning, Electrical side mirrors, Hill Holder, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
Air conditioning, Electrical side mirrors, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
Air conditioning, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows                                                                                                                                                                                                                   1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof                                                                                                   1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows                                                                                                                     1
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                                                                                                                                                                                                          1
Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof      1
Name: comfort_and_convenience, Length: 6199, dtype: int64

## 34. entertainment_and_media

In [145]:
df.entertainment_and_media.value_counts(dropna=False)

NaN                                                                                                           1374
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                                              1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                                          982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]                               783
[On-board computer, Radio]                                                                                     487
                                                                                                              ...
[Bluetooth, CD player, Digital radio, Hands-free equipment, Radio]                                               1
[CD player, Hands-free equipment, MP3, Radio, USB]                                                               1
[MP3, Radio, Sound system, USB]                                                                                  1
[Bluetooth, MP3, On-board computer, Radio, Television, USB]                                                      1
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB]       1
Name: entertainment_and_media, Length: 347, dtype: int64

In [146]:
df.entertainment_and_media = [", ".join(item) if type(item) == list else item for item in df.entertainment_and_media]
df.entertainment_and_media.value_counts(dropna=False)

NaN                                                                                                         1374
Bluetooth, Hands-free equipment, On-board computer, Radio, USB                                              1282
Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB                                          982
Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB                               783
On-board computer, Radio                                                                                     487
                                                                                                            ...
Bluetooth, CD player, Digital radio, Hands-free equipment, Radio                                               1
CD player, Hands-free equipment, MP3, Radio, USB                                                               1
MP3, Radio, Sound system, USB                                                                                  1
Bluetooth, MP3, On-board computer, Radio, Television, USB                                                      1
Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB       1
Name: entertainment_and_media, Length: 347, dtype: int64

## 35. extras

In [147]:
df.extras.value_counts(dropna=False)

[Alloy wheels]                                                                                                     3245
NaN                                                                                                                2962
[Alloy wheels, Touch screen]                                                                                        697
[Alloy wheels, Voice Control]                                                                                       577
[Alloy wheels, Touch screen, Voice Control]                                                                         541
                                                                                                                   ...
[Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control]       1
[Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Trailer hitch]                             1
[Alloy wheels, Catalytic Converter, Ski bag, Sport package, Voice Control]                                            1
[Catalytic Converter, Roof rack, Sport seats, Sport suspension]                                                       1
[Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control]                    1
Name: extras, Length: 660, dtype: int64

In [148]:
df.extras = [", ".join(item) if type(item) == list else item for item in df.extras]
df.extras.value_counts(dropna=False)

Alloy wheels                                                                                                     3245
NaN                                                                                                              2962
Alloy wheels, Touch screen                                                                                        697
Alloy wheels, Voice Control                                                                                       577
Alloy wheels, Touch screen, Voice Control                                                                         541
                                                                                                                 ...
Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control       1
Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Trailer hitch                             1
Alloy wheels, Catalytic Converter, Ski bag, Sport package, Voice Control                                            1
Catalytic Converter, Roof rack, Sport seats, Sport suspension                                                       1
Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control                    1
Name: extras, Length: 660, dtype: int64

## 36. safety_and_security

In [149]:
df.safety_and_security.value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                  982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                           538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                       480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                     275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                               272
                                                                                                                                                                                                                                                                                                                                                                                    ...
[ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag]                                                                                                                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                     1
[ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                 1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control]                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition]      1
Name: safety_and_security, Length: 4444, dtype: int64

In [150]:
df.safety_and_security = [", ".join(item) if type(item) == list else item for item in df.safety_and_security]
df.safety_and_security.value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                982
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                           538
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                       480
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights                                                                                                                                     275
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                               272
                                                                                                                                                                                                                                                                                                                                                                                  ...
ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                        1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                     1
ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights                                                 1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control                                                                                                                                                        1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition      1
Name: safety_and_security, Length: 4444, dtype: int64

## 37. description

In [151]:
df.description.value_counts(dropna=False)

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              27
[\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
[\nPratica 67374, Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

In [152]:
df.description = [", ".join(item) if type(item) == list else item for item in df.description]
df.description.value_counts(dropna=False)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
\n, \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) ,  , Elektr. Bremskraftverteilung ,  , Reifen-Reparaturkit ,  , Sitzbezug / Polsterung: Stoff ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-6-tce-energy-renault-sport-trophy/id/f7ca29bf-e005-453f-bbc9-8c6fe892dec6/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n                                                        27
\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
\nPratica 67374, Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

## 38. emission_label

In [153]:
df.emission_label.value_counts(dropna=False)

NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: emission_label, dtype: int64

In [154]:
df.emission_label = df.emission_label.str[0].str.strip()
df.emission_label.value_counts(dropna=False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: emission_label, dtype: int64

## 39. gears

In [155]:
df.gears.value_counts(dropna=False)

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: gears, dtype: int64

In [156]:
df.gears = df.gears.str[0].str.strip()
df.gears.value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: gears, dtype: int64

## 40. country version

In [157]:
df.country_version.value_counts(dropna=False)

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: country_version, dtype: int64

In [158]:
df.country_version = df.country_version.str[0].str.strip()
df.country_version.value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

## 41. 'electricity_consumption', 'last_service_date', 'other_fuel_types','availability', 'last_timing_belt_service_date', 'available_from'

**Since there is too much missing data in these columns, we can drop**

In [159]:
df[['electricity_consumption', 'last_service_date', 'other_fuel_types',
    'availability', 'last_timing_belt_service_date', 'available_from']].isnull().sum()

electricity_consumption          15782
last_service_date                15353
other_fuel_types                 15039
availability                     15284
last_timing_belt_service_date    15903
available_from                   15647
dtype: int64

In [160]:
df.drop(columns=['electricity_consumption', 'last_service_date', 'other_fuel_types',
                 'availability', 'last_timing_belt_service_date', 'available_from'], inplace=True)

In [161]:
df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,56013.00,80000.00,83450.00
type,Used,Used,Used
next_inspection,06/2021,NaN,NaN
inspection_new,Yes,NaN,NaN
warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]"
full_service,"[\n, \n]",NaN,NaN
non_smoking_vehicle,"[\n, \n]",NaN,NaN
first_registration,2016,2017,2016
body_color,Black,Red,Black
paint_type,Metallic,NaN,Metallic
nr_of_doors,5,3,4
nr_of_seats,5,4,4
gearing_type,Automatic,Automatic,Automatic
displacement,1422.00,1798.00,1598.00
cylinders,3.00,4.00,NaN
weight,1220.00,1255.00,NaN
drive_chain,front,front,front
fuel,Diesel,Benzine,Diesel
co2_emission,99.00,129.00,99.00
emission_class,Euro 6,Euro 6,Euro 6
comfort_and_convenience,"Air conditioning, Armrest, Automatic climate c...","Air conditioning, Automatic climate control, H...","Air conditioning, Cruise control, Electrical s..."
entertainment_and_media,"Bluetooth, Hands-free equipment, On-board comp...","Bluetooth, Hands-free equipment, On-board comp...","MP3, On-board computer"
extras,"Alloy wheels, Catalytic Converter, Voice Control","Alloy wheels, Sport seats, Sport suspension, V...","Alloy wheels, Voice Control"
safety_and_security,"ABS, Central door lock, Daytime running lights...","ABS, Central door lock, Central door lock with...","ABS, Central door lock, Daytime running lights..."
description,"\n, Sicherheit:, , Deaktivierung für Beifahre...",\nLangstreckenfahrzeug daher die hohe Kilomete...,"\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 24..."
emission_label,NaN,4 (Green),4 (Green)
gears,NaN,7,NaN
country_version,NaN,NaN,NaN
previous_owners,2,NaN,1
hp_kw,66.00,141.00,85.00
warranty_new,<NA>,<NA>,<NA>
upholstery_type,Cloth,Cloth,Cloth
upholstery_color,Black,Grey,Black
cons_comb,3.8,5.6,3.8
cons_city,4.3,7.1,4.4
cons_country,3.5,4.7,3.4

In [162]:
df.to_csv("clean_scout.csv", index=False)

**At first glance, we handled the columns we needed to fix/change.**

**Let's continue with handling missing data.**