## <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Handling with Missing Values</p>

**In this study, we will continue from the data set we cleaned. Here, we will fill in the missing data and make the final evaluations about the columns.**
**Note: The dataset was taken in 2019**

## <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

pd.set_option('display.float_format', lambda x: '%.2f' % x)

## <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Dataset Overview</p>

In [2]:
df = pd.read_csv("clean_scout.csv")
df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,56013.00,80000.00,83450.00
type,Used,Used,Used
next_inspection,06/2021,NaN,NaN
inspection_new,Yes,NaN,NaN
warranty,"['\n', '\n', '\n4 (Green)\n']",NaN,"['\n', '\n', '\n99 g CO2/km (comb)\n']"
full_service,"['\n', '\n']",NaN,NaN
non_smoking_vehicle,"['\n', '\n']",NaN,NaN
first_registration,2016.00,2017.00,2016.00
body_color,Black,Red,Black
paint_type,Metallic,NaN,Metallic
nr_of_doors,5.00,3.00,4.00
nr_of_seats,5.00,4.00,4.00
gearing_type,Automatic,Automatic,Automatic
displacement,1422.00,1798.00,1598.00
cylinders,3.00,4.00,NaN
weight,1220.00,1255.00,NaN
drive_chain,front,front,front
fuel,Diesel,Benzine,Diesel
co2_emission,99.00,129.00,99.00
emission_class,Euro 6,Euro 6,Euro 6
comfort_and_convenience,"Air conditioning, Armrest, Automatic climate c...","Air conditioning, Automatic climate control, H...","Air conditioning, Cruise control, Electrical s..."
entertainment_and_media,"Bluetooth, Hands-free equipment, On-board comp...","Bluetooth, Hands-free equipment, On-board comp...","MP3, On-board computer"
extras,"Alloy wheels, Catalytic Converter, Voice Control","Alloy wheels, Sport seats, Sport suspension, V...","Alloy wheels, Voice Control"
safety_and_security,"ABS, Central door lock, Daytime running lights...","ABS, Central door lock, Central door lock with...","ABS, Central door lock, Daytime running lights..."
description,"\n, Sicherheit:, , Deaktivierung für Beifahre...",\nLangstreckenfahrzeug daher die hohe Kilomete...,"\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 24..."
emission_label,NaN,4 (Green),4 (Green)
gears,NaN,7.00,NaN
country_version,NaN,NaN,NaN
previous_owners,2.00,NaN,1.00
hp_kw,66.00,141.00,85.00
warranty_new,NaN,NaN,NaN
upholstery_type,Cloth,Cloth,Cloth
upholstery_color,Black,Grey,Black
cons_comb,3.80,5.60,3.80
cons_city,4.30,7.10,4.40
cons_country,3.50,4.70,3.40

In [3]:
df.shape

(15919, 42)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 42 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   url                      15919 non-null  object
 1   make_model               15919 non-null  object
 2   short_description        15873 non-null  object
 3   body_type                15859 non-null  object
 4   price                    15919 non-null  int64
 5   vat                      11406 non-null  object
 6   km                       14895 non-null  float64
 7   type                     15917 non-null  object
 8   next_inspection          3535 non-null   object
 9   inspection_new           3932 non-null   object
 10  warranty                 10499 non-null  object
 11  full_service             8215 non-null   object
 12  non_smoking_vehicle      7177 non-null   object
 13  first_registration       14322 non-null  float64
 14  body_color               15322 non-null  object
 15  paint_type               10147 non-null  object
 16  nr_of_doors              15707 non-null  float64
 17  nr_of_seats              14942 non-null  float64
 18  gearing_type             15919 non-null  object
 19  displacement             15423 non-null  float64
 20  cylinders                10239 non-null  float64
 21  weight                   8945 non-null   float64
 22  drive_chain              9061 non-null   object
 23  fuel                     15919 non-null  object
 24  co2_emission             13483 non-null  float64
 25  emission_class           12291 non-null  object
 26  comfort_and_convenience  14999 non-null  object
 27  entertainment_and_media  14545 non-null  object
 28  extras                   12957 non-null  object
 29  safety_and_security      14937 non-null  object
 30  description              15283 non-null  object
 31  emission_label           3945 non-null   object
 32  gears                    11207 non-null  float64
 33  country_version          7586 non-null   object
 34  previous_owners          9279 non-null   float64
 35  hp_kw                    15831 non-null  float64
 36  warranty_new             4853 non-null   object
 37  upholstery_type          11048 non-null  object
 38  upholstery_color         9881 non-null   object
 39  cons_comb                12160 non-null  float64
 40  cons_city                11911 non-null  float64
 41  cons_country             12584 non-null  float64
dtypes: float64(14), int64(1), object(27)
memory usage: 5.1+ MB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price,15919.00,18019.90,7386.17,13.00,12850.00,16900.00,21900.00,74600.00
km,14895.00,34130.13,37352.98,0.00,5153.00,22740.00,49371.50,317000.00
first_registration,14322.00,2017.46,1.08,2016.00,2016.00,2018.00,2018.00,2019.00
nr_of_doors,15707.00,4.66,0.65,1.00,4.00,5.00,5.00,7.00
nr_of_seats,14942.00,4.95,0.49,2.00,5.00,5.00,5.00,7.00
displacement,15423.00,1423.54,333.53,1.00,1229.00,1461.00,1598.00,16000.00
cylinders,10239.00,3.80,0.42,1.00,4.00,4.00,4.00,8.00
weight,8945.00,1351.11,220.66,1.00,1165.00,1288.00,1487.00,2471.00
co2_emission,13483.00,117.95,20.24,0.00,104.00,116.00,129.00,990.00
gears,11207.00,5.92,0.85,1.00,5.00,6.00,6.00,50.00
previous_owners,9279.00,1.07,0.33,0.00,1.00,1.00,1.00,4.00
hp_kw,15831.00,88.37,26.84,1.00,66.00,85.00,101.00,294.00
cons_comb,12160.00,4.86,0.91,1.20,4.20,4.80,5.50,13.80
cons_city,11911.00,5.97,1.41,3.30,4.70,5.80,7.10,19.90
cons_country,12584.00,4.21,0.68,2.80,3.70,4.20,4.60,10.30

In [6]:
df.describe(include="object").T

,count,unique,top,freq
url,15919,15919,https://www.autoscout24.com//offers/audi-a1-sp...,1
make_model,15919,9,Audi A3,3097
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
type,15917,5,Used,11096
next_inspection,3535,77,06/2021,471
inspection_new,3932,1,Yes,3932
warranty,10499,515,"['\n', '\n', '\nEuro 6\n']",1868
full_service,8215,122,"['\n', '\n', '\n4 (Green)\n']",2235
non_smoking_vehicle,7177,94,"['\n', '\n']",3647
body_color,15322,14,Black,3745
paint_type,10147,3,Metallic,9794
gearing_type,15919,3,Manual,8153
drive_chain,9061,3,front,8886
fuel,15919,5,Benzine,8551
emission_class,12291,3,Euro 6,12173
comfort_and_convenience,14999,6198,"Air conditioning, Electrical side mirrors, Hil...",216
entertainment_and_media,14545,346,"Bluetooth, Hands-free equipment, On-board comp...",1282
extras,12957,659,Alloy wheels,3245
safety_and_security,14937,4443,"ABS, Central door lock, Daytime running lights...",538
description,15283,12873,"\n, \n",30
emission_label,3945,5,4 (Green),3553
country_version,7586,23,Germany,4502
warranty_new,4853,41,12 months,2594
upholstery_type,11048,5,Cloth,8423
upholstery_color,9881,9,Black,8201

In [7]:
df.isnull().sum()

url                            0
make_model                     0
short_description             46
body_type                     60
price                          0
vat                         4513
km                          1024
type                           2
next_inspection            12384
inspection_new             11987
warranty                    5420
full_service                7704
non_smoking_vehicle         8742
first_registration          1597
body_color                   597
paint_type                  5772
nr_of_doors                  212
nr_of_seats                  977
gearing_type                   0
displacement                 496
cylinders                   5680
weight                      6974
drive_chain                 6858
fuel                           0
co2_emission                2436
emission_class              3628
comfort_and_convenience      920
entertainment_and_media     1374
extras                      2962
safety_and_security          982
description                  636
emission_label             11974
gears                       4712
country_version             8333
previous_owners             6640
hp_kw                         88
warranty_new               11066
upholstery_type             4871
upholstery_color            6038
cons_comb                   3759
cons_city                   4008
cons_country                3335
dtype: int64

In [8]:
df.isnull().sum() * 100 / df.shape[0]

url                        0.00
make_model                 0.00
short_description          0.29
body_type                  0.38
price                      0.00
vat                       28.35
km                         6.43
type                       0.01
next_inspection           77.79
inspection_new            75.30
warranty                  34.05
full_service              48.39
non_smoking_vehicle       54.92
first_registration        10.03
body_color                 3.75
paint_type                36.26
nr_of_doors                1.33
nr_of_seats                6.14
gearing_type               0.00
displacement               3.12
cylinders                 35.68
weight                    43.81
drive_chain               43.08
fuel                       0.00
co2_emission              15.30
emission_class            22.79
comfort_and_convenience    5.78
entertainment_and_media    8.63
extras                    18.61
safety_and_security        6.17
description                4.00
emission_label            75.22
gears                     29.60
country_version           52.35
previous_owners           41.71
hp_kw                      0.55
warranty_new              69.51
upholstery_type           30.60
upholstery_color          37.93
cons_comb                 23.61
cons_city                 25.18
cons_country              20.95
dtype: float64

In [9]:
missing_values = []

[missing_values.append(column) for column in df.columns if any(df[column].isnull())]

print("Columns that have missing values :")

missing_values

Columns that have missing values :

['short_description',
 'body_type',
 'vat',
 'km',
 'type',
 'next_inspection',
 'inspection_new',
 'warranty',
 'full_service',
 'non_smoking_vehicle',
 'first_registration',
 'body_color',
 'paint_type',
 'nr_of_doors',
 'nr_of_seats',
 'displacement',
 'cylinders',
 'weight',
 'drive_chain',
 'co2_emission',
 'emission_class',
 'comfort_and_convenience',
 'entertainment_and_media',
 'extras',
 'safety_and_security',
 'description',
 'emission_label',
 'gears',
 'country_version',
 'previous_owners',
 'hp_kw',
 'warranty_new',
 'upholstery_type',
 'upholstery_color',
 'cons_comb',
 'cons_city',
 'cons_country']

#### <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:left; border-radius:10px 10px;">Functions</p>

In [10]:
# summary of field such as missing values, unique values, number of unique
def summary(field) :
    print("Column name              : ", field)
    print("--------------------------------")
    print("Total missing value      : ", df[field].isnull().sum())
    print("Percentage of missing    : ", round(df[field].isnull().sum()*100 / df.shape[0], 2)  )
    print("Number of unique values  : ", df[field].nunique() )
    print()
    print("Unique values  : ", df[field].unique(), sep="\n")
    print()
    print("Number of values", df[field].value_counts(dropna=False), sep="\n")

In [11]:
# Fills the missing values with "mode" method according to 1-2-3-stage grouping
def fill_most_freq(df, group_col, col_name):
    if len(group_col) == 1 :
        for group_member in df[group_col[0]].unique():
            cond = df[group_col[0]] == group_member
            mode = list(df[cond][col_name].mode()[0])
            if mode != []:
                df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
            else:
                df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    
    elif len(group_col) == 2 :
        for group_member1 in df[group_col[0]].unique(): 
                for group_member2 in df[group_col[1]].unique(): 
                    cond1 = df[group_col[0]] == group_member1
                    cond2 = ( df[group_col[0]] == group_member1 ) & ( df[group_col[1]] == group_member2 )
                    mode1 = list(df[cond1][col_name].mode())
                    mode2 = list(df[cond2][col_name].mode()) 
                    if mode2 != []:
                        df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                    elif mode1 != []:
                        df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                    else:
                        df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
                        
    elif len(group_col) == 3 :
        for group_member1 in df[group_col[0]].unique(): 
                for group_member2 in df[group_col[1]].unique(): 
                    for group_member3 in df[group_col[2]].unique(): 
                        cond1 = df[group_col[0]] == group_member1
                        cond2 = ( df[group_col[0]] == group_member1 ) & ( df[group_col[1]] == group_member2 )
                        cond3 = ( df[group_col[0]] == group_member1 ) & ( df[group_col[1]] == group_member2 ) & ( df[group_col[2]] == group_member3 )
                        mode1 = list(df[cond1][col_name].mode())
                        mode2 = list(df[cond2][col_name].mode()) 
                        mode3 = list(df[cond3][col_name].mode()) 
                        if mode3 != []:
                            df.loc[cond3, col_name] = df.loc[cond3, col_name].fillna(df[cond3][col_name].mode()[0])
                        elif mode2 != []:
                            df.loc[cond3, col_name] = df.loc[cond3, col_name].fillna(df[cond2][col_name].mode()[0])
                        elif mode1 != []:
                            df.loc[cond3, col_name] = df.loc[cond3, col_name].fillna(df[cond1][col_name].mode()[0])
                        else:
                            df.loc[cond3, col_name] = df.loc[cond3, col_name].fillna(df[col_name].mode()[0])
                            
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [12]:
def fill(df, group_col1, group_col2, col_name, method): # method can be either "mode" or "mean" or "median" or "ffill"
    
    '''Fills the missing values with "mode/mean/median/ffill/bfill method" according to double-stage grouping'''
    
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])

    elif method == "mean":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df[col_name].mean(), inplace = True)
        
    elif method == "median":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df[col_name].median(), inplace = True)
        
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [13]:
def fill_median(df, group_col1, group_col2, group_col3, col_name):
    
    df[col_name].fillna(df.groupby([group_col1, group_col2, group_col3])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df[col_name].median(), inplace = True)

    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [14]:
def fill_mean(df, group_col1, group_col2, group_col3, col_name):
    
    df[col_name].fillna(df.groupby([group_col1, group_col2, group_col3])[col_name].transform("mean"), inplace = True)
    df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("mean"), inplace = True)
    df[col_name].fillna(df.groupby(group_col1)[col_name].transform("mean"), inplace = True)
    df[col_name].fillna(df[col_name].median(), inplace = True)

    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

## <p style="background-color:#033E3E; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">The Examination of Missing Values in the Columns</p>

**When we first look at the dataset, we can see some main columns. "make_model", "body_type", "registration_year". We're going to do a lot of processing around these columns when we're filling missing values.**

## 1. body_type

In [15]:
summary("body_type")

Column name              :  body_type
--------------------------------
Total missing value      :  60
Percentage of missing    :  0.38
Number of unique values  :  9

Unique values  :
['Sedans' 'Station wagon' 'Compact' 'Other' 'Coupe' 'Van' 'Off-Road'
 'Convertible' nan 'Transporter']

Number of values
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

**There is data named "Other". We can accept these as Null values.**

In [16]:
df.body_type.replace("Other", np.nan, inplace=True)

In [17]:
df['body_type'].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
NaN               350
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

**"We know that the "body_type" column is related to the make and model of vehicles. We can fill in the missing values according to the "make_model" column.**

**The "nr_of_doors" and "short_description" columns were examined for a more precise filling process. But no strong pattern was observed.**

**On the other hand, by examining the "body_types" in the "make_model" breakdown, we can observe their distribution. Considering that the total number of missing values is a few, it is 	suitable to fill the missing values by applying the "mode" operation.**

In [18]:
df[df.body_type.isnull() == True][["make_model","short_description"]][0:50]

      make_model                                  short_description
744      Audi A1                                   SPORTBACK S line
1764     Audi A1             Sportback sport 1.0 TFSI UPE 22.800,--
1793     Audi A1                      SPB 1.6 TDI 116 CV Metal plus
1819     Audi A1                      SPB 1.6 TDI 116 CV Metal plus
2047     Audi A1                SPB 30 TFSI S tronic S line edition
2078     Audi A1                       SPB 30 TFSI S tronic Admired
2104     Audi A1                SPB 30 TFSI 116 CV S tronic Admired
2256     Audi A1                                  Sportback 25 TFSI
2475     Audi A1                                  Sportback 25 TFSI
2522     Audi A1                                  Sportback 25 TFSI
2526     Audi A1                                  Sportback 25 TFSI
2527     Audi A1                                  Sportback 25 TFSI
2601     Audi A1      Sportback 25 TFSI 70(95) kW(PS) 25 TFSI basis
2638     Audi A3                       1600tdi 5p S-tronic Ambition
3012     Audi A3                                    16 tdi business
3056     Audi A3     Sportback 2.0 TDI 150 CV clean diesel Ambiente
3175     Audi A3                                            1.6 TDi
3222     Audi A3                                  SPORTBACK 1.6 TDI
3251     Audi A3                    business nuovo modello S-TRONIC
3255     Audi A3                 1.6 TDI S tronic Business (MY2017)
3333     Audi A3                                               BASE
3340     Audi A3                                               BASE
3647     Audi A3                                      BERLINE Sport
3903     Audi A3                                 cod Ultra S-tronic
3975     Audi A3                           Sportback Sport S tronic
3997     Audi A3  (3E GENERATION) III (2) 1.6 TDI 110 BUSINESS LINE
4032     Audi A3  1.6 TDI 110cv Sport Edition 3p S/S # NAVY, BIX...
4151     Audi A3                                sport 1.4 TFSI Navi
4206     Audi A3                Sportback 1.4 TFSI 125CV Attraction
4297     Audi A3                Sportback 1.4 TFSI 125CV Attraction
4298     Audi A3                Sportback 1.4 TFSI 125CV Attraction
4310     Audi A3  1.6 TDI 110cv Sport Edition 3p S/S # NAVY, BIX...
4473     Audi A3                         cabrio 1.6 tdi Sport 116cv
4675     Audi A3                  SPB 1.6 TDI 116 CV S tronic Sport
4678     Audi A3                  SPB 1.6 TDI 116 CV S tronic Sport
5383     Audi A3                                         ATTRACTION
5718  Opel Astra                    1.6 CDTi 136 CV Excellence Auto
5812  Opel Astra                   1,6 CDTI Inovation Autom. Diesel
5849  Opel Astra             1.6 CDTi 100kW (136CV) Auto Excellence
5882  Opel Astra           1.4 Turbo S/S 110kW (150CV) Auto Dynamic
5938  Opel Astra                    1.6 CDTi 136 CV Excellence Auto
5940  Opel Astra                    1.6 CDTi 136 CV Excellence Auto
5957  Opel Astra         K Lim. 5türig Edition Start/Stop Automatik
6069  Opel Astra                          1.6 CDTi 110 CV Selective
6097  Opel Astra                                 1.6 CDTI SELECTIVE
6102  Opel Astra                                 1.6 CDTI SELECTIVE
6199  Opel Astra                          1.6 CDTi 110 CV Selective
6203  Opel Astra                           1.0 Turbo S/S Expression
6244  Opel Astra          K Sports Tourer Selection*KLIMA*GARANTIE*
6265  Opel Astra                   K Sports Tourer Selection-Euro 6

In [19]:
df[(df.make_model == "Audi A1") ][["short_description","body_type"]].sample(10)

                                      short_description body_type
876                                   Dsl 1.4 TDi ultra    Sedans
780                          SPB 1.4 TDI S tronic Sport    Sedans
2581                            SPB 30 TFSI - Pra.65884    Sedans
2448               Sportback 25 TFSI PDC LM Tempo Klima    Sedans
605       1.4 TDI SPB audi concert Display neopatentati   Compact
1196                                  1.6 TDI Sportback    Sedans
1994          advanced 30 TFSI STRONIC NAVI LED APS SHZ   Compact
1475                                            1.6 TDi    Sedans
1772                   1.0 TFSI Adrenalin 70 kW (95 CV)   Compact
1669  Sportback 1.0 TFSI AUT 5-DRS Pro Line (AC/NAV/...   Compact

In [20]:
df[(df.make_model == "Opel Astra") ][["short_description","body_type"]].sample(10)

                                  short_description      body_type
7750                  ST 1,6 CDTI Ultimate S/S Aut.  Station wagon
8027             K 1.0 Turbo Active S/S Sitzheizung         Sedans
7073                    K Sports Tourer Innovation+  Station wagon
8044                  1.6CDTi S/S Selective Pro 110        Compact
6511            J 1.6 CDTI Style ecoFlex Start/Stop  Station wagon
7358            1.0 Turbo ECOTEC Edition Start/Stop         Sedans
5712  Edition K Sports Tourer Automatik Navi 1 Hand  Station wagon
7159     1.4, Autom, 1. Hand, Navi, Spurhalteassist  Station wagon
7700    1.6 D 136ch Innovation Automatique Euro6d-T         Sedans
5755          ST 1.6CDTi Excellence Aut. 136 (4.75)  Station wagon

In [21]:
df.groupby("nr_of_doors")["body_type"].value_counts()

nr_of_doors  body_type
1.00         Compact             1
2.00         Compact           157
             Sedans             50
             Convertible         7
             Coupe               1
             Station wagon       1
3.00         Compact           429
             Sedans            371
             Coupe              17
             Transporter         4
             Station wagon       2
4.00         Sedans           1403
             Station wagon     902
             Compact           658
             Van                90
             Coupe               2
             Off-Road            1
             Transporter         1
5.00         Sedans           5958
             Station wagon    2614
             Compact          1870
             Van               681
             Transporter        82
             Off-Road           54
             Coupe               4
             Convertible         1
7.00         Van                 1
Name: body_type, dtype: int64

In [22]:
df[df.body_type.isnull() == True]["make_model"].value_counts()

Opel Corsa        89
Opel Astra        74
Renault Clio      66
Opel Insignia     51
Renault Espace    34
Audi A3           23
Audi A1           13
Name: make_model, dtype: int64

In [23]:
df.groupby("make_model")["body_type"].value_counts()

make_model      body_type
Audi A1         Sedans           1538
                Compact          1039
                Station wagon      21
                Coupe               2
                Van                 1
Audi A2         Off-Road            1
Audi A3         Sedans           2598
                Station wagon     282
                Compact           182
                Convertible         8
                Coupe               4
Opel Astra      Station wagon    1211
                Sedans           1053
                Compact           185
                Coupe               2
                Off-Road            1
Opel Corsa      Compact          1230
                Sedans            875
                Coupe              13
                Transporter         7
                Off-Road            3
                Van                 2
Opel Insignia   Station wagon    1611
                Sedans            900
                Compact            27
                Off-Road            7
                Coupe               1
                Van                 1
Renault Clio    Sedans            918
                Compact           484
                Station wagon     337
                Transporter        29
                Off-Road            2
                Van                 2
                Coupe               1
Renault Duster  Off-Road           34
Renault Espace  Van               777
                Station wagon      91
                Transporter        52
                Sedans             21
                Off-Road            8
                Compact             6
                Coupe               2
Name: body_type, dtype: int64

**So we're going to fill the missing values by grouping "make_model" column**

In [24]:
# Please check the relevant functions in the Function section.
fill_most_freq(df, ["make_model"], "body_type")

Number of NaN :  0
------------------
Sedans           8005
Station wagon    3678
Compact          3242
Van               817
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [25]:
missing_values

['short_description',
 'body_type',
 'vat',
 'km',
 'type',
 'next_inspection',
 'inspection_new',
 'warranty',
 'full_service',
 'non_smoking_vehicle',
 'first_registration',
 'body_color',
 'paint_type',
 'nr_of_doors',
 'nr_of_seats',
 'displacement',
 'cylinders',
 'weight',
 'drive_chain',
 'co2_emission',
 'emission_class',
 'comfort_and_convenience',
 'entertainment_and_media',
 'extras',
 'safety_and_security',
 'description',
 'emission_label',
 'gears',
 'country_version',
 'previous_owners',
 'hp_kw',
 'warranty_new',
 'upholstery_type',
 'upholstery_color',
 'cons_comb',
 'cons_city',
 'cons_country']

## 2. vat

In [26]:
summary("vat")

Column name              :  vat
--------------------------------
Total missing value      :  4513
Percentage of missing    :  28.35
Number of unique values  :  2

Unique values  :
['VAT deductible' 'Price negotiable' nan]

Number of values
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [27]:
df["vat"].fillna("-", inplace = True)

In [28]:
df.groupby(["make_model", "body_type", "vat"]).price.describe()

                                                count     mean      std  \
make_model     body_type     vat
Audi A1        Compact       -                 257.00 16692.86  3377.35
                             Price negotiable    3.00 17631.67  1548.95
                             VAT deductible    779.00 20019.00  4603.19
               Coupe         VAT deductible      2.00 14925.00  1378.86
               Sedans        -                 498.00 17650.87  4225.47
                             Price negotiable   78.00 16224.31  3545.63
                             VAT deductible    975.00 19370.28  4470.52
               Station wagon -                   4.00 22332.00  7763.74
                             VAT deductible     17.00 16747.71  2481.10
               Van           VAT deductible      1.00 29000.00      NaN
Audi A2        Off-Road      VAT deductible      1.00 28200.00      NaN
Audi A3        Compact       -                  54.00 19112.07  4680.29
                             Price negotiable    3.00 22613.33  8141.99
                             VAT deductible    125.00 18900.50  7543.02
               Convertible   -                   3.00 28150.00  5598.44
                             Price negotiable    1.00 20000.00      NaN
                             VAT deductible      4.00 29698.25 19403.98
               Coupe         -                   2.00 16990.00     0.00
                             Price negotiable    1.00 18000.00      NaN
                             VAT deductible      1.00 19000.00      NaN
               Sedans        -                 686.00 20583.68  5993.64
                             Price negotiable   77.00 20966.84  7574.51
                             VAT deductible   1858.00 21368.27  4137.42
               Station wagon -                  42.00 18985.48  3462.13
                             Price negotiable   19.00 19245.95  2506.64
                             VAT deductible    221.00 21130.88  4930.36
Opel Astra     Compact       -                 116.00 14254.68  2321.57
                             Price negotiable    1.00 15950.00      NaN
                             VAT deductible     68.00 19521.51  8593.55
               Coupe         -                   1.00 14490.00      NaN
                             VAT deductible      1.00 29990.00      NaN
               Off-Road      VAT deductible      1.00 18590.00      NaN
               Sedans        -                 272.00 14016.42  3038.95
                             Price negotiable   23.00 11777.83  2423.03
                             VAT deductible    758.00 16788.75  4564.56
               Station wagon -                 264.00 14243.47  3743.12
                             Price negotiable   21.00 13363.76  3113.58
                             VAT deductible   1000.00 16088.19  5463.60
Opel Corsa     Compact       -                 260.00  9307.60  2059.78
                             Price negotiable    3.00  9496.33  3943.05
                             VAT deductible   1056.00 12241.56  2992.75
               Coupe         -                  10.00  8839.00  1529.01
                             Price negotiable    1.00  7500.00      NaN
                             VAT deductible      2.00  9075.00  2651.65
               Off-Road      -                   3.00  8166.67   461.88
               Sedans        -                 294.00  9385.73  2037.13
                             Price negotiable   37.00  9390.19  2119.21
                             VAT deductible    544.00 10704.44  2823.44
               Transporter   -                   4.00  9312.50  1305.36
                             VAT deductible      3.00  5433.33   175.59
               Van           VAT deductible      2.00  7900.00     0.00
Opel Insignia  Compact       -                  10.00 19967.00  4508.01
                             VAT deductible     17.00 33662.47 11036.46
               Coupe         -                   1.00 17094.00      NaN
               Off-Road      -                   4.00 32854.75  1387.65
                             Price negotiable    1.00 28500.00      NaN
                             VAT deductible      2.00 23120.00 14665.39
               Sedans        -                 204.00 20604.65  7149.12
                             Price negotiable   13.00 15929.92  2636.07
                             VAT deductible    683.00 21561.76  7499.97
               Station wagon -                 349.00 18915.26  6357.18
                             Price negotiable   36.00 15012.11  2544.63
                             VAT deductible   1277.00 22292.01  7947.83
               Van           VAT deductible      1.00 20980.00      NaN
Renault Clio   Compact       -                 159.00 12377.59  3775.61
                             Price negotiable    3.00 12633.00  2372.46
                             VAT deductible    322.00 12784.12  4256.13
               Coupe         -                   1.00 17990.00      NaN
               Off-Road      -                   1.00  7700.00      NaN
                             VAT deductible      1.00 17990.00      NaN
               Sedans        -                 464.00 11608.86  4379.46
                             Price negotiable   59.00 11929.66  4429.81
                             VAT deductible    461.00 12335.19  4706.24
               Station wagon -                 133.00 11271.54  3523.70
                             Price negotiable   12.00 11310.75  2470.44
                             VAT deductible    192.00 11015.15  2684.23
               Transporter   -                  22.00  8544.55  1349.57
                             VAT deductible      7.00  8319.29  1368.41
               Van           -                   1.00  9400.00      NaN
                             VAT deductible      1.00  9900.00      NaN
Renault Duster Off-Road      -                  18.00 12002.78   864.41
                             VAT deductible     16.00 14611.00  1049.96
Renault Espace Compact       -                   4.00 29597.50 11002.00
                             VAT deductible      2.00 30945.00 12791.56
               Coupe         -                   1.00 26994.00      NaN
                             VAT deductible      1.00 34140.00      NaN
               Off-Road      -                   4.00 25975.00  2528.67
                             VAT deductible      4.00 25550.00  7820.27
               Sedans        -                   7.00 26897.14  3292.82
                             VAT deductible     14.00 31630.07  8655.43
               Station wagon -                  32.00 25714.50  6254.90
                             Price negotiable    8.00 25616.25  5404.82
                             VAT deductible     51.00 28585.10 10267.03
               Transporter   -                  20.00 22895.00  3453.07
                             Price negotiable    7.00 21500.00  3964.85
                             VAT deductible     25.00 22685.48  4915.59
               Van           -                 308.00 27953.37  6653.75
                             Price negotiable   19.00 25957.79  3789.47
                             VAT deductible    484.00 32989.40  9368.43

                                                   min      25%      50%  \
make_model     body_type     vat
Audi A1        Compact       -                11100.00 14990.00 15850.00
                             Price negotiable 15950.00 16947.50 17945.00
                             VAT deductible    9950.00 16370.00 19990.00
               Coupe         VAT deductible   13950.00 14437.50 14925.00
               Sedans        -                 8999.00 14819.00 16495.00
                             Price negotiable 10800.00 13912.50 15299.50
                             VAT deductible   10000.00 15950.00 18900.00
               Station wagon -                13999.00 16579.75 23165.00
                             VAT deductible   12950.00 15750.00 16290.00
               Van           VAT deductible   29000.00 29000.00 29000.00
Audi A2        Off-Road      VAT deductible   28200.00 28200.00 28200.00
Audi A3        Compact       -                13100.00 15600.00 18472.50
                             Price negotiable 16990.00 17945.00 18900.00
                             VAT deductible   12900.00 13500.00 16990.00
               Convertible   -                22000.00 25750.00 29500.00
                             Price negotiable 20000.00 20000.00 20000.00
                             VAT deductible   10893.00 18398.25 25900.00
               Coupe         -                16990.00 16990.00 16990.00
                             Price negotiable 18000.00 18000.00 18000.00
                             VAT deductible   19000.00 19000.00 19000.00
               Sedans        -                11990.00 17000.00 19545.00
                             Price negotiable 10550.00 16999.00 18500.00
                             VAT deductible   10950.00 18700.00 21500.00
               Station wagon -                 5555.00 17675.00 18500.00
                             Price negotiable 13900.00 17995.00 19199.00
                             VAT deductible   11790.00 17900.00 21854.00
Opel Astra     Compact       -                 9000.00 12636.00 14300.00
                             Price negotiable 15950.00 15950.00 15950.00
                             VAT deductible    8450.00 13899.00 16744.50
               Coupe         -                14490.00 14490.00 14490.00
                             VAT deductible   29990.00 29990.00 29990.00
               Off-Road      VAT deductible   18590.00 18590.00 18590.00
               Sedans        -                 6950.00 10990.00 13968.50
                             Price negotiable  6500.00 10375.00 11600.00
                             VAT deductible    8490.00 13990.00 15999.00
               Station wagon -                  255.00 11600.00 14700.00
                             Price negotiable  8700.00 10900.00 12900.00
                             VAT deductible    6480.00 11930.00 15895.00
Opel Corsa     Compact       -                  120.00  8065.75  8900.00
                             Price negotiable  6290.00  7295.00  8300.00
                             VAT deductible    4990.00  9890.00 12400.00
               Coupe         -                 6900.00  7825.00  8600.00
                             Price negotiable  7500.00  7500.00  7500.00
                             VAT deductible    7200.00  8137.50  9075.00
               Off-Road      -                 7900.00  7900.00  7900.00
               Sedans        -                   13.00  7900.00  8950.00
                             Price negotiable  6450.00  7800.00  8700.00
                             VAT deductible    5499.00  8500.00  9900.00
               Transporter   -                 7450.00  9062.50  9650.00
                             VAT deductible    5250.00  5350.00  5450.00
               Van           VAT deductible    7900.00  7900.00  7900.00
Opel Insignia  Compact       -                13490.00 17092.50 20400.00
                             VAT deductible   10350.00 34995.00 36490.00
               Coupe         -                17094.00 17094.00 17094.00
               Off-Road      -                31505.00 32135.00 32569.00
                             Price negotiable 28500.00 28500.00 28500.00
                             VAT deductible   12750.00 17935.00 23120.00
               Sedans        -                 9900.00 14800.00 19140.00
                             Price negotiable 10799.00 14800.00 15200.00
                             VAT deductible    8600.00 16985.00 19990.00
               Station wagon -                 9000.00 14900.00 16990.00
                             Price negotiable  8990.00 13475.00 15549.50
                             VAT deductible    8290.00 16420.00 20990.00
               Van           VAT deductible   20980.00 20980.00 20980.00
Renault Clio   Compact       -                 5800.00  9562.50 12545.00
                             Price negotiable  9899.00 11874.50 13850.00
                             VAT deductible    5938.00 10389.00 11299.00
               Coupe         -                17990.00 17990.00 17990.00
               Off-Road      -                 7700.00  7700.00  7700.00
                             VAT deductible   17990.00 17990.00 17990.00
               Sedans        -                 5445.00  8500.00  9900.00
                             Price negotiable  6250.00  8650.00 10000.00
                             VAT deductible    5850.00  9800.00 10790.00
               Station wagon -                 6000.00  8490.00  9900.00
                             Price negotiable  8300.00  9375.00 11399.50
                             VAT deductible    5900.00  9537.50 10450.00
               Transporter   -                 5900.00  7792.50  8790.00
                             VAT deductible    6900.00  7400.00  7900.00
               Van           -                 9400.00  9400.00  9400.00
                             VAT deductible    9900.00  9900.00  9900.00
Renault Duster Off-Road      -                10850.00 11150.00 11950.00
                             VAT deductible   13189.00 14096.50 14611.00
Renault Espace Compact       -                17900.00 22467.50 28745.00
                             VAT deductible   21900.00 26422.50 30945.00
               Coupe         -                26994.00 26994.00 26994.00
                             VAT deductible   34140.00 34140.00 34140.00
               Off-Road      -                22500.00 24900.00 26775.00
                             VAT deductible   14900.00 22400.00 27200.00
               Sedans        -                23800.00 23895.00 25900.00
                             VAT deductible   18999.00 25995.00 28870.00
               Station wagon -                19250.00 20455.00 23445.00
                             Price negotiable 16900.00 23875.00 26340.00
                             VAT deductible   17900.00 19950.00 23950.00
               Transporter   -                16900.00 20500.00 24300.00
                             Price negotiable 19000.00 19050.00 19900.00
                             VAT deductible   14999.00 19450.00 20900.00
               Van           -                13500.00 23867.50 26224.50
                             Price negotiable 20999.00 22300.00 26950.00
                             VAT deductible   12614.00 25990.00 31975.00

                                                   75%      max
make_model     body_type     vat
Audi A1        Compact       -                17900.00 29181.00
                             Price negotiable 18472.50 19000.00
                             VAT deductible   22730.00 31990.00
               Coupe         VAT deductible   15412.50 15900.00
               Sedans        -                20300.00 37900.00
                             Price negotiable 18112.50 33900.00
                             VAT deductible   22315.00 35900.00
               Station wagon -                28917.25 28999.00
                             VAT deductible   16880.00 21450.00
               Van           VAT deductible   29000.00 29000.00
Audi A2        Off-Road      VAT deductible   28200.00 28200.00
Audi A3        Compact       -                20877.50 41495.00
                             Price negotiable 25425.00 31950.00
                             VAT deductible   20300.00 67600.00
               Convertible   -                31225.00 32950.00
                             Price negotiable 20000.00 20000.00
                             VAT deductible   37200.00 56100.00
               Coupe         -                16990.00 16990.00
                             Price negotiable 18000.00 18000.00
                             VAT deductible   19000.00 19000.00
               Sedans        -                22000.00 64900.00
                             Price negotiable 21600.00 57400.00
                             VAT deductible   23900.00 74600.00
               Station wagon -                20975.00 25369.00
                             Price negotiable 21200.00 23800.00
                             VAT deductible   24200.00 63900.00
Opel Astra     Compact       -                15952.25 19950.00
                             Price negotiable 15950.00 15950.00
                             VAT deductible   26899.00 39433.00
               Coupe         -                14490.00 14490.00
                             VAT deductible   29990.00 29990.00
               Off-Road      VAT deductible   18590.00 18590.00
               Sedans        -                15990.00 27889.00
                             Price negotiable 13575.00 15750.00
                             VAT deductible   18450.00 32950.00
               Station wagon -                15982.50 30125.00
                             Price negotiable 15900.00 19500.00
                             VAT deductible   18490.00 34900.00
Opel Corsa     Compact       -                10193.00 17950.00
                             Price negotiable 11099.50 13899.00
                             VAT deductible   14692.00 18622.00
               Coupe         -                10075.00 11100.00
                             Price negotiable  7500.00  7500.00
                             VAT deductible   10012.50 10950.00
               Off-Road      -                 8300.00  8700.00
               Sedans        -                10785.00 16499.00
                             Price negotiable 10900.00 14470.00
                             VAT deductible   12500.00 18490.00
               Transporter   -                 9900.00 10500.00
                             VAT deductible    5525.00  5600.00
               Van           VAT deductible    7900.00  7900.00
Opel Insignia  Compact       -                21750.00 26990.00
                             VAT deductible   38995.00 49884.00
               Coupe         -                17094.00 17094.00
               Off-Road      -                33288.75 34776.00
                             Price negotiable 28500.00 28500.00
                             VAT deductible   28305.00 33490.00
               Sedans        -                23882.50 48950.00
                             Price negotiable 17000.00 20800.00
                             VAT deductible   24450.00 49350.00
               Station wagon -                21520.00 39977.00
                             Price negotiable 16949.25 18900.00
                             VAT deductible   24845.00 52120.00
               Van           VAT deductible   20980.00 20980.00
Renault Clio   Compact       -                13442.50 28949.00
                             Price negotiable 14000.00 14150.00
                             VAT deductible   15485.00 29740.00
               Coupe         -                17990.00 17990.00
               Off-Road      -                 7700.00  7700.00
                             VAT deductible   17990.00 17990.00
               Sedans        -                13900.00 31500.00
                             Price negotiable 13150.00 23999.00
                             VAT deductible   14950.00 29850.00
               Station wagon -                13990.00 20680.00
                             Price negotiable 12675.00 16500.00
                             VAT deductible   11500.00 20800.00
               Transporter   -                 9283.00 10798.00
                             VAT deductible    9087.50 10460.00
               Van           -                 9400.00  9400.00
                             VAT deductible    9900.00  9900.00
Renault Duster Off-Road      -                12250.00 13250.00
                             VAT deductible   15125.50 16033.00
Renault Espace Compact       -                35875.00 43000.00

**When the "vat" values is analyzed in the "make_model" and "body_type" breakdown, there is no strong pattern is founded.**

**This column contains too many missing values. Any bigger manupilation is directly effect the price.**

**We can drop this column due to both the number of missing values and high manipulation.**

In [29]:
df.drop("vat", axis=1, inplace=True)

## 3. nr_of_doors
**Column associated with the make, model and body type of vehicles.**

In [30]:
summary("nr_of_doors")

Column name              :  nr_of_doors
--------------------------------
Total missing value      :  212
Percentage of missing    :  1.33
Number of unique values  :  6

Unique values  :
[ 5.  3.  4.  2. nan  1.  7.]

Number of values
5.00    11575
4.00     3079
3.00      832
2.00      219
NaN       212
1.00        1
7.00        1
Name: nr_of_doors, dtype: int64

In [31]:
df.groupby(["make_model","body_type"])["nr_of_doors"].value_counts(dropna=False)[0:50]

make_model  body_type      nr_of_doors
Audi A1     Compact        5.00            666
                           4.00            207
                           3.00             80
                           2.00             69
                           NaN              17
            Coupe          2.00              1
                           5.00              1
            Sedans         5.00           1056
                           4.00            326
                           3.00            130
                           2.00             29
                           NaN              10
            Station wagon  5.00             17
                           4.00              3
                           3.00              1
            Van            5.00              1
Audi A2     Off-Road       5.00              1
Audi A3     Compact        5.00            164
                           3.00             11
                           4.00              6
                           NaN               1
            Convertible    2.00              7
                           5.00              1
            Coupe          3.00              4
            Sedans         5.00           1963
                           4.00            518
                           3.00             97
                           NaN              24
                           2.00             19
            Station wagon  5.00            169
                           4.00            110
                           NaN               1
                           2.00              1
                           3.00              1
Opel Astra  Compact        5.00            180
                           4.00              5
            Coupe          3.00              1
                           5.00              1
            Off-Road       5.00              1
            Sedans         5.00            797
                           4.00            241
                           NaN              12
                           3.00              3
            Station wagon  5.00            986
                           4.00            287
                           NaN              12
Opel Corsa  Compact        5.00            608
                           3.00            342
                           4.00            270
                           2.00             89
Name: nr_of_doors, dtype: int64

**The number of missing values in the "make_model" and "body_type" breakdown is few. We can fill in each breakdown with the "mode" method.**

In [32]:
fill_most_freq(df, ["make_model","body_type"], "nr_of_doors")

Number of NaN :  0
------------------
5.00    11787
4.00     3079
3.00      832
2.00      219
1.00        1
7.00        1
Name: nr_of_doors, dtype: int64

## 4. nr_of_seats
**We can repeat the filling process like "nr_of_doors"**

In [33]:
summary("nr_of_seats")

Column name              :  nr_of_seats
--------------------------------
Total missing value      :  977
Percentage of missing    :  6.14
Number of unique values  :  6

Unique values  :
[ 5.  4. nan  6.  3.  2.  7.]

Number of values
5.00    13336
4.00     1125
NaN       977
7.00      362
2.00      116
6.00        2
3.00        1
Name: nr_of_seats, dtype: int64

In [34]:
fill_most_freq(df, ["make_model","body_type"], "nr_of_seats")

Number of NaN :  0
------------------
5.00    14308
4.00     1127
7.00      362
2.00      119
6.00        2
3.00        1
Name: nr_of_seats, dtype: int64

## 5. emission_class

In [35]:
summary("emission_class")

Column name              :  emission_class
--------------------------------
Total missing value      :  3628
Percentage of missing    :  22.79
Number of unique values  :  3

Unique values  :
['Euro 6' nan 'Euro 5' 'Euro 4']

Number of values
Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: emission_class, dtype: int64

**We can fill in missing data using columns "short_description", "warranty", "full_service", "non_smoking_vehicle", "description".Some data is in these columns**

In [36]:
df.short_description.str.extract("(Euro \d)")[0]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918    NaN
Name: 0, Length: 15919, dtype: object

In [37]:
df.emission_class.fillna( df.short_description.str.extract("(Euro \d)")[0] , inplace=True)
df.emission_class.value_counts(dropna=False)

Euro 6    12185
NaN        3616
Euro 5       78
Euro 4       40
Name: emission_class, dtype: int64

In [38]:
df.emission_class.fillna( df.warranty.astype("str").str.extract("(Euro \d)")[0], inplace=True)
df.emission_class.value_counts(dropna=False)

Euro 6    12310
NaN        3491
Euro 5       78
Euro 4       40
Name: emission_class, dtype: int64

In [39]:
df.emission_class.fillna( df.full_service.astype("str").str.extract("(Euro \d)")[0] ,inplace=True)
df.emission_class.value_counts(dropna=False)

Euro 6    12737
NaN        3064
Euro 5       78
Euro 4       40
Name: emission_class, dtype: int64

In [40]:
df.emission_class.fillna( df.non_smoking_vehicle.astype("str").str.extract("(Euro \d)")[0], inplace=True)
df.emission_class.value_counts(dropna=False)

Euro 6    12857
NaN        2944
Euro 5       78
Euro 4       40
Name: emission_class, dtype: int64

In [41]:
df.emission_class.fillna( df.description.astype("str").str.extract("(Euro \d)")[0], inplace=True)
df.emission_class.value_counts(dropna=False)

Euro 6    13006
NaN        2790
Euro 5       79
Euro 4       40
Euro 3        2
Euro 2        1
Euro 1        1
Name: emission_class, dtype: int64

**After the last filling process, Euro 3, Euro 2, Euro 1 values came. These are 4 in total.
We will change to Null these values to reduce complexity for ML.**

In [42]:
df.emission_class.replace(["Euro 3", "Euro 2", "Euro 1"], np.nan, inplace=True)

In [43]:
df.groupby(["make_model","body_type"])["emission_class"].value_counts(dropna=False)

make_model      body_type      emission_class
Audi A1         Compact        Euro 6             939
                               NaN                 94
                               Euro 5               5
                               Euro 4               1
                Coupe          NaN                  1
                               Euro 6               1
                Sedans         Euro 6            1232
                               NaN                314
                               Euro 5               5
                Station wagon  Euro 6              19
                               NaN                  2
                Van            NaN                  1
Audi A2         Off-Road       Euro 6               1
Audi A3         Compact        Euro 6             131
                               NaN                 51
                Convertible    Euro 6               7
                               NaN                  1
                Coupe          Euro 6               4
                Sedans         Euro 6            2259
                               NaN                356
                               Euro 5               6
                Station wagon  Euro 6             254
                               NaN                 27
                               Euro 5               1
Opel Astra      Compact        Euro 6             108
                               NaN                 77
                Coupe          NaN                  1
                               Euro 6               1
                Off-Road       Euro 6               1
                Sedans         Euro 6             893
                               NaN                152
                               Euro 5               8
                Station wagon  Euro 6            1072
                               NaN                207
                               Euro 5               6
Opel Corsa      Compact        Euro 6            1193
                               NaN                125
                               Euro 5               1
                Coupe          Euro 6              11
                               NaN                  2
                Off-Road       Euro 5               3
                Sedans         Euro 6             737
                               NaN                133
                               Euro 5               4
                               Euro 4               1
                Transporter    Euro 6               6
                               NaN                  1
                Van            NaN                  2
Opel Insignia   Compact        Euro 6              18
                               NaN                  9
                Coupe          NaN                  1
                Off-Road       NaN                  5
                               Euro 6               2
                Sedans         Euro 6             646
                               NaN                250
                               Euro 5               3
                               Euro 4               1
                Station wagon  Euro 6            1374
                               NaN                277
                               Euro 5              10
                               Euro 4               1
                Van            NaN                  1
Renault Clio    Compact        Euro 6             339
                               NaN                143
                               Euro 5               2
                Coupe          Euro 6               1
                Off-Road       Euro 6               2
                Sedans         Euro 6             748
                               NaN                220
                               Euro 5              14
                               Euro 4               2
                Station wagon  Euro 6             282
                               NaN                 46
                               Euro 5               8
                               Euro 4               1
                Transporter    NaN                 19
                               Euro 6               9
                               Euro 5               1
                Van            NaN                  2
Renault Duster  Off-Road       Euro 4              32
                               NaN                  2
Renault Espace  Compact        NaN                  3
                               Euro 6               3
                Coupe          NaN                  2
                Off-Road       Euro 6               5
                               NaN                  3
                Sedans         Euro 6              14
                               NaN                  7
                Station wagon  Euro 6              83
                               NaN                  7
                               Euro 5               1
                Transporter    Euro 6              46
                               NaN                  6
                Van            Euro 6             565
                               NaN                244
                               Euro 4               1
                               Euro 5               1
Name: emission_class, dtype: int64

In [44]:
fill_most_freq(df, ["make_model","body_type"], "emission_class")

Number of NaN :  0
------------------
Euro 6    15798
Euro 5       79
Euro 4       42
Name: emission_class, dtype: int64

## 6.emission_label

In [45]:
summary("emission_label")

Column name              :  emission_label
--------------------------------
Total missing value      :  11974
Percentage of missing    :  75.22
Number of unique values  :  5

Unique values  :
[nan '4 (Green)' '1 (No sticker)' '5 (Blue)' '3 (Yellow)' '2 (Red)']

Number of values
NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: emission_label, dtype: int64

In [46]:
df.warranty.astype("str").str.extract("((\d \(Blue\))|(\d \(Green\))|(\d \(Yellow\))|(\d \(Red\))|(\d \(No sticker\)))")[0].value_counts(dropna=False)

NaN               15207
4 (Green)           683
1 (No sticker)       21
5 (Blue)              8
Name: 0, dtype: int64

In [47]:
df.emission_label.fillna( df.short_description.astype("str").str.extract("((\d \(Blue\))|(\d \(Green\))|(\d \(Yellow\))|(\d \(Red\))|(\d \(No sticker\)))")[0] , inplace=True)


df.emission_label.fillna( df.warranty.astype("str").str.extract("((\d \(Blue\))|(\d \(Green\))|(\d \(Yellow\))|(\d \(Red\))|(\d \(No sticker\)))")[0], inplace=True)


df.emission_label.fillna( df.full_service.astype("str").str.extract("((\d \(Blue\))|(\d \(Green\))|(\d \(Yellow\))|(\d \(Red\))|(\d \(No sticker\)))")[0] ,inplace=True)


df.emission_label.fillna( df.non_smoking_vehicle.astype("str").str.extract("((\d \(Blue\))|(\d \(Green\))|(\d \(Yellow\))|(\d \(Red\))|(\d \(No sticker\)))")[0], inplace=True)


df.emission_label.fillna( df.description.astype("str").str.extract("((\d \(Blue\))|(\d \(Green\))|(\d \(Yellow\))|(\d \(Red\))|(\d \(No sticker\)))")[0], inplace=True)

In [48]:
df.emission_label.value_counts(dropna=False)

NaN               7984
4 (Green)         7456
1 (No sticker)     435
5 (Blue)            41
3 (Yellow)           2
2 (Red)              1
Name: emission_label, dtype: int64

In [49]:
df.groupby(["emission_class"])["emission_label"].value_counts(dropna=False)

emission_class  emission_label
Euro 4          NaN                 37
                4 (Green)            5
Euro 5          NaN                 57
                4 (Green)           20
                1 (No sticker)       2
Euro 6          NaN               7890
                4 (Green)         7431
                1 (No sticker)     433
                5 (Blue)            41
                3 (Yellow)           2
                2 (Red)              1
Name: emission_label, dtype: int64

In [50]:
df.groupby(["make_model"])["emission_label"].value_counts(dropna=False)

make_model      emission_label
Audi A1         4 (Green)         1378
                NaN               1117
                1 (No sticker)     116
                5 (Blue)             3
Audi A2         4 (Green)            1
Audi A3         NaN               1894
                4 (Green)         1002
                1 (No sticker)     199
                5 (Blue)             2
Opel Astra      4 (Green)         1431
                NaN               1058
                1 (No sticker)      28
                5 (Blue)             8
                3 (Yellow)           1
Opel Corsa      4 (Green)         1194
                NaN                980
                1 (No sticker)      38
                5 (Blue)             6
                2 (Red)              1
Opel Insignia   4 (Green)         1520
                NaN               1043
                1 (No sticker)      20
                5 (Blue)            15
Renault Clio    NaN               1176
                4 (Green)          638
                1 (No sticker)      20
                5 (Blue)             5
Renault Duster  NaN                 34
Renault Espace  NaN                682
                4 (Green)          292
                1 (No sticker)      14
                5 (Blue)             2
                3 (Yellow)           1
Name: emission_label, dtype: int64

In [51]:
df.groupby(["make_model","emission_class"])["emission_label"].value_counts()

make_model      emission_class  emission_label
Audi A1         Euro 4          4 (Green)            1
                Euro 5          4 (Green)            3
                Euro 6          4 (Green)         1374
                                1 (No sticker)     116
                                5 (Blue)             3
Audi A2         Euro 6          4 (Green)            1
Audi A3         Euro 5          4 (Green)            1
                Euro 6          4 (Green)         1001
                                1 (No sticker)     199
                                5 (Blue)             2
Opel Astra      Euro 5          4 (Green)            5
                                1 (No sticker)       1
                Euro 6          4 (Green)         1426
                                1 (No sticker)      27
                                5 (Blue)             8
                                3 (Yellow)           1
Opel Corsa      Euro 5          4 (Green)            1
                Euro 6          4 (Green)         1193
                                1 (No sticker)      38
                                5 (Blue)             6
                                2 (Red)              1
Opel Insignia   Euro 4          4 (Green)            1
                Euro 5          4 (Green)            4
                Euro 6          4 (Green)         1515
                                1 (No sticker)      20
                                5 (Blue)            15
Renault Clio    Euro 4          4 (Green)            2
                Euro 5          4 (Green)            5
                                1 (No sticker)       1
                Euro 6          4 (Green)          631
                                1 (No sticker)      19
                                5 (Blue)             5
Renault Espace  Euro 4          4 (Green)            1
                Euro 5          4 (Green)            1
                Euro 6          4 (Green)          290
                                1 (No sticker)      14
                                5 (Blue)             2
                                3 (Yellow)           1
Name: emission_label, dtype: int64

**Even though we filled in the missing data with the relevant columns, there is still a lot of missing data.**

**There is no strong model when analyzed in the breakdown of "make_model" and "emission_class".
"4 (Green)" takes the lead by a wide margin. It is not to give an effective learning in  ML  when we fill in the missing data.**

**So, We can drop the column**

In [52]:
df.drop(columns="emission_label",inplace=True)

## 7. co2_emission

In [53]:
summary("co2_emission")

Column name              :  co2_emission
--------------------------------
Total missing value      :  2436
Percentage of missing    :  15.3
Number of unique values  :  122

Unique values  :
[ 99.    129.    109.     92.     98.     97.        nan 105.    112.
 103.    102.     95.    104.     91.     94.    117.    123.    106.
 108.    121.    107.    101.    113.    137.    100.    116.    114.
 118.    331.    115.    119.     90.    136.    134.    110.    111.
 120.     89.    142.    126.    122.    128.    127.    138.    130.
 125.     85.    124.    152.     88.    189.    194.    149.    153.
 188.     36.      1.06   96.    990.    146.    135.    158.     12.087
 141.    172.    154.    150.    167.    174.     93.    133.    131.
 145.    147.    156.     87.      5.    148.    139.    151.    144.
 168.    160.    170.     80.    132.    155.     14.    159.      0.
 143.    140.     82.     12.324  84.    165.     51.    157.    169.
 166.    253.    164.    175.    190.    161.    239.    197.    184.
  14.457 199.     13.983 187.    181.    186.    177.    180.    162.
  45.    171.    183.      1.    191.    193.   ]

Number of values
NaN       2436
120.00     740
99.00      545
97.00      537
104.00     501
          ...
14.00        1
1.06         1
51.00        1
165.00       1
193.00       1
Name: co2_emission, Length: 123, dtype: int64

In [54]:
df.groupby(["fuel", "make_model", "body_type", "co2_emission"]).price.describe()

                                             count     mean     std      min  \
fuel    make_model   body_type co2_emission
Benzine Audi A1      Compact   97.00         77.00 15115.64 1746.38 10900.00
                               98.00         23.00 17077.57 3010.23 13999.00
                               100.00         3.00 15903.33 1859.90 14220.00
                               102.00       106.00 17401.34 3100.21  9950.00
                               103.00        30.00 21233.03 1794.55 18350.00
...                                            ...      ...     ...      ...
LPG/CNG Opel Corsa   Sedans    110.00         1.00  7500.00     NaN  7500.00
                               113.00         6.00  9583.33 1338.91  7500.00
                               124.00         2.00  7850.00 1202.08  7000.00
                               135.00         1.00 12400.00     NaN 12400.00
        Renault Clio Sedans    98.00          8.00  8656.25 1522.32  6950.00

                                                 25%      50%      75%  \
fuel    make_model   body_type co2_emission
Benzine Audi A1      Compact   97.00        13820.00 15444.00 16669.00
                               98.00        15290.00 16100.00 16900.00
                               100.00       14905.00 15590.00 16745.00
                               102.00       15772.50 16950.00 19889.25
                               103.00       19225.00 22189.50 22448.50
...                                              ...      ...      ...
LPG/CNG Opel Corsa   Sedans    110.00        7500.00  7500.00  7500.00
                               113.00        8900.00  9700.00 10687.50
                               124.00        7425.00  7850.00  8275.00
                               135.00       12400.00 12400.00 12400.00
        Renault Clio Sedans    98.00         6950.00  9000.00  9925.00

                                                 max
fuel    make_model   body_type co2_emission
Benzine Audi A1      Compact   97.00        18775.00
                               98.00        25256.00
                               100.00       17900.00
                               102.00       29150.00
                               103.00       23550.00
...                                              ...
LPG/CNG Opel Corsa   Sedans    110.00        7500.00
                               113.00       10950.00
                               124.00        8700.00
                               135.00       12400.00
        Renault Clio Sedans    98.00        10500.00

[879 rows x 8 columns]

**Since the CO2 emission values of electric and hybrid vehicles will be different than others, I preferred to fill in the missing emission values of these vehicles.**

In [55]:
df.loc[df.fuel == "Electric", "co2_emission"]

13397   NaN
Name: co2_emission, dtype: float64

In [56]:
df.loc[df.fuel == "Hybrid", "co2_emission"]

3356     NaN
3612   36.00
3615   36.00
3617   36.00
Name: co2_emission, dtype: float64

In [57]:
df.loc[df.fuel == "Hybrid", "co2_emission"] = df.loc[df.fuel == "Hybrid", "co2_emission"].fillna(df.loc[df.fuel == "Hybrid", "co2_emission"].mode()[0])
df.loc[df.fuel == "Electric", "co2_emission"] = df.loc[df.fuel == "Electric", "co2_emission"].fillna(df.loc[df.fuel == "Hybrid", "co2_emission"].mode()[0])

In [58]:
df.loc[df.fuel == "Electric", "co2_emission"]

13397   36.00
Name: co2_emission, dtype: float64

In [59]:
df.loc[df.fuel == "Hybrid", "co2_emission"]

3356   36.00
3612   36.00
3615   36.00
3617   36.00
Name: co2_emission, dtype: float64

**For the rest of the values we can use "median" for filling the missing values.**

In [60]:
fill_median(df, "make_model", "body_type", "fuel", "co2_emission")

Number of NaN :  0
------------------
120.00    1000
104.00     782
97.00      631
99.00      593
124.00     574
          ...
80.00        1
14.00        1
51.00        1
165.00       1
193.00       1
Name: co2_emission, Length: 124, dtype: int64

## 8. cons_comb  & cons_city  &  cons_country

In [61]:
df[["cons_comb", "cons_city", "cons_country"]].isnull().sum()

cons_comb       3759
cons_city       4008
cons_country    3335
dtype: int64

**We can fill in missing data using columns "warranty", "full_service", "non_smoking_vehicle". Some data is in these columns**

In [62]:
df.warranty.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(comb\))", str(x))).value_counts()

[]                       15801
[5.4 l/100 km (comb)]       20
[5.6 l/100 km (comb)]       14
[6 l/100 km (comb)]         10
[6.1 l/100 km (comb)]       10
[5.2 l/100 km (comb)]        9
[4.9 l/100 km (comb)]        7
[6.3 l/100 km (comb)]        6
[5.9 l/100 km (comb)]        5
[4.3 l/100 km (comb)]        5
[5.1 l/100 km (comb)]        4
[4.7 l/100 km (comb)]        4
[5 l/100 km (comb)]          4
[6.2 l/100 km (comb)]        4
[6.7 l/100 km (comb)]        2
[5.7 l/100 km (comb)]        2
[5.8 l/100 km (comb)]        2
[6.4 l/100 km (comb)]        2
[6.6 l/100 km (comb)]        2
[4.5 l/100 km (comb)]        2
[6.5 l/100 km (comb)]        1
[5.5 l/100 km (comb)]        1
[4.4 l/100 km (comb)]        1
[7.4 l/100 km (comb)]        1
Name: warranty, dtype: int64

In [63]:
df["cons_comb_new"] = df.warranty.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(comb\))", str(x)))
df["cons_city_new"] = df.warranty.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(city\))", str(x)))
df["cons_country_new"] = df.warranty.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(country\))", str(x)))

In [64]:
df["cons_comb_new"].fillna(df.full_service.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(comb\))", str(x))),inplace=True)
df["cons_city_new"].fillna(df.full_service.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(city\))", str(x))),inplace=True)
df["cons_country_new"].fillna(df.full_service.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(country\))", str(x))),inplace=True)

df["cons_comb_new"].fillna(df.non_smoking_vehicle.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(comb\))", str(x))),inplace=True)
df["cons_city_new"].fillna(df.non_smoking_vehicle.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(city\))", str(x))),inplace=True)
df["cons_country_new"].fillna(df.non_smoking_vehicle.apply(lambda x : re.findall("(\d*\.?\d? l/100 km *\(country\))", str(x))),inplace=True)

In [65]:
df.cons_comb.fillna(   df["cons_comb_new"].astype("str").str.extract("(\d+)").loc[:,0] , inplace=True)
df.cons_city.fillna(   df["cons_city_new"].astype("str").str.extract("(\d+)").loc[:,0] , inplace=True)
df.cons_country.fillna(   df["cons_country_new"].astype("str").str.extract("(\d+)").loc[:,0] , inplace=True)

In [66]:
df[["cons_comb", "cons_city", "cons_country"]] = df[["cons_comb", "cons_city", "cons_country"]].astype("float")

In [67]:
df[["cons_comb", "cons_city", "cons_country"]].isnull().sum()

cons_comb       3745
cons_city       4006
cons_country    3328
dtype: int64

**I could continue with the "cons_comb" column to represent these three columns. Before that we can make use of "cons_city" and "cons_country" column**

In [68]:
cons_comb_2 = round((df["cons_country"] + df["cons_city"])/2, 1)
cons_comb_2.value_counts(dropna=False)

NaN      4526
5.60      933
4.80      759
3.90      641
4.00      630
6.00      585
5.20      578
4.60      550
6.40      534
5.40      487
4.10      472
5.80      459
4.20      411
5.00      352
3.80      351
5.90      225
6.20      213
3.30      211
6.60      208
5.30      200
5.10      197
4.90      194
6.10      192
4.70      186
3.70      167
3.60      166
4.50      161
5.50      159
7.20      147
6.50      133
7.00       96
3.50       96
3.40       87
4.40       84
4.30       76
6.90       75
6.80       67
6.30       48
5.70       45
7.80       39
9.00       36
7.60       36
7.10       21
3.20       16
6.70       15
7.70       13
8.20       12
7.30        4
8.90        4
7.50        3
8.70        3
7.40        3
8.40        2
8.60        2
9.30        2
8.00        2
8.80        2
9.60        1
9.10        1
15.10       1
dtype: int64

In [69]:
df["cons_comb"] = df["cons_comb"].fillna(cons_comb_2)

In [70]:
df["cons_comb"].isnull().sum()

2459

In [71]:
df["cons_comb"].fillna("-", inplace=True)

In [72]:
df.groupby(["make_model", "body_type", "fuel", "cons_comb"]).price.describe()[0:20]

                                        count     mean     std      min  \
make_model body_type fuel    cons_comb
Audi A1    Compact   Benzine 4.2        87.00 15631.13 2420.35 10900.00
                             4.3        17.00 16628.71 2467.67 13999.00
                             4.4       193.00 17618.92 3250.85  9950.00
                             4.5        11.00 21482.91 1918.66 18400.00
                             4.6        52.00 20729.96 2195.46 14470.00
                             4.7        33.00 22102.67 1889.93 15490.00
                             4.8        93.00 25162.55 3080.47 17330.00
                             4.9       176.00 23133.29 3723.04 13480.00
                             5.1        50.00 18187.28 4445.45 12550.00
                             5.2        22.00 19618.50 3531.95 13475.00
                             5.6         2.00 19888.00    0.00 19888.00
                             5.8         2.00 22495.00  841.46 21900.00
                             6.0         2.00 28819.50  508.41 28460.00
                             6.4         1.00 28997.00     NaN 28997.00
                             6.5         3.00 28786.67  200.33 28560.00
                             13.8        1.00 12990.00     NaN 12990.00
                             -          61.00 19013.26 4183.66 12200.00
                     Diesel  3.4         6.00 12755.00  900.75 11800.00
                             3.5         3.00 14613.00 1848.10 12479.00
                             3.6         5.00 13960.00 1232.07 12900.00

                                            25%      50%      75%      max
make_model body_type fuel    cons_comb
Audi A1    Compact   Benzine 4.2       13970.00 15599.00 16822.50 25256.00
                             4.3       15290.00 15900.00 16900.00 22919.00
                             4.4       15689.00 16950.00 19990.00 28750.00
                             4.5       19744.00 22444.00 23075.00 23250.00
                             4.6       19890.00 21490.00 22095.00 22990.00
                             4.7       21490.00 22400.00 22790.00 27980.00
                             4.8       22785.00 25750.00 27980.00 29197.00
                             4.9       20288.00 22490.00 26980.00 28999.00
                             5.1       15850.00 15850.00 20759.75 28980.00
                             5.2       17142.50 19260.00 21937.50 28880.00
                             5.6       19888.00 19888.00 19888.00 19888.00
                             5.8       22197.50 22495.00 22792.50 23090.00
                             6.0       28639.75 28819.50 28999.25 29179.00
                             6.4       28997.00 28997.00 28997.00 28997.00
                             6.5       28710.00 28860.00 28900.00 28940.00
                             13.8      12990.00 12990.00 12990.00 12990.00
                             -         15975.00 19214.00 21100.00 31990.00
                     Diesel  3.4       11987.50 12640.00 13570.00 13800.00
                             3.5       14079.50 15680.00 15680.00 15680.00
                             3.6       12900.00 13900.00 14200.00 15900.00

In [73]:
df.cons_comb.replace("-",np.nan, inplace=True)

**Since consumption values of electric and hybrid vehicles will be different than others, I preferred to fill in the missing emission values of these vehicles.**

In [74]:
df.loc[df.fuel == "Electric", "cons_comb"]

13397   NaN
Name: cons_comb, dtype: float64

In [75]:
df.loc[df.fuel == "Hybrid", "co2_emission"]

3356   36.00
3612   36.00
3615   36.00
3617   36.00
Name: co2_emission, dtype: float64

In [76]:
df.loc[df.fuel == "Electric", "cons_comb"] = df.loc[df.fuel == "Electric", "cons_comb"].fillna(df.loc[df.fuel == "Hybrid", "co2_emission"].mode()[0])
df.loc[df.fuel == "Electric", "cons_comb"]

13397   36.00
Name: cons_comb, dtype: float64

In [77]:
fill_median(df, "make_model", "body_type", "fuel", "cons_comb")

Number of NaN :  0
------------------
5.40     1035
5.60      852
4.70      846
5.30      830
3.80      801
5.10      794
3.90      770
5.20      758
4.80      746
4.10      652
4.40      625
4.20      589
4.60      545
4.50      523
3.70      468
3.30      462
5.90      411
4.90      393
5.50      384
4.00      353
5.70      343
6.20      320
4.30      308
3.50      288
3.60      251
6.40      221
6.30      212
6.10      184
5.80      165
6.80      159
6.60      148
3.40      130
7.40       66
6.50       46
6.70       43
7.10       38
6.90       27
3.20       25
8.30       20
7.60       16
6.00       12
7.80        7
3.10        7
5.85        7
7.20        6
5.00        5
7.50        4
8.60        4
8.70        3
6.45        3
1.60        3
7.90        3
7.30        2
8.10        2
9.10        1
13.80       1
36.00       1
1.20        1
Name: cons_comb, dtype: int64

In [78]:
df.drop(columns=["cons_city" ,"cons_country" ,"cons_comb_new" ,"cons_city_new" ,"cons_country_new"],inplace=True)

## 9. body_color & paint_type

In [79]:
df[['body_color', 'paint_type']].value_counts()

body_color  paint_type
Grey        Metallic       2730
Black       Metallic       2654
Silver      Metallic       1425
Blue        Metallic       1006
White       Metallic        865
Red         Metallic        526
Brown       Metallic        231
White       Uni/basic       145
Green       Metallic        115
Beige       Metallic         74
Black       Uni/basic        65
Grey        Uni/basic        62
Yellow      Metallic         37
Silver      Uni/basic        30
Red         Uni/basic        22
Blue        Uni/basic        17
Violet      Metallic         13
Bronze      Metallic          3
White       Perl effect       3
Green       Uni/basic         2
Beige       Uni/basic         2
Yellow      Uni/basic         2
Orange      Metallic          1
Brown       Perl effect       1
Red         Perl effect       1
Blue        Perl effect       1
dtype: int64

In [80]:
df.groupby(["make_model", "body_type", 'body_color']).price.describe()

                                     count     mean     std      min      25%  \
make_model     body_type body_color
Audi A1        Compact   Beige        6.00 20556.50 2475.51 16240.00 19766.75
                         Black      320.00 18196.28 4206.97  9950.00 14990.00
                         Blue        96.00 19145.41 4541.86 11444.00 15870.00
                         Brown        9.00 16982.00 2964.39 11445.00 15993.00
                         Green       17.00 23558.12 3849.70 19388.00 19388.00
...                                    ...      ...     ...      ...      ...
Renault Espace Van       Brown       27.00 25718.26 9649.96 12614.00 19225.00
                         Grey       301.00 30236.72 8635.88 15500.00 24800.00
                         Silver      36.00 27373.00 4809.68 12990.00 24560.00
                         Violet      11.00 24434.27 4603.89 19900.00 20499.50
                         White      175.00 32843.68 7568.94 12990.00 29237.50

                                         50%      75%      max
make_model     body_type body_color
Audi A1        Compact   Beige      21420.00 21700.00 23250.00
                         Black      16890.00 21390.00 28997.00
                         Blue       16925.00 22226.00 28980.00
                         Brown      16820.00 18850.00 20750.00
                         Green      22490.00 28240.00 28400.00
...                                      ...      ...      ...
Renault Espace Van       Brown      22990.00 27187.50 47990.00
                         Grey       28000.00 34500.00 64332.00
                         Silver     28500.00 29900.00 35100.00
                         Violet     23900.00 26299.00 34990.00
                         White      31975.00 35886.50 64298.00

[221 rows x 8 columns]

In [81]:
df.groupby(["make_model", "body_type", 'paint_type']).price.describe()

                                           count     mean      std      min  \
make_model     body_type     paint_type
Audi A1        Compact       Metallic     723.00 19412.38  4665.03  9950.00
                             Uni/basic      5.00 16815.20  3405.16 12900.00
               Coupe         Metallic       2.00 14925.00  1378.86 13950.00
               Sedans        Metallic    1000.00 18829.30  4396.32 10300.00
                             Perl effect    1.00 28290.00      NaN 28290.00
                             Uni/basic     57.00 20329.40  4082.87 13900.00
               Station wagon Metallic      16.00 17666.38  3546.88 14440.00
                             Uni/basic      1.00 21450.00      NaN 21450.00
               Van           Metallic       1.00 29000.00      NaN 29000.00
Audi A2        Off-Road      Metallic       1.00 28200.00      NaN 28200.00
Audi A3        Compact       Metallic     106.00 19639.45  8310.24 13100.00
                             Uni/basic      3.00 17130.00  3738.28 12900.00
               Convertible   Metallic       4.00 32475.00 16374.04 20900.00
               Coupe         Metallic       4.00 17745.00   962.65 16990.00
               Sedans        Metallic    1509.00 21139.58  4232.80 10950.00
                             Uni/basic     94.00 21451.87  3393.98 14400.00
               Station wagon Metallic     169.00 20029.34  5138.05 11790.00
Opel Astra     Compact       Metallic      98.00 17708.19  6923.05  9999.00
               Coupe         Metallic       1.00 29990.00      NaN 29990.00
               Off-Road      Metallic       1.00 18590.00      NaN 18590.00
               Sedans        Metallic     704.00 16196.08  4328.46  6500.00
                             Perl effect    1.00 17990.00      NaN 17990.00
                             Uni/basic     15.00 16327.40  2370.29 10900.00
               Station wagon Metallic     909.00 15717.70  5328.70  6000.00
                             Perl effect    1.00 17500.00      NaN 17500.00
                             Uni/basic     11.00 17306.55  4823.58  9700.00
Opel Corsa     Compact       Metallic     811.00 12277.07  3140.18   120.00
                             Uni/basic      2.00 11181.50   307.59 10964.00
               Coupe         Metallic       3.00  8033.33   986.58  6900.00
                             Uni/basic      1.00  8800.00      NaN  8800.00
               Sedans        Metallic     466.00 10751.54  2803.20  6200.00
                             Perl effect    2.00 10145.00  1633.42  8990.00
                             Uni/basic     49.00 10527.24  1826.70  6899.00
               Transporter   Metallic       1.00 10500.00      NaN 10500.00
                             Uni/basic      1.00  9700.00      NaN  9700.00
Opel Insignia  Compact       Metallic      21.00 31568.67 10975.64 10350.00
               Off-Road      Metallic       2.00 23120.00 14665.39 12750.00
               Sedans        Metallic     579.00 21122.66  7572.07  9850.00
                             Uni/basic     11.00 29404.00  5436.83 20300.00
               Station wagon Metallic    1177.00 21593.89  7684.83  8913.00
                             Uni/basic     12.00 24210.75  7191.97 12700.00
               Van           Metallic       1.00 20980.00      NaN 20980.00
Renault Clio   Compact       Metallic     281.00 13576.06  4054.70  5890.00
                             Uni/basic      2.00  9985.00  2114.25  8490.00
               Off-Road      Metallic       2.00 12845.00  7276.13  7700.00
               Sedans        Metallic     410.00 13615.13  5179.93  5700.00
                             Uni/basic     43.00 10113.72  1794.69  7000.00
               Station wagon Metallic     167.00 11460.92  3202.25  5900.00
                             Perl effect    1.00  8500.00      NaN  8500.00
                             Uni/basic      5.00 13187.80  4504.23  9899.00
               Transporter   Metallic       1.00  9885.00      NaN  9885.00
                             Uni/basic      2.00  7400.00   565.69  7000.00
Renault Duster Off-Road      Metallic       1.00 12000.00      NaN 12000.00
                             Uni/basic     16.00 13343.00  1625.59 10900.00
Renault Espace Compact       Metallic       2.00 41495.00  2128.39 39990.00
                             Uni/basic      1.00 21900.00      NaN 21900.00
               Off-Road      Metallic       8.00 25762.50  5385.35 14900.00
               Sedans        Metallic      11.00 31266.09  9386.62 18999.00
                             Uni/basic      3.00 30016.67  1529.98 28250.00
               Station wagon Metallic      63.00 28095.86  8951.32 17900.00
               Transporter   Metallic      34.00 22865.82  4255.81 14999.00
               Van           Metallic     505.00 31507.81  9533.34 12614.00
                             Uni/basic     13.00 27971.15  4495.66 20995.00

                                              25%      50%      75%      max
make_model     body_type     paint_type
Audi A1        Compact       Metallic    15740.00 18750.00 22490.00 31990.00
                             Uni/basic   13500.00 17900.00 19888.00 19888.00
               Coupe         Metallic    14437.50 14925.00 15412.50 15900.00
               Sedans        Metallic    15680.00 16975.00 21900.00 32000.00
                             Perl effect 28290.00 28290.00 28290.00 28290.00
                             Uni/basic   16900.00 19999.00 22490.00 29000.00
               Station wagon Metallic    15850.00 16451.00 17990.00 28890.00
                             Uni/basic   21450.00 21450.00 21450.00 21450.00
               Van           Metallic    29000.00 29000.00 29000.00 29000.00
Audi A2        Off-Road      Metallic    28200.00 28200.00 28200.00 28200.00
Audi A3        Compact       Metallic    14075.00 17490.00 20810.00 67600.00
                             Uni/basic   15700.00 18500.00 19245.00 19990.00
               Convertible   Metallic    21725.00 26450.00 37200.00 56100.00
               Coupe         Metallic    16990.00 17495.00 18250.00 19000.00
               Sedans        Metallic    18500.00 21444.00 23450.00 58990.00
                             Uni/basic   18825.00 21700.00 24300.00 26999.00
               Station wagon Metallic    16999.00 19199.00 22890.00 63900.00
Opel Astra     Compact       Metallic    12955.00 14999.50 18787.50 37995.00
               Coupe         Metallic    29990.00 29990.00 29990.00 29990.00
               Off-Road      Metallic    18590.00 18590.00 18590.00 18590.00
               Sedans        Metallic    13400.00 15840.00 17981.25 31940.00
                             Perl effect 17990.00 17990.00 17990.00 17990.00
                             Uni/basic   14949.50 16500.00 18250.00 18758.00
               Station wagon Metallic    11599.00 15200.00 18290.00 34900.00
                             Perl effect 17500.00 17500.00 17500.00 17500.00
                             Uni/basic   14025.00 15900.00 20596.50 24790.00
Opel Corsa     Compact       Metallic     9274.50 12910.00 14825.00 18622.00
                             Uni/basic   11072.75 11181.50 11290.25 11399.00
               Coupe         Metallic     7700.00  8500.00  8600.00  8700.00
                             Uni/basic    8800.00  8800.00  8800.00  8800.00
               Sedans        Metallic     8600.00  9900.00 12745.25 18490.00
                             Perl effect  9567.50 10145.00 10722.50 11300.00
                             Uni/basic    9495.00  9849.00 11294.00 15390.00
               Transporter   Metallic    10500.00 10500.00 10500.00 10500.00
                             Uni/basic    9700.00  9700.00  9700.00  9700.00
Opel Insignia  Compact       Metallic    25900.00 36032.00 38990.00 49884.00
               Off-Road      Metallic    17935.00 23120.00 28305.00 33490.00
               Sedans        Metallic    16665.00 19650.00 22960.00 49350.00
                             Uni/basic   27200.00 28900.00 33387.50 37599.00
               Station wagon Metallic    15500.00 20850.00 23980.00 52120.00
                             Uni/basic   20462.50 23349.50 29240.00 36590.00
               Van           Metallic    20980.00 20980.00 20980.00 20980.00
Renault Clio   Compact       Metallic    10770.00 13390.00 15490.00 29740.00
                             Uni/basic    9237.50  9985.00 10732.50 11480.00
               Off-Road      Metallic    10272.50 12845.00 15417.50 17990.00
               Sedans        Metallic     9824.00 11000.00 16495.00 29850.00
                             Uni/basic    8350.00 10200.00 10990.00 14500.00
               Station wagon Metallic     9389.00 10000.00 13895.00 20680.00
                             Perl effect  8500.00  8500.00  8500.00  8500.00
                             Uni/basic    9900.00  9990.00 17200.00 18950.00
               Transporter   Metallic     9885.00  9885.00  9885.00  9885.00
                             Uni/basic    7200.00  7400.00  7600.00  7800.00
Renault Duster Off-Road      Metallic    12000.00 12000.00 12000.00 12000.00
                             Uni/basic   12162.50 13219.50 14505.00 16033.00
Renault Espace Compact       Metallic    40742.50 41495.00 42247.50 43000.00
                             Uni/basic   21900.00 21900.00 21900.00 21900.00
               Off-Road      Metallic    24300.00 26775.00 28262.50 32900.00
               Sedans        Metallic    25490.00 28990.00 34850.00 48498.00
                             Uni/basic   29575.00 30900.00 30900.00 30900.00
               Station wagon Metallic    20470.00 25500.00 35370.00 52990.00
               Transporter   Metallic    19924.75 21750.00 24975.00 31000.00
               Van           Metallic    24950.00 29500.00 36781.00 68320.00
                             Uni/basic   24750.00 26900.00 31900.00 34000.00

**It is not appear to be a significant relationship between Paint_Type and price column. We can fill missing values with ffill/bfill method to maintain the current proportionality.**

In [82]:
fill(df, "make_model", "body_type", 'body_color', "ffill")

Number of NaN :  0
------------------
Black     3900
Grey      3615
White     3520
Silver    1707
Blue      1522
Red        995
Brown      298
Green      166
Beige      116
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

In [83]:
fill(df, "make_model", "body_type", 'paint_type', "ffill")

Number of NaN :  0
------------------
Metallic       15250
Uni/basic        637
Perl effect       32
Name: paint_type, dtype: int64

## 10.drive_chain

In [84]:
summary("drive_chain")

Column name              :  drive_chain
--------------------------------
Total missing value      :  6858
Percentage of missing    :  43.08
Number of unique values  :  3

Unique values  :
['front' nan '4WD' 'rear']

Number of values
front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

In [85]:
df["drive_chain"].fillna("-", inplace=True)

In [86]:
df.groupby(["make_model", "body_type","drive_chain"]).price.describe()[0:100]

                                           count     mean      std      min  \
make_model     body_type     drive_chain
Audi A1        Compact       -            352.00 17620.87  4226.12 10490.00
                             4WD            2.00 14790.00  1258.65 13900.00
                             front        685.00 20008.22  4511.35  9950.00
               Coupe         -              2.00 14925.00  1378.86 13950.00
               Sedans        -            561.00 17830.44  4362.32  8999.00
                             4WD            1.00 15450.00      NaN 15450.00
                             front        989.00 19133.79  4441.97 10000.00
               Station wagon -              3.00 24593.00  7537.22 15890.00
                             front         18.00 16681.11  2493.67 12950.00
               Van           front          1.00 29000.00      NaN 29000.00
Audi A2        Off-Road      front          1.00 28200.00      NaN 28200.00
Audi A3        Compact       -             25.00 18236.52  3427.24 12900.00
                             4WD            1.00 67600.00      NaN 67600.00
                             front        156.00 18839.37  6078.74 13100.00
               Convertible   -              4.00 26112.50  6123.78 20000.00
                             4WD            1.00 56100.00      NaN 56100.00
                             front          3.00 20897.67 10003.50 10893.00
               Coupe         -              1.00 16990.00      NaN 16990.00
                             front          3.00 17996.67  1005.00 16990.00
               Sedans        -            891.00 20787.71  5846.56 10550.00
                             4WD           17.00 32913.76 20353.18 13780.00
                             front       1713.00 21223.41  3546.98 10990.00
               Station wagon -            149.00 20254.74  5473.08  5555.00
                             front        133.00 21165.65  3552.00 13250.00
Opel Astra     Compact       -             81.00 17993.35  6740.20  9490.00
                             front        104.00 14802.84  5080.91  8450.00
               Coupe         -              2.00 22240.00 10960.16 14490.00
               Off-Road      front          1.00 18590.00      NaN 18590.00
               Sedans        -            507.00 15488.44  4123.97  6500.00
                             4WD            2.00 13075.00  3641.60 10500.00
                             front        544.00 16416.24  4600.63  8860.00
               Station wagon -            588.00 14923.39  4925.89   255.00
                             front        697.00 16290.03  5318.15  6690.00
Opel Corsa     Compact       -            678.00 10877.92  2906.95   120.00
                             front        641.00 12481.01  3015.97  4990.00
               Coupe         -              6.00  9198.33  1848.46  7200.00
                             front          7.00  8407.14  1342.39  6900.00
               Off-Road      -              3.00  8166.67   461.88  7900.00
               Sedans        -            359.00  9755.08  2483.22    13.00
                             front        516.00 10519.35  2692.19  5970.00
               Transporter   -              1.00 10500.00      NaN 10500.00
                             front          6.00  7175.00  2073.34  5250.00
               Van           -              2.00  7900.00     0.00  7900.00
Opel Insignia  Compact       -             17.00 28728.35 10844.30 13490.00
                             front         10.00 28355.00 12606.28 10350.00
               Coupe         -              1.00 17094.00      NaN 17094.00
               Off-Road      -              1.00 33490.00      NaN 33490.00
                             4WD            5.00 28232.80  8948.57 12750.00
                             front          1.00 31505.00      NaN 31505.00
               Sedans        -            368.00 19794.96  6394.25  8600.00
                             4WD           26.00 34139.35  6543.82 17480.00
                             front        505.00 21675.18  7462.77  9650.00
                             rear           1.00 18990.00      NaN 18990.00
               Station wagon -            705.00 19525.68  6954.36  8290.00
                             4WD           63.00 27784.54 10677.08 11480.00
                             front        892.00 22489.77  7656.69  8990.00
                             rear           2.00 15925.00  4278.00 12900.00
               Van           front          1.00 20980.00      NaN 20980.00
Renault Clio   Compact       -            270.00 12889.82  3883.30  5800.00
                             4WD            1.00  9680.00      NaN  9680.00
                             front        213.00 12359.11  4342.14  6900.00
               Coupe         front          1.00 17990.00      NaN 17990.00
               Off-Road      -              1.00  7700.00      NaN  7700.00
                             front          1.00 17990.00      NaN 17990.00
               Sedans        -            558.00 12059.61  4820.90  5700.00
                             4WD            9.00 23021.00     0.00 23021.00
                             front        416.00 11610.43  3872.65  5445.00
                             rear           1.00 10490.00      NaN 10490.00
               Station wagon -            181.00 11223.81  3357.19  6000.00
                             4WD            1.00 15798.00      NaN 15798.00
                             front        155.00 10983.51  2589.22  5900.00
               Transporter   -             21.00  8468.86  1360.59  5900.00
                             front          8.00  8546.12  1346.64  6900.00
               Van           -              1.00  9900.00      NaN  9900.00
                             front          1.00  9400.00      NaN  9400.00
Renault Duster Off-Road      -             32.00 13343.00  1599.16 10900.00
                             4WD            2.00 11425.00   813.17 10850.00
Renault Espace Compact       -              5.00 31676.00 10601.12 17900.00
                             front          1.00 21900.00      NaN 21900.00
               Coupe         -              2.00 30567.00  5052.99 26994.00
               Off-Road      -              5.00 28600.00  2920.40 24900.00
                             front          3.00 21033.33  5547.37 14900.00
               Sedans        -             16.00 30763.19  8388.43 18999.00
                             front          5.00 27778.00  3676.74 23800.00
               Station wagon -             20.00 28593.95  7401.77 16900.00
                             4WD            1.00 35990.00      NaN 35990.00
                             front         70.00 26825.21  9096.54 17900.00
               Transporter   -             45.00 22355.29  3910.12 14999.00
                             4WD            1.00 30000.00      NaN 30000.00
                             front          6.00 23258.17  5973.32 17000.00
               Van           -            394.00 29624.21  8543.18 12990.00
                             4WD           38.00 38150.76 10013.78 24950.00
                             front        379.00 31525.16  8343.19 12614.00

                                              25%      50%      75%      max
make_model     body_type     drive_chain
Audi A1        Compact       -           14990.00 15900.00 20885.75 29190.00
                             4WD         14345.00 14790.00 15235.00 15680.00
                             front       16430.00 19890.00 22690.00 31990.00
               Coupe         -           14437.50 14925.00 15412.50 15900.00
               Sedans        -           14900.00 16490.00 20700.00 37900.00
                             4WD         15450.00 15450.00 15450.00 15450.00
                             front       15838.00 18500.00 21999.00 32000.00
               Station wagon -           22390.00 28890.00 28944.50 28999.00
                             front       15000.00 16356.00 17300.00 21450.00
               Van           front       29000.00 29000.00 29000.00 29000.00
Audi A2        Off-Road      front       28200.00 28200.00 28200.00 28200.00
Audi A3        Compact       -           16400.00 17894.00 18700.00 29950.00
                             4WD         67600.00 67600.00 67600.00 67600.00
                             front       13910.00 17724.50 20810.00 41495.00
               Convertible   -           21500.00 25750.00 30362.50 32950.00
                             4WD         56100.00 56100.00 56100.00 56100.00
                             front       15896.50 20900.00 25900.00 30900.00
               Coupe         -           16990.00 16990.00 16990.00 16990.00
                             front       17495.00 18000.00 18500.00 19000.00
               Sedans        -           17000.00 19900.00 22990.00 64900.00
                             4WD         16999.00 22499.00 51999.00 74600.00
                             front       18700.00 21490.00 23800.00 34738.00
               Station wagon -           16999.00 19800.00 23401.00 63900.00
                             front       18480.00 21450.00 24200.00 27400.00
Opel Astra     Compact       -           14900.00 15400.00 17800.00 37995.00
                             front       11955.00 12955.00 16344.00 39433.00
               Coupe         -           18365.00 22240.00 26115.00 29990.00
               Off-Road      front       18590.00 18590.00 18590.00 18590.00
               Sedans        -           12962.00 15249.00 16990.00 30750.00
                             4WD         11787.50 13075.00 14362.50 15650.00
                             front       12900.00 15890.00 18457.50 32950.00
               Station wagon -           10900.00 14895.00 17714.00 33995.00
                             front       12250.00 15890.00 18490.00 34900.00
Opel Corsa     Compact       -            8750.00  9950.00 12990.00 18501.00
                             front       10250.00 12940.00 14790.00 18622.00
               Coupe         -            7600.00  9200.00 10867.50 11100.00
                             front        7500.00  8500.00  8750.00 10950.00
               Off-Road      -            7900.00  7900.00  8300.00  8700.00
               Sedans        -            7879.00  9280.00 11265.50 18490.00
                             front        8500.00  9900.00 11692.50 18490.00
               Transporter   -           10500.00 10500.00 10500.00 10500.00
                             front        5487.50  6525.00  9062.50  9700.00
               Van           -            7900.00  7900.00  7900.00  7900.00
Opel Insignia  Compact       -           19900.00 26990.00 37899.00 49884.00
                             front       16500.00 35845.00 38365.00 39990.00
               Coupe         -           17094.00 17094.00 17094.00 17094.00
               Off-Road      -           33490.00 33490.00 33490.00 33490.00
                             4WD         28500.00 32345.00 32793.00 34776.00
                             front       31505.00 31505.00 31505.00 31505.00
               Sedans        -           15475.00 18895.00 21457.50 40990.00
                             4WD         32325.50 34991.00 37356.25 48950.00
                             front       16690.00 20400.00 25464.00 49350.00
                             rear        18990.00 18990.00 18990.00 18990.00
               Station wagon -           14480.00 18880.00 22450.00 44970.00
                             4WD         16940.00 34550.00 36970.00 42475.00
                             front       16182.00 21385.00 27174.75 52120.00
                             rear        14412.50 15925.00 17437.50 18950.00
               Van           front       20980.00 20980.00 20980.00 20980.00
Renault Clio   Compact       -           10589.00 11380.00 14950.00 28949.00
                             4WD          9680.00  9680.00  9680.00  9680.00
                             front        8750.00 11190.00 15485.00 29740.00
               Coupe         front       17990.00 17990.00 17990.00 17990.00
               Off-Road      -            7700.00  7700.00  7700.00  7700.00
                             front       17990.00 17990.00 17990.00 17990.00
               Sedans        -            8660.00  9999.00 14495.00 31500.00
                             4WD         23021.00 23021.00 23021.00 23021.00
                             front        9480.00 10690.00 12960.00 29850.00
                             rear        10490.00 10490.00 10490.00 10490.00
               Station wagon -            8490.00  9990.00 13990.00 20800.00
                             4WD         15798.00 15798.00 15798.00 15798.00
                             front        9615.00 10450.00 11500.00 20680.00
               Transporter   -            7790.00  8490.00  9290.00 10798.00
                             front        7600.00  8531.00  9417.75 10460.00
               Van           -            9900.00  9900.00  9900.00  9900.00
                             front        9400.00  9400.00  9400.00  9400.00
Renault Duster Off-Road      -           12162.50 13219.50 14505.00 16033.00
                             4WD         11137.50 11425.00 11712.50 12000.00
Renault Espace Compact       -           23990.00 33500.00 39990.00 43000.00
                             front       21900.00 21900.00 21900.00 21900.00
               Coupe         -           28780.50 30567.00 32353.50 34140.00
               Off-Road      -           27850.00 27850.00 29500.00 32900.00
                             front       18700.00 22500.00 24100.00 25700.00
               Sedans        -           25797.50 27625.50 33825.00 48498.00
                             front       23800.00 29490.00 30900.00 30900.00
               Station wagon -           24872.50 27250.00 31842.50 45490.00
                             4WD         35990.00 35990.00 35990.00 35990.00
                             front       20455.00 21950.00 30732.50 52990.00
               Transporter   -           19900.00 21000.00 24900.00 31000.00
                             4WD         30000.00 30000.00 30000.00 30000.00
                             front       19262.50 21500.00 26624.25 32700.00
               Van           -           23990.00 27545.00 34368.75 63477.00
                             4WD         31900.00 34200.00 45747.00 57990.00
                             front       25050.00 31360.00 36151.00 68320.00

**The type of drive_chain of cars changes by theirs make_models and body_types most of the time. So I have decided to fill missing values with mode value of related group.**

In [87]:
df.drive_chain.replace("-", np.nan, inplace=True)

In [88]:
fill(df, "make_model", "body_type", "drive_chain", "mode")

Number of NaN :  0
------------------
front    15711
4WD        204
rear         4
Name: drive_chain, dtype: int64

## 11. weight

In [89]:
df["weight"]

0       1220.00
1       1255.00
2           NaN
3       1195.00
4           NaN
          ...
15914   1758.00
15915   1708.00
15916       NaN
15917   1758.00
15918   1685.00
Name: weight, Length: 15919, dtype: float64

In [90]:
df["weight"].fillna("-", inplace=True)

In [91]:
df.groupby(["make_model", "body_type","weight"]).price.describe()

                                 count     mean     std      min      25%  \
make_model     body_type weight
Audi A1        Compact   102.0    1.00 19229.00     NaN 19229.00 19229.00
                         1010.0   2.00 15450.00  707.11 14950.00 15200.00
                         1035.0   6.00 16796.67 2617.87 14390.00 15892.50
                         1040.0   2.00 20424.50 2933.79 18350.00 19387.25
                         1065.0  36.00 20971.78 1982.55 15500.00 18987.50
...                                ...      ...     ...      ...      ...
Renault Espace Van       2037.0   1.00 47950.00     NaN 47950.00 47950.00
                         2353.0   1.00 22990.00     NaN 22990.00 22990.00
                         2410.0   1.00 23990.00     NaN 23990.00 23990.00
                         2471.0   5.00 24738.00 8470.64 17400.00 20900.00
                         -      377.00 30126.30 7273.48 12614.00 24990.00

                                     50%      75%      max
make_model     body_type weight
Audi A1        Compact   102.0  19229.00 19229.00 19229.00
                         1010.0 15450.00 15700.00 15950.00
                         1035.0 15900.00 16575.00 21900.00
                         1040.0 20424.50 21461.75 22499.00
                         1065.0 21690.00 22400.00 23550.00
...                                  ...      ...      ...
Renault Espace Van       2037.0 47950.00 47950.00 47950.00
                         2353.0 22990.00 22990.00 22990.00
                         2410.0 23990.00 23990.00 23990.00
                         2471.0 20900.00 25500.00 38990.00
                         -      29990.00 34950.00 68320.00

[894 rows x 8 columns]

In [92]:
df["weight"].replace("-", np.nan, inplace=True)

In [93]:
fill(df, "make_model", "body_type", "weight", "mode")

Number of NaN :  0
------------------
1163.00    1582
1360.00    1419
1487.00     966
1135.00     837
1425.00     744
           ...
1331.00       1
1132.00       1
1252.00       1
1792.00       1
2037.00       1
Name: weight, Length: 434, dtype: int64

## 12. first_registration

In [94]:
summary("first_registration")

Column name              :  first_registration
--------------------------------
Total missing value      :  1597
Percentage of missing    :  10.03
Number of unique values  :  4

Unique values  :
[2016. 2017. 2018.   nan 2019.]

Number of values
2018.00    4522
2016.00    3674
2017.00    3273
2019.00    2853
NaN        1597
Name: first_registration, dtype: int64

**The age of the vehicles is one of the criteria to be evaluated. From the "first_registration" column I can find the age of the vehicles. In the next process, I can fill in my missing data using the "age" column.***

In [95]:
# The data used for this project were scraped in 2019.

df['age'] = 2019 - df['first_registration']

In [96]:
df['age'].fillna('-', inplace=True)

In [97]:
df["age"].value_counts(dropna=False)

1.0    4522
3.0    3674
2.0    3273
0.0    2853
-      1597
Name: age, dtype: int64

**We can estimate using mileage data. Evaluate the age of the vehicle by determining the estimated mileage data**

In [98]:
df.groupby("age").km.describe()

      count     mean      std   min      25%      50%      75%       max
age
0.0 2706.00  2085.36  5365.88  1.00    10.00    50.00  3000.00 127022.00
1.0 4484.00 18035.24 11052.52  1.00  9990.00 17872.00 25078.50 136000.00
2.0 3272.00 41754.94 28295.75  1.00 21541.75 34752.00 54805.50 317000.00
3.0 3674.00 77442.52 39170.14 10.00 48000.00 72914.50 99950.00 291800.00
-    759.00   934.50  7416.24  0.00     5.00    10.00    10.00  89982.00

In [99]:
df[df["age"] == "-"]["km"].value_counts(dropna=False)

NaN         838
10.00       369
1.00        146
5.00         58
20.00        32
15.00        21
0.00         19
11.00        12
8.00         11
50.00        10
12.00         8
100.00        8
7.00          7
3.00          4
9.00          4
4.00          3
250.00        3
25.00         3
30.00         3
3000.00       2
39962.00      2
2.00          2
22627.00      2
784.00        1
89692.00      1
3500.00       1
325.00        1
497.00        1
99.00         1
77.00         1
40.00         1
19500.00      1
6100.00       1
11000.00      1
89982.00      1
4307.00       1
141.00        1
34164.00      1
500.00        1
150.00        1
11200.00      1
20768.00      1
32084.00      1
142.00        1
81800.00      1
281.00        1
6.00          1
68485.00      1
85000.00      1
196.00        1
4500.00       1
60.00         1
5000.00       1
Name: km, dtype: int64

In [100]:
cond0 = (df['km'] < 10000)
cond1 = ((df['km'] >= 10000) & (df['km'] < 20000))
cond2 = ((df['km'] >= 20000) & (df['km'] < 45000))
cond3 = (df['km'] >= 45000)

In [101]:
df.loc[cond0,'age'] = df.loc[cond0,'age'].replace('-', 0)
df.loc[cond1,'age'] = df.loc[cond1,'age'].replace('-', 1)
df.loc[cond2,'age'] = df.loc[cond2,'age'].replace('-', 2)
df.loc[cond3,'age'] = df.loc[cond3,'age'].replace('-', 3)

In [102]:
df.age.value_counts(dropna=False)

1.0    4525
3.0    3679
0.0    3597
2.0    3280
-       838
Name: age, dtype: int64

In [103]:
df.groupby(['make_model',"body_type", 'age']).price.describe()[:20]

                              count     mean     std      min      25%  \
make_model body_type     age
Audi A1    Compact       0.0 198.00 23277.43 3510.41 14900.00 20503.50
                         1.0 268.00 18596.04 2659.91 13980.00 16445.00
                         2.0 161.00 16602.81 2085.38 10999.00 15450.00
                         3.0 234.00 14532.91 1908.91  9950.00 13407.50
                         -   178.00 23996.26 3383.85 16220.00 21515.00
           Coupe         2.0   1.00 15900.00     NaN 15900.00 15900.00
                         3.0   1.00 13950.00     NaN 13950.00 13950.00
           Sedans        0.0 376.00 24151.03 3175.53 15990.00 21800.00
                         1.0 466.00 18396.30 2582.45 13450.00 16365.00
                         2.0 269.00 16624.10 2252.47 11600.00 14970.00
                         3.0 389.00 14466.90 1890.28  8999.00 13000.00
                         -    51.00 23307.41 3782.71 15980.00 20985.00
           Station wagon 0.0   2.00 28944.50   77.07 28890.00 28917.25
                         1.0  11.00 17410.91 2166.03 15750.00 15870.00
                         2.0   3.00 17613.33 2953.82 14750.00 16095.00
                         3.0   5.00 14358.00 1276.89 12950.00 13979.00
           Van           0.0   1.00 29000.00     NaN 29000.00 29000.00
Audi A2    Off-Road      1.0   1.00 28200.00     NaN 28200.00 28200.00
Audi A3    Compact       0.0  17.00 29345.47 8767.06 15500.00 22300.00
                         1.0  29.00 22030.93 4270.47 14500.00 19999.00

                                  50%      75%      max
make_model body_type     age
Audi A1    Compact       0.0 22492.00 26798.50 31990.00
                         1.0 16980.00 20950.00 23829.00
                         2.0 15850.00 17700.00 22150.00
                         3.0 13994.50 15480.00 18900.00
                         -   22875.00 27380.00 29181.00
           Coupe         2.0 15900.00 15900.00 15900.00
                         3.0 13950.00 13950.00 13950.00
           Sedans        0.0 23745.00 26890.00 37900.00
                         1.0 16949.50 20285.00 33900.00
                         2.0 15900.00 18000.00 23490.00
                         3.0 13950.00 15784.00 19900.00
                         -   22290.00 26720.00 29137.00
           Station wagon 0.0 28944.50 28971.75 28999.00
                         1.0 16480.00 18260.00 21450.00
                         2.0 17440.00 19045.00 20650.00
                         3.0 13999.00 14440.00 16422.00
           Van           0.0 29000.00 29000.00 29000.00
Audi A2    Off-Road      1.0 28200.00 28200.00 28200.00
Audi A3    Compact       0.0 24900.00 37998.00 41495.00
                         1.0 21900.00 22599.00 39959.00

**The average price of the null values is close to the average price of the vehicles with zero. For this project we can assume that the age of the cars is zero for the Null values**

In [104]:
df['age'].replace('-', 0, inplace=True)

In [105]:
df["age"].value_counts(dropna=False)

1.00    4525
0.00    4435
3.00    3679
2.00    3280
Name: age, dtype: int64

In [106]:
df.drop(columns="first_registration", inplace=True)

## 13. type

In [107]:
summary("type")

Column name              :  type
--------------------------------
Total missing value      :  2
Percentage of missing    :  0.01
Number of unique values  :  5

Unique values  :
['Used' "Employee's car" 'New' 'Demonstration' 'Pre-registered' nan]

Number of values
Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type, dtype: int64

**We can fill it using "mode" as there are only 2 missing values**

In [108]:
fill(df,"make_model","body_type","type","mode")

Number of NaN :  0
------------------
Used              11098
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: type, dtype: int64

## 14. next_inspection  &  inspection_new

In [109]:
df.next_inspection.value_counts()[:10]

06/2021    471
03/2021    210
05/2021    180
04/2021    171
02/2021    168
04/2022    144
05/2022    143
01/2021    132
03/2022    121
03/2020    113
Name: next_inspection, dtype: int64

In [110]:
df.inspection_new.value_counts()

Yes    3932
Name: inspection_new, dtype: int64

**The inspection date is not a factor that directly affects the car price.
So we can drop the "next_inspection" column. Let's focus on the "inspection_new" column instead.**

**This column includes new and old controls. There are only "Yes" and Null values in the column. For this project, we can consider Null values as "No".**

In [111]:
df.drop(columns="next_inspection", inplace=True)

In [112]:
df.inspection_new.fillna("No", inplace=True)

In [113]:
summary("inspection_new")

Column name              :  inspection_new
--------------------------------
Total missing value      :  0
Percentage of missing    :  0.0
Number of unique values  :  2

Unique values  :
['Yes' 'No']

Number of values
No     11987
Yes     3932
Name: inspection_new, dtype: int64

## 15. country_version

In [114]:
summary("country_version")

Column name              :  country_version
--------------------------------
Total missing value      :  8333
Percentage of missing    :  52.35
Number of unique values  :  23

Unique values  :
[nan 'Germany' 'Italy' 'Belgium' 'Netherlands' 'Spain' 'European Union'
 'Switzerland' 'Austria' 'Luxembourg' 'France' 'Denmark' 'Poland'
 'Romania' 'Slovakia' 'Sweden' 'Czech Republic' 'Hungary' 'Slovenia'
 'Croatia' 'Egypt' 'Serbia' 'Bulgaria' 'Japan']

Number of values
NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

**In the "short_description" and "description" columns we can catch clues to country names. The code below will help us.**

In [115]:
list_of_search = set()
for i in df.country_version.unique()[1:]:
    search_in_short_description = df[df.short_description.str.contains(i, re.IGNORECASE) == True]["short_description"].values
    search_in_description = df[df.description.str.contains(i, re.IGNORECASE) == True]["description"].values

    if len(search_in_short_description) != 0 :
        list_of_search.update(search_in_short_description)
        
    if len(search_in_description) != 0 :
        list_of_search.update(search_in_description)
len(list_of_search)

82

In [116]:
df[df.short_description.str.contains("Austria", re.IGNORECASE) == True]["short_description"]

1750    1.0 TFSI Austria
2177    1.0 TFSI Austria
2590    1.0 TFSI Austria
2591    1.0 TFSI Austria
2593    1.0 TFSI Austria
Name: short_description, dtype: object

**We can fill in missing data using columns "short_description", "description".**

In [117]:
df[df.description.str.contains("Belgium", re.IGNORECASE) == True]["description"].iloc[1][975:1033]

'(mileage certificate in case the car comes from Belgium), '

**As a result of the examinations, there are values with some country names as above. However, as you will see in part of the explanation above, we learned that vehicles can change countries. So it doesn't make sense to fill in the missing values of "country_version".**

**We will do "ffill" and "bfill" so that the ratio of the values in the column does not change.**

In [118]:
df[df.short_description.str.contains("Belgium", re.IGNORECASE) == True][["short_description", "country_version"]]

                                      short_description country_version
9760  1.2B Belgium Car - Navi met Touch Screen - All...             NaN
9765  1.2B Belgium Car - Navigatie met Touch Screen ...             NaN

In [119]:
df[df.short_description.str.contains("Austria", re.IGNORECASE) == True][["short_description", "country_version"]]

     short_description country_version
1750  1.0 TFSI Austria             NaN
2177  1.0 TFSI Austria             NaN
2590  1.0 TFSI Austria             NaN
2591  1.0 TFSI Austria             NaN
2593  1.0 TFSI Austria             NaN

In [120]:
df[df.short_description.str.contains(i, re.IGNORECASE) == True]["short_description"]

Series([], Name: short_description, dtype: object)

In [121]:
len('\n, Car immediately available!, *8900 Eur, : This price is without VAT (only for EU companies and/or export), *10769 Eur, : Price including VAT, without guarantee and Technical inspection, *11.569 Eur, : incl.VAT - For PRIVATE individuals: includes 1 Year of Guarantee and Technical inspection - Mandatory for Private customers in Belgium.,  Solafcars is a car dealer and specializes in selling second-hand vehicles provided by financial institutions and official brand dealers. All vehicles originate directly from , first owners, . All our vehicles are , maintained,  according to manufacturer’s regulations. Our employees carefully select quality vehicles from our partners and suppliers for a low cost without compromising on service. Although our main focus is on business-2-business sales we are always open to new private customers/individuals. ,  , Solafcars offers,  every vehicle with the following documents:,  *Full service history from official dealer,  *Carpass ')

975

In [122]:
df.country_version = df.country_version.fillna(method="ffill").fillna(method="bfill")
summary("country_version")

Column name              :  country_version
--------------------------------
Total missing value      :  0
Percentage of missing    :  0.0
Number of unique values  :  23

Unique values  :
['Germany' 'Italy' 'Belgium' 'Netherlands' 'Spain' 'European Union'
 'Switzerland' 'Austria' 'Luxembourg' 'France' 'Denmark' 'Poland'
 'Romania' 'Slovakia' 'Sweden' 'Czech Republic' 'Hungary' 'Slovenia'
 'Croatia' 'Egypt' 'Serbia' 'Bulgaria' 'Japan']

Number of values
Germany           8835
Italy             2776
Netherlands        912
European Union     891
Spain              819
Belgium            785
Austria            404
Czech Republic     118
France              98
Poland              96
Denmark             73
Hungary             38
Japan               34
Slovakia            10
Croatia              7
Sweden               5
Romania              4
Switzerland          4
Serbia               3
Bulgaria             3
Luxembourg           2
Slovenia             1
Egypt                1
Name: country_version, dtype: int64

## 16. upholstery_type & upholstery_color

In [123]:
summary("upholstery_type")

Column name              :  upholstery_type
--------------------------------
Total missing value      :  4871
Percentage of missing    :  30.6
Number of unique values  :  5

Unique values  :
['Cloth' nan 'Part leather' 'Full leather' 'alcantara' 'Velour']

Number of values
Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: upholstery_type, dtype: int64

In [124]:
summary("upholstery_color")

Column name              :  upholstery_color
--------------------------------
Total missing value      :  6038
Percentage of missing    :  37.93
Number of unique values  :  9

Unique values  :
['Black' 'Grey' nan 'White' 'Red' 'Blue' 'Orange' 'Brown' 'Beige' 'Yellow']

Number of values
Black     8201
NaN       6038
Grey      1376
Brown      207
Beige       54
Blue        16
White       13
Red          9
Yellow       4
Orange       1
Name: upholstery_color, dtype: int64

**Checked "short_description" and "description" columns for "upholstery_type"**

In [125]:
df[  df.upholstery_type.isnull()   &\
     df["short_description"].str.lower().str.contains("cloth|part leather|full leather|alcantara|velour")\
  ]["short_description"].shape

(0,)

In [126]:
df[  df.upholstery_type.isnull()   &\
     df["description"].str.lower().str.contains("cloth|part leather|full leather|alcantara|velour")\
  ]["description"].shape

(87,)

In [127]:
df[  df.upholstery_type.isnull()   &\
     df["description"].str.lower().str.contains("cloth|part leather|full leather|alcantara|velour")\
      ]["description"]

87       \nMagnifique Audi A1 Design S ligne 3 portes S...
230      \nAccessori: ,  Sensori parcheggio ,  Sensori ...
595      \nAirbags grand volume conducteur et passager ...
759      \nIch verkaufe schweren Herzens meinen geliebt...
1004     \nGarantie bis 03/2020, Das Fahrzeug ist in ei...
2394     \nJetzt SUPER PREISE BEI LEASING, Sie entschei...
2462     \n, Getriebe:,  Schaltgetriebe, Technik:,  Bor...
2818     \n(((Nettopreis:14285 ,-Euro))), A3 Sportback ...
2851     \nAudi A3 s-line Sedan DSG auto , Intérieur al...
3073     \nDEK:[2740823], Codice riferimento: 16659 - P...
3078     \nDEK:[2740823], Codice riferimento: 16659 - P...
3079     \nDEK:[2740823], Codice riferimento: 16659 - P...
3080     \nDEK:[2740823], Codice riferimento: 16659 - P...
3161     \n, Sehr guter Allgemeinzustand, im Kundenauft...
3165     \nPrecio financiado del vehículo:14. 500€, Pre...
3338     \nmacchina pari a nuovo sempre tenuta in garag...
3405     \nVettura in perfette condizioni, carrozzeria ...
3481     \n, Sonderausstattung:, 1.Hand,, Unfallfrei, S...
3496     \nACHTUNG: Für besichtigungtermine Bitte Rufen...
3585     \nAudi Prima Scelta Plus - ANCORA 2 ANNI DI GA...
3646     \nancora 2 ANNI DI GARANZIA Ufficiale Audi, Au...
3647     \n, AGENCE SIMPLICI CAR TERNES PORTE MAILLOT 0...
3680     \nVerkaufe hier meinen Audi A3 Sportback 2.0 T...
4058     \nMacchina praticamente nuova tenuta maniacalm...
4237     \n, Pakete:, Nichtraucher-Paket, Ablage- und G...
4291     \n, 17 Zoll Leichtmetallräder mit Sommerbereif...
4441     \n, Pakete:, Nichtraucher-Paket, Ablage- und G...
4993     \n, EU-Neuwagen mit Tageszulassung 30.11.2018,...
4994     \n, EU-Neuwagen mit Tageszulassung 30.11.2018,...
4995     \n, EU-Neuwagen mit Tageszulassung 30.11.2018,...
4997     \n, Sonderausstattung,  ,  , Audi connect (Int...
5209     \n, EU-Neuwagen mit Tageszulassung 30.11.2018,...
5293     \n, EU-Neuwagen mit Tageszulassung, Sonderauss...
5349     \nNeuwagen mit Tageszulassung 30.11.2018, Sond...
5498     \nNeuwagen mit Tageszulassung 30.11.2018, Sond...
5505     \n, EU-Neuwagen mit Tageszulassung 30.11.2018,...
5546     \n, EU-Neuwagen mit Tageszulassung 30.11.2018,...
5548     \n, EU-Neuwagen mit Tageszulassung 30.11.2018,...
5843     \nBilder folgen in Kürze., Deutsche Ausführung...
6440     \nDeze auto is exclusief online te bestellen v...
6465     \nfahrzeugbeschreibung, Sonderausstattung: Lac...
6575     \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
6636     \n, Unfallfrei, Zustand: normal, Euro6, Verkeh...
6666     \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
6702     \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
7572     \n, Sonderausstattung:, Allwetter-/ Ganzjahres...
7653     \n, Rücksitzlehne geteilt (40:20:40),  , Wärme...
7719     \nRoue de secours taille réduite ald kit Gris ...
7837     \n, Ausstattungsliste, --- KOMFORT ---, 2-Zone...
8055     \n, Aktionspreis,  auf limitierte Stückzahl - ...
8212     \n, Aktionspreis,  auf limitierte Stückzahl - ...
8214     \n, Aktionspreis,  auf limitierte Stückzahl - ...
8216     \n, Aktionspreis,  auf limitierte Stückzahl - ...
8314     \n, Sitz vorn rechts höhenverstellbar,  , Wint...
8498     \n, Sonderausstattung:, Audiosystem R 4.0 Inte...
8755     \nEn Traverauto (Desde 1978,Opel desde 1986), ...
8825     \n, Pakete:, Funktions-Paket, Komfort-Paket (1...
8849     \n, Sonderausstattung:, Funktions-Paket, Fußma...
8903     \nfahrzeugbeschreibung, Sonderausstattung: Lac...
9142     \nFunktions-Paket, Komfort-Paket 2, Winter-Pak...
9189     \n08T TRIM COLOR SEAT SHIMMER BLACK, 1AB TRIM ...
9297     \nEn Traverauto (Desde 1978,Opel desde 1986), ...
9431     \n122€ /mes SIN ENTRADA., Equipamiento:, - Luc...
11387    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
11457    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
11481    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
11562    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
11566    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
11594    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
11692    \n, Unfallfrei, Zustand: normal, Euro6, Verkeh...
11720    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
11723    \n, Unfallfrei, Zustand: normal, Euro6, Verkeh...
11726    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
11727    \n, Unfallfrei, Zustand: normal, Euro6, Apple ...
12322    \n, Unfallfrei, Zustand: normal, Apple CarPlay...
12931    \nSicht-Paket, Navi-Paket, Karosserie: 5-türig...
13022    \n, Intern.Nr.: Kiffe 1505 NW, Tel.:02381-9550...
13135    \nMarque: RENAULTModèle: CLIO ESTATEVersion: 1...
13170    \nIV ESTATE TCe 120 Energy EDC Intens, essence...
13172    \nIV ESTATE dCi 90 E6C EDC Intens, diesel, bla...
13350    \n•Couleur : Gris Titanium (KPN), •Date de 1èr...
13442    \nBonjour,, Je met en vente ma Renault Clio IV...
13794    \nVendo perfetta clio rs18 edizione numerata q...
14261    \n, RENAULT CLIO R.S. Erleben Sie besonderen N...
14262    \nRenault Clio Edition limitée RS18, 220cv, Sp...
14267    \nRenault Sport RS 18 número 161/200, Extras:,...
14373    \nAkrapovic uitlaatsysteem , Alcantara stuurwi...
Name: description, dtype: object

In [128]:
df[  df.upholstery_type.isnull()   &\
     df["description"].str.lower().str.contains("cloth|part leather|full leather|alcantara|velour")\
  ]["description"].iloc[1][288:320]

'Sedili in alcantara riscaldabili'

**translation:  "Heated Alcantara seats"**

In [129]:
df[  df.upholstery_type.isnull()   &\
     df["description"].str.lower().str.contains("cloth|part leather|full leather|alcantara|velour")\
      ]["description"].iloc[2][2367:2430]

"Moquette en velours de couleur assortie à celle de l'habitacle,"

**translation:  "Car Mat in a color matching that of the passenger compartment"**

**As can be understood from the translation, some fabric types are associated with different materials of the vehicle.**

In [130]:
#  France "tissu" == Cloth
#  German "stoff" == Cloth
# 
df[  df.upholstery_type.isnull()   &\
     df["description"].str.lower().str.contains("tissu|stoff")\
      ]["description"]

9        \nClim automatique,Ecran multifonction couleur...
29       \n, Sonderausstattung:, Airbag Beifahrerseite ...
55       \n, FINANZIERUNG OHNE ANZAHLUNG MIT EINER MONA...
64       \n, Gut erhaltener Audi A1 1.4 TDI ultra Sport...
180      \n, Highlights: , Qualitätssiegel GW:plus, 1. ...
                               ...
15618    \n, Sonderausstattung:, 3.Sitzreihe mit Einzel...
15659    \n, Klimaautomatik 2-fach, Fahrerairbag, Beifa...
15709    \n, Audio-Navigationssystem R-Link 2 mit Touch...
15771    \n, Klimaautomatik 2-fach, Fahrerairbag, Beifa...
15777    \n, Klimaautomatik 2-fach, Fahrerairbag, Beifa...
Name: description, Length: 451, dtype: object

**In the "description" column, there are results when the related upholstery types are searched in different languages. But we will fill the missing values with "ffill" and "bfill" to shorten the EDA process.**

In [131]:
fill(df, "make_model", "body_type", "upholstery_type", "ffill")

Number of NaN :  0
------------------
Cloth           12157
Part leather     2128
Full leather     1458
alcantara          95
Velour             81
Name: upholstery_type, dtype: int64

In [132]:
fill(df, "make_model", "body_type", "upholstery_color", "ffill")

Number of NaN :  0
------------------
Black     13035
Grey       2228
Brown       488
Beige        80
White        34
Blue         29
Red          18
Yellow        6
Orange        1
Name: upholstery_color, dtype: int64

## 17. previous_owners

In [133]:
summary("previous_owners")

Column name              :  previous_owners
--------------------------------
Total missing value      :  6640
Percentage of missing    :  41.71
Number of unique values  :  5

Unique values  :
[ 2. nan  1.  0.  3.  4.]

Number of values
1.00    8294
NaN     6640
2.00     778
0.00     188
3.00      17
4.00       2
Name: previous_owners, dtype: int64

In [134]:
df["previous_owners"].fillna("-", inplace = True)

In [135]:
df.groupby(['make_model', 'body_type', 'age', 'previous_owners']).price.describe()[0:100]

                                               count     mean      std  \
make_model body_type     age  previous_owners
Audi A1    Compact       0.00 0.0              16.00 22445.56  1877.17
                              1.0              81.00 23396.51  3380.45
                              2.0               1.00 21760.00      NaN
                              -               278.00 23756.33  3555.13
                         1.00 1.0             195.00 18108.74  2381.81
                              2.0               7.00 19319.71  2516.06
                              -                66.00 19959.05  2981.80
                         2.00 1.0              65.00 16785.78  2346.62
                              2.0              43.00 16099.07  1080.32
                              -                53.00 16787.09  2318.33
                         3.00 1.0             128.00 14317.62  2002.81
                              2.0              50.00 15031.18  1293.33
                              3.0               1.00 11990.00      NaN
                              -                55.00 14627.20  2074.28
           Coupe         2.00 -                 1.00 15900.00      NaN
                         3.00 2.0               1.00 13950.00      NaN
           Sedans        0.00 0.0              29.00 21705.38  3589.56
                              1.0             157.00 24610.80  3459.02
                              -               241.00 23967.27  2951.81
                         1.00 0.0               1.00 19700.00      NaN
                              1.0             290.00 18172.64  2433.29
                              2.0               7.00 19268.14  2940.91
                              -               168.00 18738.29  2786.73
                         2.00 0.0               1.00 15900.00      NaN
                              1.0             129.00 16784.71  2332.71
                              2.0              29.00 16738.28  2023.01
                              3.0               1.00 15480.00      NaN
                              4.0               1.00 21300.00      NaN
                              -               108.00 16375.62  2192.92
                         3.00 0.0               4.00 13522.50  1736.09
                              1.0             268.00 14477.85  1823.13
                              2.0              31.00 13936.16  1471.77
                              -                86.00 14668.01  2193.82
           Station wagon 0.00 1.0               1.00 28890.00      NaN
                              -                 1.00 28999.00      NaN
                         1.00 1.0              11.00 17410.91  2166.03
                         2.00 1.0               1.00 14750.00      NaN
                              2.0               2.00 19045.00  2269.81
                         3.00 1.0               5.00 14358.00  1276.89
           Van           0.00 -                 1.00 29000.00      NaN
Audi A2    Off-Road      1.00 1.0               1.00 28200.00      NaN
Audi A3    Compact       0.00 0.0               2.00 23582.50  1283.40
                              1.0               2.00 22945.00  2764.79
                              -                17.00 29891.06  8396.16
                         1.00 1.0               1.00 19990.00      NaN
                              -                28.00 22103.82  4330.42
                         2.00 1.0              10.00 22861.00 15765.36
                              2.0               1.00 18900.00      NaN
                              -                28.00 19699.68  3026.01
                         3.00 1.0              12.00 17681.67  3819.22
                              2.0               1.00 14900.00      NaN
                              -                80.00 14952.16  1706.95
           Convertible   1.00 1.0               2.00 39050.00 24112.34
                              -                 1.00 10893.00      NaN
                         2.00 1.0               1.00 20900.00      NaN
                              -                 3.00 31116.67  1735.18
                         3.00 -                 1.00 20000.00      NaN
           Coupe         2.00 -                 1.00 19000.00      NaN
                         3.00 1.0               3.00 17326.67   583.12
           Sedans        0.00 0.0              37.00 24874.97  3219.57
                              1.0             240.00 25095.73  1724.47
                              -               418.00 24732.78  2568.61
                         1.00 0.0               4.00 20450.00   506.62
                              1.0             353.00 22258.02  4558.79
                              2.0              10.00 21766.00   918.21
                              -               346.00 22894.08  5884.55
                         2.00 1.0             290.00 19653.89  3019.12
                              2.0              33.00 20801.85  3811.69
                              -               236.00 20220.25  4356.19
                         3.00 0.0               1.00 15899.00      NaN
                              1.0             391.00 16218.52  2009.34
                              2.0              45.00 16077.31  1480.96
                              -               217.00 17689.68  4011.23
           Station wagon 0.00 0.0              10.00 24277.30  1217.18
                              1.0              15.00 27724.60 10129.82
                              -                86.00 24080.62  1801.38
                         1.00 0.0               1.00 19900.00      NaN
                              1.0              24.00 21943.67  1201.66
                              2.0               1.00 20700.00      NaN
                              -                 6.00 18805.83  6855.54
                         2.00 1.0              50.00 18839.14  1561.90
                              2.0              13.00 19201.69  1322.55
                              -                 9.00 19689.33  1499.47
                         3.00 1.0              52.00 15576.67  1948.95
                              2.0               7.00 16031.43  1127.39
                              3.0               2.00 15500.00  3394.11
                              -                 6.00 16890.00  1500.67
Opel Astra Compact       0.00 1.0               9.00 20355.33  5113.20
                              -                52.00 22289.04  7474.47
                         1.00 1.0               6.00 14079.17   441.32
                              -                33.00 14833.61  1335.55
                         2.00 1.0               1.00 11980.00      NaN
                              -                54.00 13112.07  1895.68
                         3.00 1.0               5.00 13781.80  2016.91
                              2.0               1.00 14999.00      NaN
                              -                24.00 11533.50  2764.32
           Coupe         0.00 1.0               1.00 29990.00      NaN
                         3.00 1.0               1.00 14490.00      NaN
           Off-Road      1.00 1.0               1.00 18590.00      NaN
           Sedans        0.00 0.0               9.00 18440.56  4375.90

                                                   min      25%      50%  \
make_model body_type     age  previous_owners
Audi A1    Compact       0.00 0.0             19490.00 22174.75 22400.00
                              1.0             14900.00 21330.00 22900.00
                              2.0             21760.00 21760.00 21760.00
                              -               16220.00 20988.00 22725.00
                         1.00 1.0             13980.00 16430.00 16940.00
                              2.0             16960.00 16980.00 18470.00
                              -               14500.00 16800.00 20970.00
                         2.00 1.0             10999.00 15450.00 15975.00
                              2.0             14220.00 15850.00 15850.00
                              -               12490.00 15290.00 15900.00
                         3.00 1.0              9950.00 12942.50 13915.00
                              2.0             11490.00 14966.75 14990.00
                              3.0             11990.00 11990.00 11990.00
                              -               11100.00 13400.00 13900.00
           Coupe         2.00 -               15900.00 15900.00 15900.00
                         3.00 2.0             13950.00 13950.00 13950.00
           Sedans        0.00 0.0             17173.00 19250.00 21280.00
                              1.0             15990.00 21790.00 24800.00
                              -               15980.00 21900.00 22950.00
                         1.00 0.0             19700.00 19700.00 19700.00
                              1.0             13500.00 16265.75 16900.00
                              2.0             14960.00 17195.00 19800.00
                              -               13450.00 16490.00 18900.00
                         2.00 0.0             15900.00 15900.00 15900.00
                              1.0             11600.00 14990.00 15900.00
                              2.0             13390.00 14950.00 15980.00
                              3.0             15480.00 15480.00 15480.00
                              4.0             21300.00 21300.00 21300.00
                              -               11990.00 14950.00 15680.00
                         3.00 0.0             11790.00 12622.50 13200.00
                              1.0             10000.00 13298.75 13990.00
                              2.0             10800.00 12989.50 13700.00
                              -                8999.00 12992.25 13985.00
           Station wagon 0.00 1.0             28890.00 28890.00 28890.00
                              -               28999.00 28999.00 28999.00
                         1.00 1.0             15750.00 15870.00 16480.00
                         2.00 1.0             14750.00 14750.00 14750.00
                              2.0             17440.00 18242.50 19045.00
                         3.00 1.0             12950.00 13979.00 13999.00
           Van           0.00 -               29000.00 29000.00 29000.00
Audi A2    Off-Road      1.00 1.0             28200.00 28200.00 28200.00
Audi A3    Compact       0.00 0.0             22675.00 23128.75 23582.50
                              1.0             20990.00 21967.50 22945.00
                              -               15500.00 23300.00 27288.00
                         1.00 1.0             19990.00 19990.00 19990.00
                              -               14500.00 19999.75 21925.00
                         2.00 1.0             16950.00 16990.00 17520.00
                              2.0             18900.00 18900.00 18900.00
                              -               13790.00 18000.00 19400.00
                         3.00 1.0             13450.00 14875.00 17425.00
                              2.0             14900.00 14900.00 14900.00
                              -               12900.00 13500.00 13970.00
           Convertible   1.00 1.0             22000.00 30525.00 39050.00
                              -               10893.00 10893.00 10893.00
                         2.00 1.0             20900.00 20900.00 20900.00
                              -               29500.00 30200.00 30900.00
                         3.00 -               20000.00 20000.00 20000.00
           Coupe         2.00 -               19000.00 19000.00 19000.00
                         3.00 1.0             16990.00 16990.00 16990.00
           Sedans        0.00 0.0             20000.00 22943.00 23925.00
                              1.0             21100.00 23900.00 24900.00
                              -               18820.00 23604.00 24850.00
                         1.00 0.0             19800.00 20175.00 20550.00
                              1.0             14250.00 20750.00 21490.00
                              2.0             20200.00 21362.50 21640.00
                              -               17500.00 20900.00 21645.00
                         2.00 1.0             13000.00 17982.50 19398.50
                              2.0             17300.00 18900.00 19700.00
                              -               10550.00 18000.00 19270.00
                         3.00 0.0             15899.00 15899.00 15899.00
                              1.0             10950.00 15050.00 15900.00
                              2.0             11990.00 14999.00 15940.00
                              -               12400.00 15480.00 16399.00
           Station wagon 0.00 0.0             23044.00 23590.00 23794.50
                              1.0             21000.00 24660.00 24999.00
                              -               17990.00 22990.00 23993.00
                         1.00 0.0             19900.00 19900.00 19900.00
                              1.0             19800.00 21200.00 21965.00
                              2.0             20700.00 20700.00 20700.00
                              -                5555.00 18525.00 20940.00
                         2.00 1.0             14590.00 18049.25 18980.00
                              2.0             16990.00 18490.00 19000.00
                              -               16999.00 19100.00 19550.00
                         3.00 1.0             11790.00 13900.00 15875.00
                              2.0             13900.00 15925.00 15990.00
                              3.0             13100.00 14300.00 15500.00
                              -               15000.00 15875.00 16700.00
Opel Astra Compact       0.00 1.0             16500.00 16500.00 17990.00
                              -               15816.00 16990.00 17800.00
                         1.00 1.0             13899.00 13899.00 13899.00
                              -               11999.00 14300.00 14900.00
                         2.00 1.0             11980.00 11980.00 11980.00
                              -                9999.00 11955.00 12636.00
                         3.00 1.0             10980.00 12490.00 14480.00
                              2.0             14999.00 14999.00 14999.00
                              -                8450.00  9925.00 10825.00
           Coupe         0.00 1.0             29990.00 29990.00 29990.00
                         3.00 1.0             14490.00 14490.00 14490.00
           Off-Road      1.00 1.0             18590.00 18590.00 18590.00
           Sedans        0.00 0.0             14150.00 14975.00 18225.00

                                                   75%      max
make_model body_type     age  previous_owners
Audi A1    Compact       0.00 0.0             22480.00 28650.00
                              1.0             25800.00 29179.00
                              2.0             21760.00 21760.00
                              -               27380.00 31990.00
                         1.00 1.0             19989.00 23829.00
                              2.0             21949.00 21950.00
                              -               22448.50 23700.00
                         2.00 1.0             17970.00 21490.00
                              2.0             15850.00 20990.00
                              -               18950.00 22150.00
                         3.00 1.0             15637.50 18880.00
                              2.0             14990.00 17998.00
                              3.0             11990.00 11990.00
                              -               15675.00 18900.00
           Coupe         2.00 -               15900.00 15900.00
                         3.00 2.0             13950.00 13950.00
           Sedans        0.00 0.0             22200.00 30000.00
                              1.0             27500.00 35900.00
                              -               26360.00 37900.00
                         1.00 0.0             19700.00 19700.00
                              1.0             19990.00 23880.00
                              2.0             21363.50 23000.00
                              -               20500.00 33900.00
                         2.00 0.0             15900.00 15900.00
                              1.0             18500.00 22500.00
                              2.0             17950.00 20990.00
                              3.0             15480.00 15480.00
                              4.0             21300.00 21300.00
                              -               17900.00 23490.00
                         3.00 0.0             14100.00 15900.00
                              1.0             15482.50 18900.00
                              2.0             14667.50 17490.00
                              -               16500.00 19900.00
           Station wagon 0.00 1.0             28890.00 28890.00
                              -               28999.00 28999.00
                         1.00 1.0             18260.00 21450.00
                         2.00 1.0             14750.00 14750.00
                              2.0             19847.50 20650.00
                         3.00 1.0             14440.00 16422.00
           Van           0.00 -               29000.00 29000.00
Audi A2    Off-Road      1.00 1.0             28200.00 28200.00
Audi A3    Compact       0.00 0.0             24036.25 24490.00
                              1.0             23922.50 24900.00
                              -               37998.00 41495.00
                         1.00 1.0             19990.00 19990.00
                              -               22636.75 39959.00
                         2.00 1.0             18700.00 67600.00
                              2.0             18900.00 18900.00
                              -               20810.00 31950.00
                         3.00 1.0             18440.00 24950.00
                              2.0             14900.00 14900.00
                              -               16080.00 18495.00
           Convertible   1.00 1.0             47575.00 56100.00
                              -               10893.00 10893.00
                         2.00 1.0             20900.00 20900.00
                              -               31925.00 32950.00
                         3.00 -               20000.00 20000.00
           Coupe         2.00 -               19000.00 19000.00
                         3.00 1.0             17495.00 18000.00
           Sedans        0.00 0.0             25500.00 34738.00
                              1.0             26499.00 31900.00
                              -               26188.00 62900.00
                         1.00 0.0             20825.00 20900.00
                              1.0             22750.00 74600.00
                              2.0             22650.00 22900.00
                              -               22900.00 64900.00
                         2.00 1.0             20999.00 51999.00
                              2.0             21600.00 35000.00
                              -               20900.00 55000.00
                         3.00 0.0             15899.00 15899.00
                              1.0             17470.00 28900.00
                              2.0             17480.00 18500.00
                              -               18500.00 42500.00
           Station wagon 0.00 0.0             24792.50 26990.00
                              1.0             26470.00 63900.00
                              -               25393.75 27225.00
                         1.00 0.0             19900.00 19900.00
                              1.0             22900.00 23800.00
                              2.0             20700.00 20700.00
                              -               23145.00 23800.00
                         2.00 1.0             19446.75 21990.00

In [136]:
df.groupby(['make_model', 'body_type', 'age', 'previous_owners']).km.describe()[200:300]

                                                   count      mean      std  \
make_model     body_type     age  previous_owners
Opel Insignia  Station wagon 2.00 2.0              29.00  35447.41 12793.61
                                  3.0               1.00  37125.00      NaN
                                  -                83.00  50995.65 33550.97
                             3.00 1.0             305.00 103980.02 41252.59
                                  2.0              38.00  89875.53 43779.44
                                  3.0               1.00  67000.00      NaN
                                  -                93.00  85331.02 32207.78
               Van           1.00 1.0               1.00  23726.00      NaN
Renault Clio   Compact       0.00 0.0               8.00      8.88     6.22
                                  1.0              55.00    361.75   980.54
                                  -                91.00     79.40   251.78
                             1.00 1.0              75.00  11758.68  8854.09
                                  2.0               5.00  10901.80  8225.59
                                  -                51.00  11927.92 12351.61
                             2.00 1.0              40.00  31714.50 13168.90
                                  2.0               1.00  23850.00      NaN
                                  -                45.00  31558.64 15404.41
                             3.00 1.0              12.00  72439.33 49916.11
                                  2.0               4.00  50392.50 10647.91
                                  3.0               1.00  59000.00      NaN
                                  -                70.00  66682.80 31842.17
               Coupe         2.00 1.0               1.00  24500.00      NaN
               Off-Road      0.00 1.0               1.00    500.00      NaN
                             3.00 1.0               1.00  95000.00      NaN
               Sedans        0.00 0.0               6.00      8.83     6.74
                                  1.0              65.00    335.82  1383.33
                                  2.0               5.00    128.00   210.82
                                  -                66.00    326.48  1575.65
                             1.00 1.0             213.00  12723.11 10701.76
                                  2.0               5.00  13163.40  8899.84
                                  -               111.00  14882.80 14312.58
                             2.00 0.0               1.00  86000.00      NaN
                                  1.0              89.00  41616.31 33037.64
                                  2.0              10.00  23106.90 14500.04
                                  3.0               1.00  66000.00      NaN
                                  -               140.00  36717.79 18669.47
                             3.00 0.0               1.00  36750.00      NaN
                                  1.0              91.00  72152.78 37749.31
                                  2.0               6.00  48080.67 16983.64
                                  -               119.00  66474.71 30963.79
               Station wagon 0.00 0.0               0.00       NaN      NaN
                                  1.0               2.00   4171.00  5893.03
                                  -                30.00   3763.60 19155.47
                             1.00 1.0              26.00  33005.00 21676.30
                                  -                71.00  25319.52 10438.47
                             2.00 1.0              70.00  38334.04 14072.03
                                  2.0               3.00  29000.00  2645.75
                                  -                26.00  36421.85 14322.36
                             3.00 1.0              40.00  75341.55 45379.30
                                  2.0              31.00  48138.71 11326.85
                                  -                26.00  88250.69 47431.01
               Transporter   0.00 -                 3.00     39.67    51.38
                             1.00 1.0               1.00   1913.00      NaN
                                  -                 5.00   6146.00 12336.69
                             2.00 1.0               2.00  34787.00  2872.27
                                  -                 7.00  33297.29 15447.84
                             3.00 1.0               3.00  87000.00 21931.71
                                  -                 8.00  72803.62 29033.62
               Van           1.00 -                 1.00  22613.00      NaN
                             2.00 -                 1.00  36000.00      NaN
Renault Duster Off-Road      0.00 0.0               0.00       NaN      NaN
                                  -                16.00    101.00     0.00
Renault Espace Compact       0.00 1.0               1.00    500.00      NaN
                                  -                 2.00    550.00   636.40
                             2.00 1.0               1.00  36682.00      NaN
                             3.00 1.0               1.00  32507.00      NaN
                                  -                 1.00  72200.00      NaN
               Coupe         0.00 -                 1.00     10.00      NaN
                             1.00 -                 1.00  14478.00      NaN
               Off-Road      1.00 -                 2.00  32400.00     0.00
                             2.00 1.0               3.00  44850.00 24146.89
                                  -                 2.00  24243.00 10525.99
                             3.00 -                 1.00 141522.00      NaN
               Sedans        0.00 1.0               1.00   3000.00      NaN
                                  -                 0.00       NaN      NaN
                             1.00 1.0               3.00  21394.00  2317.90
                                  2.0               1.00  22100.00      NaN
                                  -                 7.00  17731.00  7994.91
                             2.00 1.0               2.00  62970.00  9376.24
                                  -                 1.00  29900.00      NaN
                             3.00 1.0               1.00  55000.00      NaN
                                  -                 1.00  41378.00      NaN
               Station wagon 0.00 1.0               4.00   6510.00  6759.00
                                  -                 5.00   1450.20  1681.45
                             1.00 1.0              11.00  11400.18  9281.17
                                  2.0               1.00  27000.00      NaN
                                  -                 2.00   7785.00  3160.77
                             2.00 1.0               4.00  39720.00 20291.71
                                  3.0               1.00  46000.00      NaN
                                  -                 8.00  49248.75 29006.61
                             3.00 1.0               5.00  71551.20 31915.78
                                  2.0               4.00  59397.50 61371.61
                                  3.0               1.00  40000.00      NaN
                                  4.0               1.00  57000.00      NaN
                                  -                41.00  75426.37 21979.09
               Transporter   0.00 1.0               1.00     10.00      NaN
                             1.00 1.0               2.00   5505.00  7771.10
                                  -                 3.00  14400.00 14388.54
                             2.00 1.0               2.00  43500.00  7778.17
                                  -                 7.00  55957.14 29151.55

                                                        min       25%  \
make_model     body_type     age  previous_owners
Opel Insignia  Station wagon 2.00 2.0               7120.00  26400.00
                                  3.0              37125.00  37125.00
                                  -                 9500.00  20346.00
                             3.00 1.0              10791.00  75185.00
                                  2.0              31000.00  56220.00
                                  3.0              67000.00  67000.00
                                  -                25259.00  63000.00
               Van           1.00 1.0              23726.00  23726.00
Renault Clio   Compact       0.00 0.0                  0.00      7.75
                                  1.0                  1.00     32.50
                                  -                    1.00     10.00
                             1.00 1.0                  1.00   3836.00
                                  2.0                100.00   5210.00
                                  -                   10.00    100.00
                             2.00 1.0               6800.00  31356.00
                                  2.0              23850.00  23850.00
                                  -                 3704.00  19056.00
                             3.00 1.0              19100.00  34885.75
                                  2.0              36980.00  46820.00
                                  3.0              59000.00  59000.00
                                  -                14230.00  41869.50
               Coupe         2.00 1.0              24500.00  24500.00
               Off-Road      0.00 1.0                500.00    500.00
                             3.00 1.0              95000.00  95000.00
               Sedans        0.00 0.0                  1.00      5.00
                                  1.0                  1.00     10.00
                                  2.0                 15.00     15.00
                                  -                    1.00      1.00
                             1.00 1.0                  4.00   4991.00
                                  2.0               6017.00   7000.00
                                  -                    7.00   5338.00
                             2.00 0.0              86000.00  86000.00
                                  1.0                121.00  19000.00
                                  2.0               7327.00  13279.00
                                  3.0              66000.00  66000.00
                                  -                 1034.00  20971.00
                             3.00 0.0              36750.00  36750.00
                                  1.0                 10.00  41024.50
                                  2.0              28500.00  39320.00
                                  -                   50.00  42944.00
               Station wagon 0.00 0.0                   NaN       NaN
                                  1.0                  4.00   2087.50
                                  -                    1.00     10.00
                             1.00 1.0               9000.00  17866.00
                                  -                   10.00  22967.00
                             2.00 1.0               4529.00  32713.00
                                  2.0              26000.00  28000.00
                                  -                   20.00  27707.50
                             3.00 1.0              10488.00  38627.50
                                  2.0              20500.00  49178.00
                                  -                13956.00  48445.00
               Transporter   0.00 -                   10.00     10.00
                             1.00 1.0               1913.00   1913.00
                                  -                    1.00     10.00
                             2.00 1.0              32756.00  33771.50
                                  -                14936.00  24022.00
                             3.00 1.0              71000.00  74500.00
                                  -                39748.00  55255.75
               Van           1.00 -                22613.00  22613.00
                             2.00 -                36000.00  36000.00
Renault Duster Off-Road      0.00 0.0                   NaN       NaN
                                  -                  101.00    101.00
Renault Espace Compact       0.00 1.0                500.00    500.00
                                  -                  100.00    325.00
                             2.00 1.0              36682.00  36682.00
                             3.00 1.0              32507.00  32507.00
                                  -                72200.00  72200.00
               Coupe         0.00 -                   10.00     10.00
                             1.00 -                14478.00  14478.00
               Off-Road      1.00 -                32400.00  32400.00
                             2.00 1.0              21850.00  32275.00
                                  -                16800.00  20521.50
                             3.00 -               141522.00 141522.00
               Sedans        0.00 1.0               3000.00   3000.00
                                  -                     NaN       NaN
                             1.00 1.0              19800.00  20064.50
                                  2.0              22100.00  22100.00
                                  -                 9895.00  12714.00
                             2.00 1.0              56340.00  59655.00
                                  -                29900.00  29900.00
                             3.00 1.0              55000.00  55000.00
                                  -                41378.00  41378.00
               Station wagon 0.00 1.0               1550.00   3380.00
                                  -                   50.00    100.00
                             1.00 1.0                 10.00   4750.00
                                  2.0              27000.00  27000.00
                                  -                 5550.00   6667.50
                             2.00 1.0              20880.00  24720.00
                                  3.0              46000.00  46000.00
                                  -                11000.00  29250.00
                             3.00 1.0              38156.00  53000.00
                                  2.0               7300.00  28292.50
                                  3.0              40000.00  40000.00
                                  4.0              57000.00  57000.00
                                  -                29311.00  64000.00
               Transporter   0.00 1.0                 10.00     10.00
                             1.00 1.0                 10.00   2757.50
                                  -                 5500.00   6100.00
                             2.00 1.0              38000.00  40750.00
                                  -                 8500.00  38100.00

                                                        50%       75%  \
make_model     body_type     age  previous_owners
Opel Insignia  Station wagon 2.00 2.0              34700.00  46560.00
                                  3.0              37125.00  37125.00
                                  -                45000.00  80531.50
                             3.00 1.0              96760.00 130089.00
                                  2.0              81030.00 115625.00
                                  3.0              67000.00  67000.00
                                  -                83000.00 101000.00
               Van           1.00 1.0              23726.00  23726.00
Renault Clio   Compact       0.00 0.0                 10.00     10.00
                                  1.0                150.00    150.00
                                  -                   10.00     13.50
                             1.00 1.0              12281.00  18345.00
                                  2.0              13377.00  14980.00
                                  -                 9169.00  24348.50
                             2.00 1.0              31356.00  31356.00
                                  2.0              23850.00  23850.00
                                  -                35348.00  44235.00
                             3.00 1.0              61687.50 101593.00
                                  2.0              50795.00  54367.50
                                  3.0              59000.00  59000.00
                                  -                70000.00  91750.00
               Coupe         2.00 1.0              24500.00  24500.00
               Off-Road      0.00 1.0                500.00    500.00
                             3.00 1.0              95000.00  95000.00
               Sedans        0.00 0.0                  7.50     11.50
                                  1.0                 10.00     50.00
                                  2.0                 15.00     95.00
                                  -                    5.00     10.00
                             1.00 1.0              10564.00  18700.00
                                  2.0              10600.00  14200.00
                                  -                12481.00  20605.00
                             2.00 0.0              86000.00  86000.00
                                  1.0              30375.00  51000.00
                                  2.0              20928.50  25150.00
                                  3.0              66000.00  66000.00
                                  -                34648.00  46125.00
                             3.00 0.0              36750.00  36750.00
                                  1.0              67930.00  95500.00
                                  2.0              41918.00  58250.00
                                  -                68325.00  89477.50
               Station wagon 0.00 0.0                   NaN       NaN
                                  1.0               4171.00   6254.50
                                  -                   10.00     10.00
                             1.00 1.0              31158.50  41393.00
                                  -                27500.00  29250.00
                             2.00 1.0              33328.00  46563.50
                                  2.0              30000.00  30500.00
                                  -                37129.50  47136.25
                             3.00 1.0              68174.50 109626.50
                                  2.0              49178.00  49178.00
                                  -                90500.00 124746.25
               Transporter   0.00 -                   10.00     54.50
                             1.00 1.0               1913.00   1913.00
                                  -                   10.00   2585.00
                             2.00 1.0              34787.00  35802.50
                                  -                25100.00  42915.00
                             3.00 1.0              78000.00  95000.00
                                  -                64617.50  89409.75
               Van           1.00 -                22613.00  22613.00
                             2.00 -                36000.00  36000.00
Renault Duster Off-Road      0.00 0.0                   NaN       NaN
                                  -                  101.00    101.00
Renault Espace Compact       0.00 1.0                500.00    500.00
                                  -                  550.00    775.00
                             2.00 1.0              36682.00  36682.00
                             3.00 1.0              32507.00  32507.00
                                  -                72200.00  72200.00
               Coupe         0.00 -                   10.00     10.00
                             1.00 -                14478.00  14478.00
               Off-Road      1.00 -                32400.00  32400.00
                             2.00 1.0              42700.00  56350.00

**It is not appear to be a significant relationship between Previous_Owners and price/km columns except Renault Duster. It seems that Renault Duster's Previous_Owners values should be "0".**

In [137]:
cond = (df["make_model"]=="Renault Duster") & (df["previous_owners"] == "-")
df.loc[cond, "previous_owners"] = 0.0

In [138]:
df["previous_owners"].replace("-", np.nan, inplace=True)

In [139]:
fill(df, "make_model", "age", "previous_owners", "ffill")

Number of NaN :  0
------------------
1.00    14153
2.00     1172
0.00      563
3.00       29
4.00        2
Name: previous_owners, dtype: int64

## 18. warranty_new

In [140]:
summary("warranty_new")

Column name              :  warranty_new
--------------------------------
Total missing value      :  11066
Percentage of missing    :  69.51
Number of unique values  :  41

Unique values  :
[nan '12 months' '3 months' '6 months' '24 months' '50 months' '48 months'
 '36 months' '20 months' '23 months' '60 months' '13 months' '26 months'
 '46 months' '47 months' '49 months' '18 months' '56 months' '16 months'
 '22 months' '28 months' '10 months' '19 months' '25 months' '11 months'
 '72 months' '2 months' '1 months' '4 months' '8 months' '7 months'
 '15 months' '17 months' '45 months' '14 months' '9 months' '65 months'
 '21 months' '34 months' '33 months' '40 months' '30 months']

Number of values
NaN          11066
12 months     2594
24 months     1118
60 months      401
36 months      279
48 months      149
6 months       125
72 months       59
3 months        33
23 months       11
18 months       10
20 months        7
25 months        6
2 months         5
50 months        4
26 months        4
16 months        4
4 months         3
1 months         3
19 months        3
34 months        3
13 months        3
28 months        2
22 months        2
14 months        2
11 months        2
46 months        2
21 months        2
9 months         2
17 months        2
45 months        2
33 months        1
40 months        1
65 months        1
10 months        1
15 months        1
7 months         1
8 months         1
56 months        1
49 months        1
47 months        1
30 months        1
Name: warranty_new, dtype: int64

**There is too much lost value. Filling these values means we're going to do a lot of manipulation to the dataset. I don't think it will have much of an impact on ML. We can drop the column**

In [141]:
df.drop("warranty_new", axis=1, inplace=True)

## 19. km

In [142]:
summary("km")

Column name              :  km
--------------------------------
Total missing value      :  1024
Percentage of missing    :  6.43
Number of unique values  :  6689

Unique values  :
[5.6013e+04 8.0000e+04 8.3450e+04 ... 2.8640e+03 1.5060e+03 5.7000e+01]

Number of values
10.00       1045
NaN         1024
1.00         367
5.00         170
50.00        148
            ...
67469.00       1
43197.00       1
10027.00       1
35882.00       1
57.00          1
Name: km, Length: 6690, dtype: int64

In [143]:
df.groupby("age").km.describe()

       count     mean      std   min      25%      50%      75%       max
age
0.00 3450.00  1647.36  4828.82  0.00    10.00    14.00  1432.75 127022.00
1.00 4487.00 18032.47 11049.82  1.00  9990.00 17869.00 25076.00 136000.00
2.00 3279.00 41730.52 28272.68  1.00 21565.00 34720.00 54669.00 317000.00
3.00 3679.00 77450.06 39145.12 10.00 48000.00 72945.00 99950.00 291800.00

In [144]:
df.groupby(["age", "previous_owners"]).km.describe()

                       count     mean      std      min      25%      50%  \
age  previous_owners
0.00 0.00             297.00  1222.21  5752.69     0.00     1.00    10.00
     1.00            3139.00  1666.53  4549.01     1.00    10.00    15.00
     2.00              14.00  6368.36 20236.33     8.00    15.00    97.00
1.00 0.00              13.00 27350.08 13275.72  4500.00 16749.00 30800.00
     1.00            4361.00 17994.32 11045.15     1.00  9931.00 17869.00
     2.00             113.00 18433.08 10592.47    10.00 11000.00 17719.00
2.00 0.00              16.00 40998.56 22780.88  9459.00 21250.00 38308.00
     1.00            2792.00 43136.51 29127.58     1.00 22847.50 36020.50
     2.00             457.00 33506.26 21038.55     1.00 17768.00 26820.00
     3.00              13.00 31474.92 19173.78  4000.00 18890.00 27355.00
     4.00               1.00 19700.00      NaN 19700.00 19700.00 19700.00
3.00 0.00              11.00 58629.91 20845.30 23580.00 45353.50 60000.00
     1.00            3068.00 80920.81 39581.61    10.00 50586.00 78845.50
     2.00             583.00 60064.31 32023.05  1800.00 39561.00 52284.00
     3.00              16.00 59644.75 21801.93 27600.00 44250.00 61349.50
     4.00               1.00 57000.00      NaN 57000.00 57000.00 57000.00

                           75%       max
age  previous_owners
0.00 0.00                47.00  82400.00
     1.00              1510.00 127022.00
     2.00               875.00  76300.00
1.00 0.00             35616.00  50000.00
     1.00             25044.00 136000.00
     2.00             25134.00  50000.00
2.00 0.00             62082.25  86000.00
     1.00             57963.75 317000.00
     2.00             47219.00 116184.00
     3.00             43847.00  66000.00
     4.00             19700.00  19700.00
3.00 0.00             64750.00  91883.00
     1.00            103964.75 291800.00
     2.00             76041.00 229500.00
     3.00             69816.25 116000.00
     4.00             57000.00  57000.00

In [145]:
df.groupby(["age", "previous_owners"]).km.transform("mean")

0       60064.31
1       43136.51
2       80920.81
3       80920.81
4       80920.81
          ...
15914    1666.53
15915    1666.53
15916    1666.53
15917    1666.53
15918    1666.53
Name: km, Length: 15919, dtype: float64

In [146]:
df.km.fillna(df.groupby(["age", "previous_owners"]).km.transform("mean"), inplace=True)

In [147]:
df.km.isnull().sum()

0

## 20. displacement

In [148]:
df.groupby(["make_model", "body_type" ,"cylinders" ])["displacement"].describe()

                                         count    mean    std     min     25%  \
make_model     body_type     cylinders
Audi A1        Compact       3.00       451.00 1060.36 149.89  999.00  999.00
                             4.00       109.00 1506.73 166.32  999.00 1395.00
                             8.00         1.00  999.00    NaN  999.00  999.00
               Coupe         3.00         1.00  999.00    NaN  999.00  999.00
               Sedans        3.00       895.00 1108.37 185.62  998.00  999.00
                             4.00       277.00 1541.17 143.41  999.00 1395.00
               Station wagon 3.00        10.00 1252.80 218.44  999.00  999.00
                             4.00         6.00 1462.67 104.83 1395.00 1395.00
Audi A3        Compact       3.00        17.00 1057.82 166.05  999.00  999.00
                             4.00       136.00 1547.41 141.77 1395.00 1395.00
                             5.00         1.00 2480.00    NaN 2480.00 2480.00
               Convertible   4.00         8.00 1793.38 251.41 1395.00 1573.00
               Coupe         3.00         1.00  999.00    NaN  999.00  999.00
                             4.00         3.00 1598.00   0.00 1598.00 1598.00
               Sedans        3.00       306.00 1000.97  34.24  999.00  999.00
                             4.00      1646.00 1618.83 135.79  999.00 1598.00
                             5.00        18.00 2480.00   0.00 2480.00 2480.00
               Station wagon 3.00        48.00  998.96   0.29  997.00  999.00
                             4.00        97.00 1632.72 174.15 1197.00 1598.00
                             5.00         2.00 2039.00 623.67 1598.00 1818.50
Opel Astra     Compact       3.00        21.00  999.05   0.22  999.00  999.00
                             4.00       102.00 1535.57  92.84 1398.00 1399.00
               Coupe         4.00         1.00 1399.00    NaN 1399.00 1399.00
               Off-Road      4.00         1.00 1399.00    NaN 1399.00 1399.00
               Sedans        3.00       112.00  998.83   0.44  997.00  999.00
                             4.00       421.00 1499.16 115.76  998.00 1399.00
               Station wagon 3.00        43.00  998.84   0.37  998.00  999.00
                             4.00       718.00 1557.56 544.41  998.00 1399.00
Opel Corsa     Compact       1.00         1.00 1398.00    NaN 1398.00 1398.00
                             3.00         4.00 1056.50 115.00  999.00  999.00
                             4.00       700.00 1351.13  74.44 1200.00 1248.00
               Coupe         3.00         1.00  998.00    NaN  998.00  998.00
                             4.00        10.00 1268.50  68.80 1229.00 1229.00
               Off-Road      4.00         3.00 1400.00   0.00 1400.00 1400.00
               Sedans        3.00         3.00  998.67   0.58  998.00  998.50
                             4.00       665.00 1311.43  83.37 1229.00 1229.00
               Transporter   3.00         1.00 1300.00    NaN 1300.00 1300.00
                             4.00         6.00 1238.50  10.41 1229.00 1229.00
Opel Insignia  Compact       4.00        22.00 1554.68 116.78 1364.00 1490.00
               Off-Road      4.00         6.00 1896.33 146.15 1598.00 1956.00
               Sedans        4.00       586.00 1627.96 165.37 1364.00 1490.00
                             6.00         1.00 1600.00    NaN 1600.00 1600.00
               Station wagon 2.00         0.00     NaN    NaN     NaN     NaN
                             4.00      1012.00 1696.65 194.90 1364.00 1598.00
                             6.00         2.00 2282.50 968.03 1598.00 1940.25
               Van           4.00         1.00 1496.00    NaN 1496.00 1496.00
Renault Clio   Compact       3.00        49.00  904.16  43.00  898.00  898.00
                             4.00       161.00 1330.61 153.63 1149.00 1197.00
               Coupe         4.00         1.00 1618.00    NaN 1618.00 1618.00
               Off-Road      4.00         2.00 1329.00 186.68 1197.00 1263.00
               Sedans        3.00       126.00  903.90  36.82  890.00  898.00
                             4.00       518.00 1329.91 279.41    1.00 1149.00
                             5.00         0.00     NaN    NaN     NaN     NaN
               Station wagon 3.00        11.00  920.82  75.68  898.00  898.00
                             4.00       180.00 1336.55 145.64 1149.00 1197.00
               Transporter   3.00         2.00  898.00   0.00  898.00  898.00
                             4.00         8.00 1383.00 144.43 1149.00 1383.00
               Van           4.00         1.00 1461.00    NaN 1461.00 1461.00
Renault Duster Off-Road      4.00        33.00 1695.03 174.04 1598.00 1598.00
Renault Espace Compact       4.00         1.00 1618.00    NaN 1618.00 1618.00
               Off-Road      4.00         4.00 1598.00   0.00 1598.00 1598.00
               Sedans        4.00        12.00 1666.92 128.85 1598.00 1598.00
               Station wagon 4.00        78.00 1664.85 121.20 1598.00 1598.00
               Transporter   4.00        50.00 1607.18  56.46 1598.00 1598.00
               Van           2.00         1.00 1997.00    NaN 1997.00 1997.00
                             4.00       478.00 1671.42 218.99  160.00 1598.00
                             8.00         0.00     NaN    NaN     NaN     NaN

                                           50%     75%      max
make_model     body_type     cylinders
Audi A1        Compact       3.00       999.00  999.00  1596.00
                             4.00      1498.00 1598.00  1984.00
                             8.00       999.00  999.00   999.00
               Coupe         3.00       999.00  999.00   999.00
               Sedans        3.00       999.00 1422.00  1596.00
                             4.00      1598.00 1598.00  1984.00
               Station wagon 3.00      1422.00 1422.00  1422.00
                             4.00      1395.00 1547.25  1598.00
Audi A3        Compact       3.00       999.00  999.00  1499.00
                             4.00      1598.00 1598.00  1968.00
                             5.00      2480.00 2480.00  2480.00
               Convertible   4.00      1968.00 1968.00  1984.00
               Coupe         3.00       999.00  999.00   999.00
                             4.00      1598.00 1598.00  1598.00
               Sedans        3.00       999.00  999.00  1598.00
                             4.00      1598.00 1598.00  1984.00
                             5.00      2480.00 2480.00  2480.00
               Station wagon 3.00       999.00  999.00   999.00
                             4.00      1598.00 1598.00  1968.00
                             5.00      2039.00 2259.50  2480.00
Opel Astra     Compact       3.00       999.00  999.00  1000.00
                             4.00      1598.00 1598.00  1600.00
               Coupe         4.00      1399.00 1399.00  1399.00
               Off-Road      4.00      1399.00 1399.00  1399.00
               Sedans        3.00       999.00  999.00  1000.00
                             4.00      1598.00 1598.00  1600.00
               Station wagon 3.00       999.00  999.00   999.00
                             4.00      1598.00 1598.00 15898.00
Opel Corsa     Compact       1.00      1398.00 1398.00  1398.00
                             3.00       999.00 1056.50  1229.00
                             4.00      1398.00 1398.00  1400.00
               Coupe         3.00       998.00  998.00   998.00
                             4.00      1238.50 1248.00  1398.00
               Off-Road      4.00      1400.00 1400.00  1400.00
               Sedans        3.00       999.00  999.00   999.00
                             4.00      1248.00 1398.00  1400.00
               Transporter   3.00      1300.00 1300.00  1300.00
                             4.00      1238.50 1248.00  1248.00
Opel Insignia  Compact       4.00      1598.00 1598.00  1956.00
               Off-Road      4.00      1956.00 1956.00  1956.00
               Sedans        4.00      1598.00 1598.00  2000.00
                             6.00      1600.00 1600.00  1600.00
               Station wagon 2.00          NaN     NaN      NaN
                             4.00      1598.00 1956.00  2000.00
                             6.00      2282.50 2624.75  2967.00
               Van           4.00      1496.00 1496.00  1496.00
Renault Clio   Compact       3.00       898.00  898.00  1199.00
                             4.00      1200.00 1461.00  1618.00
               Coupe         4.00      1618.00 1618.00  1618.00
               Off-Road      4.00      1329.00 1395.00  1461.00
               Sedans        3.00       898.00  898.00  1200.00
                             4.00      1461.00 1461.00  1618.00
                             5.00          NaN     NaN      NaN
               Station wagon 3.00       898.00  898.00  1149.00
                             4.00      1461.00 1461.00  1500.00
               Transporter   3.00       898.00  898.00   898.00
                             4.00      1461.00 1461.00  1461.00
               Van           4.00      1461.00 1461.00  1461.00
Renault Duster Off-Road      4.00      1598.00 1600.00  1998.00
Renault Espace Compact       4.00      1618.00 1618.00  1618.00
               Off-Road      4.00      1598.00 1598.00  1598.00
               Sedans        4.00      1600.00 1663.00  1997.00
               Station wagon 4.00      1598.00 1618.00  1997.00
               Transporter   4.00      1598.00 1598.00  1997.00
               Van           2.00      1997.00 1997.00  1997.00
                             4.00      1598.00 1798.00  1997.00
                             8.00          NaN     NaN      NaN

**We found a relationship between the number of cylinders and displacement. As the number of cylinders increases, the displacement increases**

In [149]:
fill_mean(df,"make_model", "body_type" ,"cylinders", "displacement" )

Number of NaN :  0
------------------
1598.00     4761
999.00      2438
1398.00     1314
1399.00      749
1229.00      677
            ...
2967.00        1
1856.00        1
16000.00       1
1662.37        1
1800.00        1
Name: displacement, Length: 114, dtype: int64

## 21. hp_kw

In [150]:
summary("hp_kw")

Column name              :  hp_kw
--------------------------------
Total missing value      :  88
Percentage of missing    :  0.55
Number of unique values  :  80

Unique values  :
[ 66. 141.  85.  70.  92. 112.  60.  71.  67. 110.  93. 147.  86. 140.
  87.  nan  81.  82. 135. 132. 100.  96. 162. 150. 294. 228. 270. 137.
   9. 133.  77. 101.  78. 103.   1.  74. 118.  84.  88.  80.  76. 149.
  44.  51.  55.  52.  63.  40.  65.  75. 125. 120. 184. 239. 121. 143.
 191.  89. 195. 127. 122. 154. 155. 104. 123. 146.  90.  53.  54.  56.
 164.   4. 163.  57. 119. 165. 117. 115.  98. 168. 167.]

Number of values
85.00     2542
66.00     2122
81.00     1402
100.00    1308
110.00    1112
70.00      888
125.00     707
51.00      695
55.00      569
118.00     516
92.00      466
121.00     392
147.00     380
77.00      345
56.00      286
54.00      276
103.00     253
87.00      232
165.00     194
88.00      177
60.00      160
162.00      98
NaN         88
74.00       81
96.00       72
71.00       59
101.00      47
67.00       40
154.00      39
122.00      35
119.00      30
164.00      27
135.00      24
82.00       22
52.00       22
78.00       20
1.00        20
294.00      18
146.00      18
141.00      16
57.00       10
104.00       8
120.00       8
191.00       7
112.00       7
155.00       6
117.00       6
184.00       5
90.00        4
76.00        4
65.00        4
149.00       3
80.00        3
168.00       3
98.00        3
93.00        3
228.00       2
270.00       2
53.00        2
140.00       2
86.00        2
167.00       2
127.00       2
89.00        2
143.00       2
63.00        2
40.00        2
150.00       2
163.00       1
115.00       1
132.00       1
75.00        1
4.00         1
137.00       1
123.00       1
133.00       1
84.00        1
195.00       1
44.00        1
239.00       1
9.00         1
Name: hp_kw, dtype: int64

In [151]:
df.groupby(["make_model", "body_type" ,"cylinders" ])["hp_kw"].describe()

                                         count   mean    std    min    25%  \
make_model     body_type     cylinders
Audi A1        Compact       3.00       450.00  73.00   8.07  60.00  70.00
                             4.00       110.00  94.18  16.59  60.00  85.00
                             8.00         1.00  70.00    NaN  70.00  70.00
               Coupe         3.00         1.00  70.00    NaN  70.00  70.00
               Sedans        3.00       896.00  72.50   8.43  60.00  66.00
                             4.00       280.00  89.53  13.56  60.00  85.00
               Station wagon 3.00        10.00  66.60   2.99  60.00  66.00
                             4.00         6.00  92.67   9.16  85.00  86.75
Audi A3        Compact       3.00        17.00  87.94   8.30  85.00  85.00
                             4.00       136.00  89.49  11.73  81.00  81.00
                             5.00         1.00 294.00    NaN 294.00 294.00
               Convertible   4.00         8.00 124.25  44.35  81.00 110.00
               Coupe         3.00         1.00  85.00    NaN  85.00  85.00
                             4.00         3.00  81.00   0.00  81.00  81.00
               Sedans        3.00       307.00  85.28   2.54  85.00  85.00
                             4.00      1653.00  88.32  11.11  81.00  81.00
                             5.00        18.00 291.33   7.76 270.00 294.00
               Station wagon 3.00        48.00  85.00   0.00  85.00  85.00
                             4.00       100.00  90.33  11.66  81.00  81.00
                             5.00         2.00 189.50 147.79  85.00 137.25
Opel Astra     Compact       3.00        21.00  74.24   4.73  66.00  76.00
                             4.00       101.00  92.51  17.17  81.00  81.00
               Coupe         4.00         1.00 110.00    NaN 110.00 110.00
               Off-Road      4.00         1.00 110.00    NaN 110.00 110.00
               Sedans        3.00       112.00  75.63   3.82  66.00  77.00
                             4.00       421.00  95.57  16.54  60.00  81.00
               Station wagon 3.00        43.00  75.51   3.89  66.00  77.00
                             4.00       719.00  96.35  15.24  70.00  81.00
Opel Corsa     Compact       1.00         1.00  66.00    NaN  66.00  66.00
                             3.00         4.00  62.25   7.50  51.00  62.25
                             4.00       701.00  62.42   6.69  44.00  55.00
               Coupe         3.00         1.00  85.00    NaN  85.00  85.00
                             4.00        10.00  56.70   7.59  51.00  51.00
               Off-Road      4.00         3.00  68.67   4.62  66.00  66.00
               Sedans        3.00         3.00  66.00   0.00  66.00  66.00
                             4.00       671.00  58.20   7.31  51.00  51.00
               Transporter   3.00         1.00  63.00    NaN  63.00  63.00
                             4.00         6.00  53.00   2.19  51.00  51.00
Opel Insignia  Compact       4.00        22.00 114.68  16.37 100.00 100.00
               Off-Road      4.00         6.00 133.67  13.66 125.00 125.00
               Sedans        4.00       586.00 110.00  17.20  81.00 100.00
                             6.00         1.00 100.00    NaN 100.00 100.00
               Station wagon 2.00         1.00 100.00    NaN 100.00 100.00
                             4.00      1013.00 117.10  17.29  81.00 100.00
                             6.00         2.00 100.00   0.00 100.00 100.00
               Van           4.00         1.00 121.00    NaN 121.00 121.00
Renault Clio   Compact       3.00        49.00  57.69   4.00  55.00  56.00
                             4.00       161.00  74.29  26.97  54.00  55.00
               Coupe         4.00         1.00 147.00    NaN 147.00 147.00
               Off-Road      4.00         2.00  71.00  22.63  55.00  63.00
               Sedans        3.00       126.00  59.02   4.89  54.00  56.00
                             4.00       519.00  74.21  34.82  54.00  55.00
                             5.00         1.00  54.00    NaN  54.00  54.00
               Station wagon 3.00        11.00  58.27   5.00  54.00  55.00
                             4.00       180.00  65.53  11.69  54.00  55.00
               Transporter   3.00         2.00  56.00   0.00  56.00  56.00
                             4.00         8.00  57.50   5.26  54.00  54.75
               Van           4.00         1.00  55.00    NaN  55.00  55.00
Renault Duster Off-Road      4.00        25.00  77.16   0.80  77.00  77.00
Renault Espace Compact       4.00         1.00 147.00    NaN 147.00 147.00
               Off-Road      4.00         4.00 118.00   0.00 118.00 118.00
               Sedans        4.00        12.00 130.67  19.48 118.00 118.00
               Station wagon 4.00        78.00 130.65  20.26  96.00 118.00
               Transporter   4.00        50.00 116.66  10.90  96.00 118.00
               Van           2.00         1.00 147.00    NaN 147.00 147.00
                             4.00       495.00 130.01  21.93  96.00 118.00
                             8.00         1.00 117.00    NaN 117.00 117.00

                                          50%    75%    max
make_model     body_type     cylinders
Audi A1        Compact       3.00       70.00  85.00  85.00
                             4.00       92.00  92.00 147.00
                             8.00       70.00  70.00  70.00
               Coupe         3.00       70.00  70.00  70.00
               Sedans        3.00       70.00  85.00  85.00
                             4.00       85.00  92.00 147.00
               Station wagon 3.00       66.00  69.00  70.00
                             4.00       92.00  92.00 110.00
Audi A3        Compact       3.00       85.00  85.00 110.00
                             4.00       85.00  92.00 150.00
                             5.00      294.00 294.00 294.00
               Convertible   4.00      110.00 116.25 228.00
               Coupe         3.00       85.00  85.00  85.00
                             4.00       81.00  81.00  81.00
               Sedans        3.00       85.00  85.00 110.00
                             4.00       85.00  85.00 162.00
                             5.00      294.00 294.00 294.00
               Station wagon 3.00       85.00  85.00  85.00
                             4.00       85.00  96.50 110.00
                             5.00      189.50 241.75 294.00
Opel Astra     Compact       3.00       77.00  77.00  77.00
                             4.00       81.00 100.00 147.00
               Coupe         4.00      110.00 110.00 110.00
               Off-Road      4.00      110.00 110.00 110.00
               Sedans        3.00       77.00  77.00  78.00
                             4.00       92.00 110.00 149.00
               Station wagon 3.00       77.00  77.00  78.00
                             4.00      100.00 110.00 147.00
Opel Corsa     Compact       1.00       66.00  66.00  66.00
                             3.00       66.00  66.00  66.00
                             4.00       66.00  66.00  88.00
               Coupe         3.00       85.00  85.00  85.00
                             4.00       53.00  63.25  70.00
               Off-Road      4.00       66.00  70.00  74.00
               Sedans        3.00       66.00  66.00  66.00
                             4.00       55.00  66.00  74.00
               Transporter   3.00       63.00  63.00  63.00
                             4.00       53.00  55.00  55.00
Opel Insignia  Compact       4.00      112.50 121.00 147.00
               Off-Road      4.00      125.00 141.50 155.00
               Sedans        4.00      101.00 121.00 191.00
                             6.00      100.00 100.00 100.00
               Station wagon 2.00      100.00 100.00 100.00
                             4.00      121.00 125.00 195.00
                             6.00      100.00 100.00 100.00
               Van           4.00      121.00 121.00 121.00
Renault Clio   Compact       3.00       56.00  56.00  66.00
                             4.00       55.00  87.00 163.00
               Coupe         4.00      147.00 147.00 147.00
               Off-Road      4.00       71.00  79.00  87.00
               Sedans        3.00       56.00  66.00  66.00
                             4.00       55.00  84.00 162.00
                             5.00       54.00  54.00  54.00
               Station wagon 3.00       56.00  61.00  66.00
                             4.00       66.00  66.00  88.00
               Transporter   3.00       56.00  56.00  56.00
                             4.00       55.00  57.75  66.00
               Van           4.00       55.00  55.00  55.00
Renault Duster Off-Road      4.00       77.00  77.00  81.00
Renault Espace Compact       4.00      147.00 147.00 147.00
               Off-Road      4.00      118.00 118.00 118.00
               Sedans        4.00      118.00 147.00 165.00
               Station wagon 4.00      118.00 147.00 165.00
               Transporter   4.00      118.00 118.00 147.00
               Van           2.00      147.00 147.00 147.00
                             4.00      118.00 147.00 165.00
                             8.00      117.00 117.00 117.00

In [152]:
df.groupby(["make_model", "body_type" ,"gears" ])["hp_kw"].describe()

                                     count   mean   std    min    25%    50%  \
make_model     body_type     gears
Audi A1        Compact       5.00   279.00  69.10  6.27  60.00  66.00  70.00
                             6.00    83.00  85.75  7.31  71.00  85.00  85.00
                             7.00   202.00  82.92 15.69  66.00  70.00  85.00
                             8.00     1.00  70.00   NaN  70.00  70.00  70.00
               Coupe         5.00     1.00  70.00   NaN  70.00  70.00  70.00
               Sedans        5.00   527.00  70.25  7.59  60.00  66.00  70.00
                             6.00   101.00  87.33 11.17  66.00  85.00  85.00
                             7.00   451.00  81.35 12.98  66.00  70.00  85.00
                             8.00     1.00  60.00   NaN  60.00  60.00  60.00
               Station wagon 5.00    10.00  67.50  7.01  60.00  66.00  66.00
                             6.00     1.00  92.00   NaN  92.00  92.00  92.00
                             7.00     3.00  73.67 10.02  66.00  68.00  70.00
               Van           6.00     1.00 147.00   NaN 147.00 147.00 147.00
Audi A3        Compact       5.00     1.00  81.00   NaN  81.00  81.00  81.00
                             6.00    92.00  90.24 12.38  81.00  81.00  88.50
                             7.00    70.00  90.07 26.41  81.00  81.00  85.00
               Convertible   6.00     2.00 110.00  0.00 110.00 110.00 110.00
                             7.00     6.00 129.00 51.43  81.00 110.00 110.00
               Coupe         7.00     4.00  82.00  2.00  81.00  81.00  81.00
               Sedans        5.00     1.00  81.00   NaN  81.00  81.00  81.00
                             6.00  1053.00  89.06 11.54  81.00  81.00  85.00
                             7.00   990.00  90.77 29.15  81.00  81.00  85.00
               Station wagon 6.00   111.00  86.97  8.24  81.00  85.00  85.00
                             7.00    41.00  96.59 33.90  81.00  81.00  85.00
Opel Astra     Compact       5.00    33.00  75.33  4.01  66.00  77.00  77.00
                             6.00   134.00  89.77 14.90  70.00  81.00  81.00
               Coupe         6.00     1.00 103.00   NaN 103.00 103.00 103.00
               Off-Road      6.00     1.00 110.00   NaN 110.00 110.00 110.00
               Sedans        5.00   260.00  74.73  4.42  66.00  74.00  77.00
                             6.00   456.00  97.77 16.44  60.00  81.00 100.00
               Station wagon 5.00    92.00  76.02  5.48  66.00  74.00  77.00
                             6.00   755.00  97.15 14.89  70.00  81.00 100.00
                             7.00     1.00 100.00   NaN 100.00 100.00 100.00
Opel Corsa     Compact       1.00     1.00  66.00   NaN  66.00  66.00  66.00
                             5.00   536.00  58.26  7.54  40.00  51.00  55.00
                             6.00   293.00  66.41  1.74  55.00  66.00  66.00
                             8.00     1.00  66.00   NaN  66.00  66.00  66.00
               Coupe         5.00    10.00  56.70  7.59  51.00  51.00  53.00
                             6.00     1.00  85.00   NaN  85.00  85.00  85.00
               Off-Road      5.00     2.00  66.00  0.00  66.00  66.00  66.00
                             6.00     1.00  74.00   NaN  74.00  74.00  74.00
               Sedans        2.00     1.00  51.00   NaN  51.00  51.00  51.00
                             5.00   588.00  55.63  6.51  51.00  51.00  51.00
                             6.00   167.00  66.14  0.87  66.00  66.00  66.00
               Transporter   5.00     7.00  54.43  4.28  51.00  51.00  55.00
Opel Insignia  Compact       6.00    25.00 119.44 19.51 100.00 100.00 121.00
                             8.00     1.00 125.00   NaN 125.00 125.00 125.00
               Off-Road      6.00     4.00 129.75 11.59 122.00 124.25 125.00
                             8.00     2.00 140.00 21.21 125.00 132.50 140.00
               Sedans        5.00     4.00 101.00  0.00 101.00 101.00 101.00
                             6.00   656.00 108.66 14.65  81.00 100.00 101.00
                             7.00     1.00 100.00   NaN 100.00 100.00 100.00
                             8.00    51.00 136.82 19.46 100.00 125.00 125.00
               Station wagon 5.00     3.00 107.00 12.12 100.00 100.00 100.00
                             6.00   986.00 114.00 16.78  81.00 100.00 121.00
                             7.00     1.00 100.00   NaN 100.00 100.00 100.00
                             8.00   167.00 130.37 12.24 100.00 125.00 125.00
               Van           6.00     1.00 121.00   NaN 121.00 121.00 121.00
Renault Clio   Compact       1.00     1.00 147.00   NaN 147.00 147.00 147.00
                             5.00   162.00  55.98  3.89  40.00  55.00  55.00
                             6.00    69.00  95.01 28.27  55.00  87.00  87.00
                             7.00     2.00 126.50 51.62  90.00 108.25 126.50
               Coupe         6.00     1.00 147.00   NaN 147.00 147.00 147.00
               Off-Road      5.00     1.00  55.00   NaN  55.00  55.00  55.00
                             6.00     1.00  87.00   NaN  87.00  87.00  87.00
               Sedans        5.00   529.00  56.59  4.05  53.00  55.00  55.00
                             6.00   239.00 102.62 40.62  54.00  66.00  87.00
                             50.00    1.00  56.00   NaN  56.00  56.00  56.00
               Station wagon 5.00   160.00  58.89  5.54  54.00  54.00  55.00
                             6.00    81.00  74.40 10.48  66.00  66.00  66.00
                             7.00     1.00  88.00   NaN  88.00  88.00  88.00
               Transporter   5.00    11.00  58.00  5.18  54.00  55.00  55.00
Renault Duster Off-Road      6.00    25.00  77.16  0.80  77.00  77.00  77.00
Renault Espace Compact       6.00     2.00 132.50 20.51 118.00 125.25 132.50
                             7.00     1.00 147.00   NaN 147.00 147.00 147.00
               Off-Road      5.00     2.00 118.00  0.00 118.00 118.00 118.00
                             6.00     4.00 118.00  0.00 118.00 118.00 118.00
               Sedans        6.00     3.00 118.00  0.00 118.00 118.00 118.00
                             7.00     3.00 159.00 10.39 147.00 156.00 165.00
               Station wagon 6.00    60.00 120.40 11.87  96.00 118.00 118.00
                             7.00    22.00 157.64  9.06 147.00 147.00 165.00
               Transporter   6.00    47.00 114.72  7.92  96.00 118.00 118.00
                             7.00     3.00 147.00  0.00 147.00 147.00 147.00
               Van           3.00     2.00 132.00 19.80 118.00 125.00 132.00
                             4.00     2.00 165.00  0.00 165.00 165.00 165.00
                             6.00   363.00 119.09 13.25  96.00 118.00 118.00
                             7.00   106.00 157.27 14.03 118.00 147.00 165.00
                             9.00     6.00 161.83  7.76 146.00 165.00 165.00

                                      75%    max
make_model     body_type     gears
Audi A1        Compact       5.00   70.00  86.00
                             6.00   85.00 147.00
                             7.00   85.00 147.00
                             8.00   70.00  70.00
               Coupe         5.00   70.00  70.00
               Sedans        5.00   70.00  87.00
                             6.00   85.00 147.00
                             7.00   85.00 141.00
                             8.00   60.00  60.00
               Station wagon 5.00   69.00  85.00
                             6.00   92.00  92.00
                             7.00   77.50  85.00
               Van           6.00  147.00 147.00
Audi A3        Compact       5.00   81.00  81.00
                             6.00   92.00 150.00
                             7.00   85.00 294.00
               Convertible   6.00  110.00 110.00
                             7.00  128.75 228.00
               Coupe         7.00   82.00  85.00
               Sedans        5.00   81.00  81.00
                             6.00   85.00 162.00
                             7.00   85.00 294.00
               Station wagon 6.00   85.00 110.00
                             7.00  110.00 294.00
Opel Astra     Compact       5.00   77.00  78.00
                             6.00   92.00 147.00
               Coupe         6.00  103.00 103.00
               Off-Road      6.00  110.00 110.00
               Sedans        5.00   77.00  85.00
                             6.00  110.00 149.00
               Station wagon 5.00   77.00  92.00
                             6.00  110.00 147.00
                             7.00  100.00 100.00
Opel Corsa     Compact       1.00   66.00  66.00
                             5.00   66.00  88.00
                             6.00   66.00  74.00
                             8.00   66.00  66.00
               Coupe         5.00   63.25  70.00
                             6.00   85.00  85.00
               Off-Road      5.00   66.00  66.00
                             6.00   74.00  74.00
               Sedans        2.00   51.00  51.00
                             5.00   66.00  75.00
                             6.00   66.00  74.00
               Transporter   5.00   55.00  63.00
Opel Insignia  Compact       6.00  147.00 147.00
                             8.00  125.00 125.00
               Off-Road      6.00  130.50 147.00
                             8.00  147.50 155.00
               Sedans        5.00  101.00 101.00
                             6.00  121.00 147.00
                             7.00  100.00 100.00
                             8.00  154.00 191.00
               Station wagon 5.00  110.50 121.00
                             6.00  125.00 195.00
                             7.00  100.00 100.00
                             8.00  125.00 191.00
               Van           6.00  121.00 121.00
Renault Clio   Compact       1.00  147.00 147.00
                             5.00   56.00  88.00
                             6.00   88.00 162.00
                             7.00  144.75 163.00
               Coupe         6.00  147.00 147.00
               Off-Road      5.00   55.00  55.00
                             6.00   87.00  87.00
               Sedans        5.00   56.00  81.00
                             6.00  162.00 162.00
                             50.00  56.00  56.00
               Station wagon 5.00   66.00  66.00
                             6.00   87.00  88.00
                             7.00   88.00  88.00
               Transporter   5.00   61.00  66.00
Renault Duster Off-Road      6.00   77.00  81.00
Renault Espace Compact       6.00  139.75 147.00
                             7.00  147.00 147.00
               Off-Road      5.00  118.00 118.00
                             6.00  118.00 118.00
               Sedans        6.00  118.00 118.00
                             7.00  165.00 165.00
               Station wagon 6.00  118.00 147.00
                             7.00  165.00 165.00
               Transporter   6.00  118.00 118.00
                             7.00  147.00 147.00
               Van           3.00  139.00 146.00
                             4.00  165.00 165.00
                             6.00  118.00 165.00
                             7.00  165.00 165.00
                             9.00  165.00 165.00

**Couldn't find pattern by looking at the "cylinders" and "gears" columns. It can be filled using "mode".**

In [153]:
fill(df, "make_model", "body_type", "hp_kw", "mode")

Number of NaN :  0
------------------
85.00     2543
66.00     2124
81.00     1403
100.00    1314
110.00    1113
70.00      890
125.00     711
51.00      696
55.00      589
118.00     550
92.00      466
121.00     392
147.00     380
77.00      353
56.00      294
54.00      276
103.00     253
87.00      232
165.00     194
88.00      177
60.00      160
162.00      98
74.00       81
96.00       72
71.00       59
101.00      47
67.00       40
154.00      39
122.00      35
119.00      30
164.00      27
135.00      24
52.00       22
82.00       22
1.00        20
78.00       20
294.00      18
146.00      18
141.00      16
57.00       10
120.00       8
104.00       8
112.00       7
191.00       7
155.00       6
117.00       6
184.00       5
65.00        4
90.00        4
76.00        4
168.00       3
98.00        3
149.00       3
80.00        3
93.00        3
167.00       2
228.00       2
53.00        2
143.00       2
150.00       2
140.00       2
270.00       2
63.00        2
40.00        2
127.00       2
86.00        2
89.00        2
163.00       1
132.00       1
115.00       1
239.00       1
4.00         1
137.00       1
133.00       1
84.00        1
123.00       1
44.00        1
195.00       1
75.00        1
9.00         1
Name: hp_kw, dtype: int64

## 22. cylinders

In [154]:
summary("cylinders")

Column name              :  cylinders
--------------------------------
Total missing value      :  5680
Percentage of missing    :  35.68
Number of unique values  :  7

Unique values  :
[ 3.  4. nan  8.  5.  1.  6.  2.]

Number of values
4.00    8105
NaN     5680
3.00    2104
5.00      22
6.00       3
8.00       2
2.00       2
1.00       1
Name: cylinders, dtype: int64

In [155]:
def group_displacement(x):
    if np.isnan(x):
        return x
    elif x < 1000 :
        return 1
    elif x < 1200 :
        return 2
    elif x < 1400 :
        return 3
    elif x < 1500 :
        return 4
    elif x < 1600 :
        return 5
    else:
        return 6

In [156]:
df["displacement_new"]= df.displacement.apply(group_displacement)

In [157]:
df.groupby(["make_model", "body_type", "displacement_new", ]).cylinders.describe().iloc[0:100]

                                               count  mean  std  min  25%  \
make_model    body_type     displacement_new
Audi A1       Compact       1                 385.00  3.02 0.26 3.00 3.00
                            2                   5.00  3.20 0.45 3.00 3.00
                            3                  44.00  4.00 0.00 4.00 4.00
                            4                  78.00  3.18 0.39 3.00 3.00
                            5                  42.00  3.98 0.15 3.00 4.00
                            6                   8.00  4.00 0.00 4.00 4.00
              Coupe         1                   1.00  3.00  NaN 3.00 3.00
                            5                   0.00   NaN  NaN  NaN  NaN
              Sedans        1                 667.00  3.01 0.11 3.00 3.00
                            2                   6.00  3.00 0.00 3.00 3.00
                            3                  69.00  4.00 0.00 4.00 4.00
                            4                 231.00  3.00 0.07 3.00 3.00
                            5                 190.00  3.99 0.07 3.00 4.00
                            6                  13.00  4.00 0.00 4.00 4.00
              Station wagon 1                   4.00  3.00 0.00 3.00 3.00
                            3                   4.00  4.00 0.00 4.00 4.00
                            4                   6.00  3.00 0.00 3.00 3.00
                            5                   2.00  4.00 0.00 4.00 4.00
              Van           6                   0.00   NaN  NaN  NaN  NaN
Audi A2       Off-Road      5                   0.00   NaN  NaN  NaN  NaN
Audi A3       Compact       1                  15.00  3.00 0.00 3.00 3.00
                            2                   0.00   NaN  NaN  NaN  NaN
                            3                  46.00  4.00 0.00 4.00 4.00
                            4                   6.00  3.67 0.52 3.00 3.25
                            5                  77.00  4.00 0.00 4.00 4.00
                            6                  10.00  4.10 0.32 4.00 4.00
              Convertible   3                   1.00  4.00  NaN 4.00 4.00
                            4                   1.00  4.00  NaN 4.00 4.00
                            5                   1.00  4.00  NaN 4.00 4.00
                            6                   5.00  4.00 0.00 4.00 4.00
              Coupe         1                   1.00  3.00  NaN 3.00 3.00
                            5                   3.00  4.00 0.00 4.00 4.00
              Sedans        1                 305.00  3.01 0.10 3.00 3.00
                            2                  23.00  3.83 0.39 3.00 4.00
                            3                  62.00  4.00 0.00 4.00 4.00
                            4                  77.00  4.00 0.00 4.00 4.00
                            5                1309.00  4.00 0.03 3.00 4.00
                            6                 202.00  4.09 0.29 4.00 4.00
              Station wagon 1                  48.00  3.00 0.00 3.00 3.00
                            2                   2.00  4.00 0.00 4.00 4.00
                            3                   8.00  4.00 0.00 4.00 4.00
                            4                   5.00  4.00 0.00 4.00 4.00
                            5                  64.00  4.02 0.12 4.00 4.00
                            6                  23.00  4.04 0.21 4.00 4.00
Opel Astra    Compact       1                  20.00  3.00 0.00 3.00 3.00
                            2                   1.00  3.00  NaN 3.00 3.00
                            3                  29.00  4.00 0.00 4.00 4.00
                            4                   3.00  4.00 0.00 4.00 4.00
                            5                  69.00  4.00 0.00 4.00 4.00
                            6                   1.00  4.00  NaN 4.00 4.00
              Coupe         3                   1.00  4.00  NaN 4.00 4.00
              Off-Road      3                   1.00  4.00  NaN 4.00 4.00
              Sedans        1                 116.00  3.05 0.22 3.00 3.00
                            2                   2.00  3.00 0.00 3.00 3.00
                            3                 188.00  4.00 0.00 4.00 4.00
                            4                   3.00  4.00 0.00 4.00 4.00
                            5                 214.00  4.00 0.00 4.00 4.00
                            6                  10.00  4.00 0.00 4.00 4.00
              Station wagon 1                  45.00  3.04 0.21 3.00 3.00
                            2                   0.00   NaN  NaN  NaN  NaN
                            3                 205.00  4.00 0.00 4.00 4.00
                            4                   6.00  4.00 0.00 4.00 4.00
                            5                 497.00  4.00 0.00 4.00 4.00
                            6                   9.00  4.00 0.00 4.00 4.00
Opel Corsa    Compact       1                   3.00  3.00 0.00 3.00 3.00
                            2                   0.00   NaN  NaN  NaN  NaN
                            3                 689.00  3.99 0.12 1.00 4.00
                            4                  14.00  4.00 0.00 4.00 4.00
              Coupe         1                   1.00  3.00  NaN 3.00 3.00
                            3                  10.00  4.00 0.00 4.00 4.00
              Off-Road      4                   3.00  4.00 0.00 4.00 4.00
              Sedans        1                   3.00  3.00 0.00 3.00 3.00
                            2                   0.00   NaN  NaN  NaN  NaN
                            3                 666.00  4.00 0.00 4.00 4.00
                            4                   5.00  4.00 0.00 4.00 4.00
              Transporter   3                   7.00  3.86 0.38 3.00 4.00
              Van           3                   0.00   NaN  NaN  NaN  NaN
Opel Insignia Compact       1                   0.00   NaN  NaN  NaN  NaN
                            3                   2.00  4.00 0.00 4.00 4.00
                            4                   8.00  4.00 0.00 4.00 4.00
                            5                   9.00  4.00 0.00 4.00 4.00
                            6                   3.00  4.00 0.00 4.00 4.00
              Coupe         6                   0.00   NaN  NaN  NaN  NaN
              Off-Road      4                   0.00   NaN  NaN  NaN  NaN
                            5                   1.00  4.00  NaN 4.00 4.00
                            6                   5.00  4.00 0.00 4.00 4.00
              Sedans        1                   0.00   NaN  NaN  NaN  NaN
                            3                  24.00  4.00 0.00 4.00 4.00
                            4                 132.00  4.00 0.00 4.00 4.00
                            5                 304.00  4.00 0.00 4.00 4.00
                            6                 127.00  4.02 0.18 4.00 4.00
              Station wagon 1                   0.00   NaN  NaN  NaN  NaN
                            3                  12.00  4.00 0.00 4.00 4.00
                            4                 186.00  4.00 0.00 4.00 4.00
                            5                 434.00  4.00 0.10 4.00 4.00
                            6                 385.00  4.00 0.14 2.00 4.00
              Van           4                   1.00  4.00  NaN 4.00 4.00
Renault Clio  Compact       1                  48.00  3.00 0.00 3.00 3.00
                            2                  80.00  3.99 0.11 3.00 4.00
                            3                   3.00  4.00 0.00 4.00 4.00

                                              50%  75%  max
make_model    body_type     displacement_new
Audi A1       Compact       1                3.00 3.00 8.00
                            2                3.00 3.00 4.00
                            3                4.00 4.00 4.00
                            4                3.00 3.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 4.00
              Coupe         1                3.00 3.00 3.00
                            5                 NaN  NaN  NaN
              Sedans        1                3.00 3.00 4.00
                            2                3.00 3.00 3.00
                            3                4.00 4.00 4.00
                            4                3.00 3.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 4.00
              Station wagon 1                3.00 3.00 3.00
                            3                4.00 4.00 4.00
                            4                3.00 3.00 3.00
                            5                4.00 4.00 4.00
              Van           6                 NaN  NaN  NaN
Audi A2       Off-Road      5                 NaN  NaN  NaN
Audi A3       Compact       1                3.00 3.00 3.00
                            2                 NaN  NaN  NaN
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 5.00
              Convertible   3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 4.00
              Coupe         1                3.00 3.00 3.00
                            5                4.00 4.00 4.00
              Sedans        1                3.00 3.00 4.00
                            2                4.00 4.00 4.00
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 5.00
              Station wagon 1                3.00 3.00 3.00
                            2                4.00 4.00 4.00
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 5.00
                            6                4.00 4.00 5.00
Opel Astra    Compact       1                3.00 3.00 3.00
                            2                3.00 3.00 3.00
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 4.00
              Coupe         3                4.00 4.00 4.00
              Off-Road      3                4.00 4.00 4.00
              Sedans        1                3.00 3.00 4.00
                            2                3.00 3.00 3.00
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 4.00
              Station wagon 1                3.00 3.00 4.00
                            2                 NaN  NaN  NaN
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 4.00
Opel Corsa    Compact       1                3.00 3.00 3.00
                            2                 NaN  NaN  NaN
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
              Coupe         1                3.00 3.00 3.00
                            3                4.00 4.00 4.00
              Off-Road      4                4.00 4.00 4.00
              Sedans        1                3.00 3.00 3.00
                            2                 NaN  NaN  NaN
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
              Transporter   3                4.00 4.00 4.00
              Van           3                 NaN  NaN  NaN
Opel Insignia Compact       1                 NaN  NaN  NaN
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 4.00
              Coupe         6                 NaN  NaN  NaN
              Off-Road      4                 NaN  NaN  NaN
                            5                4.00 4.00 4.00
                            6                4.00 4.00 4.00
              Sedans        1                 NaN  NaN  NaN
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 4.00
                            6                4.00 4.00 6.00
              Station wagon 1                 NaN  NaN  NaN
                            3                4.00 4.00 4.00
                            4                4.00 4.00 4.00
                            5                4.00 4.00 6.00
                            6                4.00 4.00 6.00
              Van           4                4.00 4.00 4.00
Renault Clio  Compact       1                3.00 3.00 3.00
                            2                4.00 4.00 4.00
                            3                4.00 4.00 4.00

**There is no good pattern for displacements**

**There are columns like "displacement" , "hp_kw", "gears" to represent this column. using them we can go to the ML model. We can drop this column**

In [158]:
df.drop(columns=["displacement_new", "cylinders"], inplace=True)

## 23. gears

In [159]:
summary("gears")

Column name              :  gears
--------------------------------
Total missing value      :  4712
Percentage of missing    :  29.6
Number of unique values  :  10

Unique values  :
[nan  7.  6.  5.  8.  1.  2. 50.  9.  3.  4.]

Number of values
6.00     5822
NaN      4712
5.00     3239
7.00     1908
8.00      224
9.00        6
1.00        2
3.00        2
4.00        2
2.00        1
50.00       1
Name: gears, dtype: int64

**The number of gears of cars changes by theirs make_models, body_types and gear_types most of the time. So We can fill missing values with mode value of related group.**

In [160]:
df.groupby(["make_model", "body_type", "gearing_type", "gears"]).price.describe()[:50]

                                               count     mean      std  \
make_model body_type     gearing_type   gears
Audi A1    Compact       Automatic      5.00    3.00 22184.33  3421.30
                                        6.00    6.00 21038.33  4282.04
                                        7.00  199.00 22059.25  3918.12
                                        8.00    1.00 16880.00      NaN
                         Manual         5.00  277.00 16329.47  3040.93
                                        6.00   77.00 20538.30  2061.00
                         Semi-automatic 7.00    3.00 24028.33  7208.44
           Coupe         Manual         5.00    1.00 13950.00      NaN
           Sedans        Automatic      5.00   14.00 18078.57  1329.65
                                        6.00   11.00 22974.36  5983.73
                                        7.00  398.00 21320.04  4146.22
                                        8.00    1.00 20500.00      NaN
                         Manual         5.00  513.00 15490.27  2529.02
                                        6.00   89.00 21144.98  2273.88
                                        7.00    1.00 15500.00      NaN
                         Semi-automatic 6.00    1.00 37900.00      NaN
                                        7.00   52.00 20432.63  5370.50
           Station wagon Automatic      7.00    3.00 23193.00  5069.98
                         Manual         5.00   10.00 15574.00  1198.62
                                        6.00    1.00 13979.00      NaN
           Van           Automatic      6.00    1.00 29000.00      NaN
Audi A3    Compact       Automatic      6.00    4.00 17820.00  1839.44
                                        7.00   56.00 19340.98  3092.94
                         Manual         5.00    1.00 18900.00      NaN
                                        6.00   87.00 16091.36  3171.23
                                        7.00    1.00 15000.00      NaN
                         Semi-automatic 6.00    1.00 24950.00      NaN
                                        7.00   13.00 38341.31  9924.34
           Convertible   Automatic      7.00    3.00 17931.00  6119.85
                         Semi-automatic 6.00    2.00 25450.00  7707.46
                                        7.00    3.00 39516.67 14464.81
           Coupe         Automatic      7.00    4.00 17745.00   962.65
           Sedans        Automatic      6.00   72.00 18276.89  2859.82
                                        7.00  790.00 21967.93  3273.47
                         Manual         5.00    1.00 12949.00      NaN
                                        6.00  935.00 19965.57  3279.83
                                        7.00    7.00 21841.43  2286.08
                         Semi-automatic 6.00   46.00 25793.24  5776.73
                                        7.00  193.00 26548.46 10645.29
           Station wagon Automatic      6.00    6.00 19143.33  3117.42
                                        7.00   40.00 21534.85  3693.93
                         Manual         6.00  105.00 20175.52  3540.22
                         Semi-automatic 7.00    1.00 63900.00      NaN
Opel Astra Compact       Automatic      5.00    6.00 17182.33  1442.09
                                        6.00   25.00 25286.08  9242.13
                         Manual         5.00   24.00 15659.46  2318.54
                                        6.00  110.00 13690.62  2415.38
                         Semi-automatic 5.00    3.00 17866.67  2027.52
           Coupe         Automatic      6.00    1.00 14490.00      NaN
           Off-Road      Automatic      6.00    1.00 18590.00      NaN

                                                   min      25%      50%  \
make_model body_type     gearing_type   gears
Audi A1    Compact       Automatic      5.00  18497.00 20648.50 22800.00
                                        6.00  16430.00 18725.00 20920.00
                                        7.00  13990.00 18970.00 21790.00
                                        8.00  16880.00 16880.00 16880.00
                         Manual         5.00   9950.00 13990.00 15900.00
                                        6.00  12550.00 19588.00 20881.00
                         Semi-automatic 7.00  17945.00 20047.50 22150.00
           Coupe         Manual         5.00  13950.00 13950.00 13950.00
           Sedans        Automatic      5.00  15200.00 17500.00 18900.00
                                        6.00  14500.00 17540.00 22990.00
                                        7.00  11000.00 18175.00 20500.00
                                        8.00  20500.00 20500.00 20500.00
                         Manual         5.00   8999.00 13880.00 15400.00
                                        6.00  13000.00 20900.00 21990.00
                                        7.00  15500.00 15500.00 15500.00
                         Semi-automatic 6.00  37900.00 37900.00 37900.00
                                        7.00  12999.00 16500.00 18500.00
           Station wagon Automatic      7.00  19640.00 20290.00 20940.00
                         Manual         5.00  12950.00 15000.00 15850.00
                                        6.00  13979.00 13979.00 13979.00
           Van           Automatic      6.00  29000.00 29000.00 29000.00
Audi A3    Compact       Automatic      6.00  15490.00 17297.50 17900.00
                                        7.00  13950.00 16900.00 18950.00
                         Manual         5.00  18900.00 18900.00 18900.00
                                        6.00  12900.00 13500.00 14900.00
                                        7.00  15000.00 15000.00 15000.00
                         Semi-automatic 6.00  24950.00 24950.00 24950.00
                                        7.00  24860.00 35495.00 37998.00
           Convertible   Automatic      7.00  10893.00 15896.50 20900.00
                         Semi-automatic 6.00  20000.00 22725.00 25450.00
                                        7.00  29500.00 31225.00 32950.00
           Coupe         Automatic      7.00  16990.00 16990.00 17495.00
           Sedans        Automatic      6.00  12500.00 16867.50 17990.00
                                        7.00  13000.00 19900.00 22000.00
                         Manual         5.00  12949.00 12949.00 12949.00
                                        6.00  10550.00 17500.00 20250.00
                                        7.00  18500.00 20545.00 21500.00
                         Semi-automatic 6.00  15500.00 22000.00 25250.00
                                        7.00  14000.00 20000.00 23400.00
           Station wagon Automatic      6.00  15900.00 16455.00 18890.00
                                        7.00  15700.00 18497.50 21495.00
                         Manual         6.00   5555.00 18480.00 19500.00
                         Semi-automatic 7.00  63900.00 63900.00 63900.00
Opel Astra Compact       Automatic      5.00  15945.00 15962.25 16699.50
                                        6.00  12490.00 15400.00 26899.00
                         Manual         5.00  10791.00 13899.00 16422.00
                                        6.00   8450.00 11955.00 12955.00
                         Semi-automatic 5.00  15900.00 16825.00 17750.00
           Coupe         Automatic      6.00  14490.00 14490.00 14490.00
           Off-Road      Automatic      6.00  18590.00 18590.00 18590.00

                                                   75%      max
make_model body_type     gearing_type   gears
Audi A1    Compact       Automatic      5.00  24028.00 25256.00
                                        6.00  21060.00 28860.00
                                        7.00  24365.00 29181.00
                                        8.00  16880.00 16880.00
                         Manual         5.00  16940.00 22990.00
                                        6.00  21990.00 22989.00
                         Semi-automatic 7.00  27070.00 31990.00
           Coupe         Manual         5.00  13950.00 13950.00
           Sedans        Automatic      5.00  18900.00 19300.00
                                        6.00  28840.00 29000.00
                                        7.00  24980.00 28990.00
                                        8.00  20500.00 20500.00
                         Manual         5.00  16500.00 22900.00
                                        6.00  22500.00 22989.00
                                        7.00  15500.00 15500.00
                         Semi-automatic 6.00  37900.00 37900.00
                                        7.00  22747.50 35900.00
           Station wagon Automatic      7.00  24969.50 28999.00
                         Manual         5.00  16432.50 16880.00
                                        6.00  13979.00 13979.00
           Van           Automatic      6.00  29000.00 29000.00
Audi A3    Compact       Automatic      6.00  18422.50 19990.00
                                        7.00  21912.50 27288.00
                         Manual         5.00  18900.00 18900.00
                                        6.00  18795.00 25272.00
                                        7.00  15000.00 15000.00
                         Semi-automatic 6.00  24950.00 24950.00
                                        7.00  39575.00 67600.00
           Convertible   Automatic      7.00  21450.00 22000.00
                         Semi-automatic 6.00  28175.00 30900.00
                                        7.00  44525.00 56100.00
           Coupe         Automatic      7.00  18250.00 19000.00
           Sedans        Automatic      6.00  19125.00 26999.00
                                        7.00  24100.00 27470.00
                         Manual         5.00  12949.00 12949.00
                                        6.00  22539.50 25490.00
                                        7.00  23650.00 24500.00
                         Semi-automatic 6.00  28375.00 38450.00
                                        7.00  28500.00 74600.00
           Station wagon Automatic      6.00  21175.00 23600.00
                                        7.00  23956.25 27225.00
                         Manual         6.00  23100.00 25490.00
                         Semi-automatic 7.00  63900.00 63900.00
Opel Astra Compact       Automatic      5.00  18525.00 18900.00
                                        6.00  31246.00 39433.00
                         Manual         5.00  17490.00 18990.00
                                        6.00  15350.00 18300.00
                         Semi-automatic 5.00  18850.00 19950.00
           Coupe         Automatic      6.00  14490.00 14490.00
           Off-Road      Automatic      6.00  18590.00 18590.00

In [161]:
fill_most_freq(df, ["make_model", "body_type", "gearing_type"], "gears"  )

Number of NaN :  0
------------------
6.00     8615
5.00     4255
7.00     2810
8.00      225
9.00        6
1.00        2
3.00        2
4.00        2
2.00        1
50.00       1
Name: gears, dtype: int64

## 24. comfort_and_convenience

In [162]:
summary("comfort_and_convenience")

Column name              :  comfort_and_convenience
--------------------------------
Total missing value      :  920
Percentage of missing    :  5.78
Number of unique values  :  6198

Unique values  :
['Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system'
 'Air conditioning, Automatic climate control, Hill Holder, Leather steering wheel, Lumbar support, Parking assist system sensors rear, Power windows, Start-stop system, Tinted windows'
 'Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Seat heating, Start-stop system'
 ...
 'Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Panorama roof, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system, Sunroof'
 'Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Massage seats, Multi-function steering wheel, Navigation system, Panorama roof, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system'
 'Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof']

Number of values
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        920
Air conditioning, Electrical side mirrors, Hill Holder, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
Air conditioning, Electrical side mirrors, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
Air conditioning, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows                                                                                                                                                                                                                   1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof                                                                                                   1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows                                                                                                                     1
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                                                                                                                                                                                                          1
Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof      1
Name: comfort_and_convenience, Length: 6199, dtype: int64

In [163]:
fill(df, "make_model", "body_type", "comfort_and_convenience", "mode")

Number of NaN :  0
------------------
Air conditioning, Electrical side mirrors, Hill Holder, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                      388
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system                                                                                                                                                         187
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Electric tailgate, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system          161
Air conditioning, Automatic climate control, Cruise control, Multi-function steering wheel, Park Distance Control, Power windows                                                                                                                                                                                                                                                                                                                                                                                           160
Air conditioning, Electrical side mirrors, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
Air conditioning, Cruise control, Electrical side mirrors, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Start-stop system                                                                                                                                                                                                                                                                                                   1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Sunroof, Tinted windows                                                                                                                                                 1
Air conditioning, Armrest, Cruise control, Hill Holder, Leather steering wheel, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows                                                                                                                                                                                                                                                                                                 1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Multi-function steering wheel, Power windows, Rain sensor, Start-stop system, Tinted windows                                                                                                                                                                                                                                                                                                          1
Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof      1
Name: comfort_and_convenience, Length: 6198, dtype: int64

In [164]:
# Car Comfort & Conveniance Packages

premium = ["Electrical side mirrors", "Parking assist", "Air conditioning", "Hill Holder", "Power windows"]
premium_plus = ["Keyless central door lock", "Heads-up", "Massage seats", "heating", "Automatic climate control", "Heated"]

comfort_package = df['comfort_and_convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))
comfort_package.value_counts()

Standard        10786
Premium          5045
Premium Plus       88
Name: comfort_and_convenience, dtype: int64

In [165]:
df.drop("comfort_and_convenience", axis=1, inplace=True)

## 25. entertainment_and_media

In [166]:
summary("entertainment_and_media")

Column name              :  entertainment_and_media
--------------------------------
Total missing value      :  1374
Percentage of missing    :  8.63
Number of unique values  :  346

Unique values  :
['Bluetooth, Hands-free equipment, On-board computer, Radio'
 'Bluetooth, Hands-free equipment, On-board computer, Radio, Sound system'
 'MP3, On-board computer'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB'
 'Bluetooth, Hands-free equipment, On-board computer, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Radio, Sound system, USB'
 'CD player, MP3, Radio' 'Radio' nan
 'CD player, Hands-free equipment, On-board computer, Radio, USB'
 'Bluetooth, On-board computer, Radio'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Radio'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, USB'
 'Radio, Sound system'
 'Bluetooth, CD player, MP3, On-board computer, Radio, USB'
 'On-board computer, Radio' 'CD player, MP3, Radio, Sound system, USB'
 'Bluetooth, Hands-free equipment, MP3, On-board computer, Radio'
 'CD player, MP3, On-board computer, Radio' 'Bluetooth, CD player'
 'CD player' 'CD player, On-board computer, Radio'
 'Bluetooth, CD player, On-board computer, Radio' 'MP3, Radio'
 'Bluetooth, Hands-free equipment, On-board computer'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Radio, USB'
 'CD player, Hands-free equipment, On-board computer, Radio'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB'
 'Bluetooth, CD player, MP3, On-board computer'
 'Bluetooth, Hands-free equipment, MP3, Radio'
 'Bluetooth, CD player, Digital radio, MP3, On-board computer, Radio, USB'
 'CD player, MP3, On-board computer, Radio, USB'
 'Bluetooth, CD player, MP3, Radio, Sound system, USB' 'Bluetooth, Radio'
 'Bluetooth, Hands-free equipment, On-board computer, Radio, USB'
 'Bluetooth, CD player, MP3, On-board computer, Radio'
 'MP3, On-board computer, Radio'
 'Bluetooth, Hands-free equipment, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system'
 'Bluetooth, MP3, On-board computer, USB'
 'Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, Sound system'
 'Hands-free equipment, On-board computer, Radio, USB'
 'Bluetooth, Hands-free equipment, MP3'
 'Bluetooth, CD player, Hands-free equipment, MP3, Radio, USB'
 'Bluetooth, CD player, Hands-free equipment, On-board computer'
 'Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB'
 'Bluetooth, CD player, Hands-free equipment, Radio, Sound system'
 'CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Radio, Sound system'
 'CD player, On-board computer, Radio, Sound system'
 'CD player, Hands-free equipment, On-board computer, Radio, Sound system'
 'Bluetooth, CD player, MP3, On-board computer, Radio, Sound system'
 'Bluetooth, CD player, Hands-free equipment, MP3, Radio'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Radio'
 'CD player, Hands-free equipment, Radio, USB'
 'Bluetooth, MP3, On-board computer, Radio'
 'CD player, MP3, On-board computer, Radio, Sound system'
 'Bluetooth, MP3, On-board computer, Radio, Sound system, USB'
 'Bluetooth, MP3'
 'Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB'
 'Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB'
 'Bluetooth, Hands-free equipment, On-board computer, USB'
 'CD player, Radio' 'CD player, On-board computer'
 'Bluetooth, Hands-free equipment, Radio' 'On-board computer'
 'Bluetooth, CD player, Digital radio, On-board computer, Radio, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, On-board computer'
 'Bluetooth, CD player, MP3, On-board computer, Radio, Sound system, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, On-board computer, Radio, Sound system, USB'
 'CD player, Hands-free equipment, MP3, On-board computer, Radio'
 'Bluetooth, CD player, Hands-free equipment, Radio'
 'CD player, MP3, On-board computer, Radio, Sound system, USB'
 'CD player, Hands-free equipment, On-board computer, Sound system, USB'
 'Bluetooth, CD player, Radio'
 'Bluetooth, CD player, MP3, On-board computer, USB'
 'Bluetooth, Radio, Sound system' 'CD player, Hands-free equipment'
 'Bluetooth, USB'
 'Bluetooth, CD player, Hands-free equipment, MP3, Radio, Sound system'
 'Bluetooth, CD player, On-board computer'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, On-board computer, Radio'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Sound system, USB'
 'CD player, MP3, On-board computer' 'Bluetooth'
 'Bluetooth, CD player, On-board computer, Radio, USB'
 'CD player, Hands-free equipment, MP3, On-board computer, Radio, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, Radio, Sound system, USB'
 'Hands-free equipment, MP3, On-board computer, Radio, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, USB'
 'Bluetooth, Hands-free equipment, On-board computer, Sound system'
 'CD player, Digital radio, Hands-free equipment, MP3, Radio'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, Radio, USB'
 'Bluetooth, Hands-free equipment, Radio, Sound system'
 'CD player, Radio, Sound system'
 'Bluetooth, CD player, Hands-free equipment'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Sound system'
 'On-board computer, Radio, USB' 'Hands-free equipment'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, Radio, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, Radio, USB'
 'Bluetooth, CD player, Digital radio, MP3, Radio, USB'
 'Bluetooth, Digital radio, On-board computer, Radio'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, Sound system'
 'Bluetooth, CD player, Digital radio, MP3, On-board computer, Radio, Sound system, USB'
 'Bluetooth, On-board computer'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB'
 'Hands-free equipment, On-board computer, Radio'
 'Bluetooth, CD player, Radio, Sound system'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, Radio'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Sound system'
 'Bluetooth, Digital radio, MP3, On-board computer, Radio, USB'
 'Bluetooth, Hands-free equipment, Radio, USB'
 'Bluetooth, CD player, Hands-free equipment, MP3, Radio, Sound system, USB'
 'MP3, On-board computer, Radio, USB'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Sound system'
 'Hands-free equipment, On-board computer, Sound system'
 'Hands-free equipment, Radio'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Radio'
 'Bluetooth, MP3, On-board computer, Radio, USB'
 'Bluetooth, Radio, Sound system, USB'
 'Bluetooth, CD player, Digital radio, MP3, On-board computer, Radio'
 'Bluetooth, CD player, MP3, Radio'
 'Bluetooth, Hands-free equipment, MP3, On-board computer'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, Radio, USB'
 'CD player, Digital radio, MP3, On-board computer, Radio'
 'Digital radio, MP3, Radio'
 'CD player, Digital radio, On-board computer, Radio, USB'
 'CD player, Digital radio, Hands-free equipment, On-board computer, Radio, USB'
 'Bluetooth, Hands-free equipment, MP3, Radio, USB'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, Radio'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, Sound system'
 'CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB'
 'CD player, Digital radio, MP3, On-board computer, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer'
 'Bluetooth, Hands-free equipment, MP3, On-board computer, Sound system'
 'CD player, Digital radio, MP3'
 'Hands-free equipment, On-board computer, Radio, Sound system'
 'Bluetooth, CD player, Digital radio, MP3, On-board computer, USB'
 'Bluetooth, Hands-free equipment, MP3, On-board computer, USB'
 'CD player, Digital radio, Hands-free equipment, On-board computer, Radio'
 'Bluetooth, CD player, On-board computer, Radio, Sound system'
 'Bluetooth, Hands-free equipment, MP3, Radio, Sound system'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, On-board computer, Radio, USB'
 'Bluetooth, Hands-free equipment, MP3, Sound system, USB'
 'Bluetooth, Radio, USB'
 'Bluetooth, CD player, On-board computer, Radio, Sound system, USB'
 'Sound system' 'CD player, Hands-free equipment, Radio, Sound system'
 'Bluetooth, Hands-free equipment, Sound system, USB'
 'MP3, On-board computer, USB' 'Bluetooth, MP3, Radio, USB'
 'Bluetooth, CD player, Hands-free equipment, Radio, USB'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, USB'
 'MP3, USB' 'Bluetooth, Hands-free equipment'
 'Bluetooth, Hands-free equipment, On-board computer, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment, Sound system'
 'Digital radio, On-board computer, Radio, USB'
 'Bluetooth, CD player, Hands-free equipment, Sound system, USB'
 'Hands-free equipment, Sound system'
 'Hands-free equipment, MP3, On-board computer, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, Radio, Sound system'
 'Bluetooth, Hands-free equipment, MP3, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, Sound system'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, Radio, USB'
 'Bluetooth, Hands-free equipment, MP3, On-board computer, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, Radio, Sound system, Television, USB'
 'CD player, On-board computer, Radio, USB'
 'Bluetooth, Digital radio, On-board computer, USB'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Sound system, USB'
 'Digital radio, Hands-free equipment, On-board computer, Radio, USB'
 'Digital radio, Hands-free equipment, MP3, On-board computer, Radio, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, USB'
 'Bluetooth, Digital radio' 'Bluetooth, MP3, Radio'
 'Bluetooth, Digital radio, MP3, On-board computer, Radio'
 'CD player, Hands-free equipment, Radio'
 'Bluetooth, On-board computer, Radio, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, USB'
 'Bluetooth, CD player, Radio, USB'
 'Hands-free equipment, On-board computer, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment'
 'Bluetooth, Digital radio, Hands-free equipment, Sound system, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Sound system, USB'
 'On-board computer, Sound system'
 'Bluetooth, Hands-free equipment, Sound system' 'CD player, Radio, USB'
 'CD player, Radio, Sound system, USB'
 'Bluetooth, Digital radio, On-board computer, Radio, USB'
 'Bluetooth, Hands-free equipment, USB'
 'Bluetooth, MP3, On-board computer'
 'Bluetooth, On-board computer, Radio, Sound system'
 'On-board computer, Radio, Sound system'
 'Bluetooth, CD player, Digital radio, On-board computer, USB'
 'CD player, On-board computer, Radio, Sound system, USB'
 'Bluetooth, On-board computer, USB'
 'Bluetooth, On-board computer, Radio, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, Radio'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB'
 'Bluetooth, MP3, On-board computer, Radio, Television, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, On-board computer, USB'
 'CD player, MP3, On-board computer, USB' 'CD player, MP3, Radio, USB'
 'Bluetooth, Hands-free equipment, MP3, Radio, Sound system, USB'
 'Bluetooth, MP3, Radio, Sound system'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, USB'
 'CD player, Hands-free equipment, On-board computer'
 'Bluetooth, CD player, On-board computer, Sound system' 'CD player, MP3'
 'CD player, On-board computer, USB'
 'Bluetooth, Digital radio, On-board computer, Radio, Sound system'
 'Bluetooth, MP3, On-board computer, Radio, Sound system'
 'Bluetooth, CD player, Digital radio, MP3, On-board computer, Radio, Sound system'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, On-board computer, Radio, Sound system'
 'Bluetooth, CD player, Digital radio, Hands-free equipment'
 'CD player, Hands-free equipment, On-board computer, USB'
 'Bluetooth, CD player, MP3, Radio, Sound system'
 'Digital radio, On-board computer, Radio'
 'Bluetooth, CD player, Hands-free equipment, USB'
 'Bluetooth, Digital radio, On-board computer'
 'CD player, Digital radio, On-board computer, USB'
 'Bluetooth, CD player, Digital radio, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB'
 'CD player, Hands-free equipment, MP3, Radio'
 'Bluetooth, CD player, Digital radio, MP3, Radio, Sound system, USB'
 'Bluetooth, Digital radio, MP3, On-board computer, USB'
 'CD player, On-board computer, Sound system'
 'Bluetooth, CD player, MP3, Radio, USB'
 'Bluetooth, CD player, On-board computer, USB'
 'Bluetooth, CD player, Digital radio, On-board computer, Radio'
 'Hands-free equipment, On-board computer, Radio, Sound system, USB'
 'CD player, Hands-free equipment, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, Radio, Sound system, USB'
 'USB' 'Bluetooth, Digital radio, Hands-free equipment, USB'
 'CD player, Digital radio, MP3, On-board computer, Radio, USB'
 'Hands-free equipment, On-board computer'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, Radio, Sound system, USB'
 'CD player, Hands-free equipment, On-board computer, Sound system'
 'Bluetooth, Digital radio, MP3, On-board computer, Radio, Sound system, USB'
 'Hands-free equipment, Radio, USB'
 'CD player, Hands-free equipment, On-board computer, Radio, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, Radio, Sound system, USB'
 'MP3, Radio, Sound system'
 'Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Sound system, USB'
 'Bluetooth, Sound system'
 'Bluetooth, Digital radio, Hands-free equipment, Radio'
 'CD player, Digital radio, Hands-free equipment, Radio, USB'
 'On-board computer, USB'
 'Digital radio, Hands-free equipment, On-board computer, Radio'
 'Bluetooth, Digital radio, On-board computer, Radio, Television, USB'
 'Digital radio, Hands-free equipment, MP3, On-board computer, Radio'
 'Bluetooth, Digital radio, Radio'
 'Bluetooth, CD player, Digital radio, Radio'
 'Bluetooth, CD player, MP3, USB'
 'Bluetooth, Digital radio, On-board computer, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Radio, Sound system, Television, USB'
 'CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Radio'
 'Hands-free equipment, On-board computer, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, Radio, Television, USB'
 'Bluetooth, Digital radio, Hands-free equipment, Radio, USB'
 'Bluetooth, On-board computer, Sound system, USB'
 'Digital radio, MP3, On-board computer, Radio, USB'
 'Digital radio, Hands-free equipment, MP3, On-board computer, USB'
 'Digital radio, On-board computer'
 'CD player, Digital radio, On-board computer, Radio'
 'Bluetooth, CD player, Digital radio, On-board computer'
 'Bluetooth, CD player, USB'
 'Digital radio, Hands-free equipment, On-board computer, USB'
 'Bluetooth, CD player, Digital radio, MP3, On-board computer, Radio, Television, USB'
 'Radio, USB' 'Bluetooth, CD player, Digital radio, Radio, USB'
 'Bluetooth, MP3, USB' 'MP3, On-board computer, Radio, Sound system'
 'CD player, USB' 'Bluetooth, CD player, Radio, Sound system, USB'
 'Bluetooth, CD player, MP3'
 'Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, Television, USB'
 'On-board computer, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, MP3, USB'
 'CD player, Digital radio, Radio' 'Bluetooth, Sound system, USB'
 'Hands-free equipment, MP3, On-board computer, Radio'
 'Bluetooth, MP3, On-board computer, Sound system, USB'
 'MP3, On-board computer, Radio, Sound system, USB' 'MP3'
 'Digital radio, Radio' 'Bluetooth, MP3, Radio, Sound system, USB'
 'MP3, Radio, Sound system, USB'
 'CD player, Hands-free equipment, MP3, Radio, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, Radio'
 'Bluetooth, CD player, Digital radio, On-board computer, Radio, Sound system, USB'
 'CD player, MP3, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Sound system, Television, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer'
 'CD player, Hands-free equipment, MP3, On-board computer'
 'CD player, Hands-free equipment, MP3, On-board computer, USB'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Sound system, Television, USB'
 'Hands-free equipment, MP3, Radio, USB' 'Hands-free equipment, USB'
 'Bluetooth, Digital radio, Hands-free equipment, On-board computer, Sound system, USB'
 'Digital radio, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB'
 'Digital radio, Radio, USB'
 'Digital radio, MP3, On-board computer, Radio'
 'Digital radio, Hands-free equipment' 'Digital radio'
 'Radio, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment, Radio, Sound system, USB'
 'Bluetooth, Digital radio, MP3, On-board computer, Radio, Sound system'
 'Digital radio, On-board computer, USB'
 'Bluetooth, Digital radio, Radio, Sound system, USB'
 'Bluetooth, Digital radio, Radio, USB'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, USB'
 'Hands-free equipment, MP3, On-board computer, Sound system, USB'
 'Bluetooth, Digital radio, USB'
 'Hands-free equipment, MP3, On-board computer' 'Sound system, USB'
 'Bluetooth, Digital radio, On-board computer, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, Sound system, USB'
 'Bluetooth, Digital radio, On-board computer, Sound system'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Sound system, Television, USB'
 'Bluetooth, Digital radio, Hands-free equipment, Radio, Sound system, Television, USB'
 'Digital radio, Sound system, USB'
 'Bluetooth, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, Television, USB'
 'Bluetooth, CD player, On-board computer, Sound system, USB'
 'On-board computer, Sound system, USB'
 'Bluetooth, Digital radio, MP3, Radio'
 'Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, USB'
 'Hands-free equipment, MP3, Radio, Sound system, USB'
 'Bluetooth, CD player, Hands-free equipment, On-board computer, Radio, Television, USB'
 'Bluetooth, Digital radio, MP3, Sound system, USB'
 'Bluetooth, Digital radio, MP3, On-board computer, Sound system, USB'
 'Digital radio, Sound system' 'MP3, Radio, USB'
 'CD player, Hands-free equipment, On-board computer, Radio, Sound system, Television'
 'Bluetooth, Digital radio, MP3, Radio, USB'
 'Digital radio, Hands-free equipment, On-board computer, Radio, Sound system'
 'Digital radio, USB' 'Digital radio, Hands-free equipment, Radio'

In [167]:
fill(df, "make_model", "body_type", "entertainment_and_media", "mode")

Number of NaN :  0
------------------
Bluetooth, Hands-free equipment, On-board computer, Radio, USB                         1738
Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB                    1134
Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB         1010
On-board computer                                                                       615
Radio                                                                                   558
                                                                                       ...
Bluetooth, CD player, MP3                                                                 1
CD player, USB                                                                            1
Bluetooth, CD player, Digital radio, Radio, USB                                           1
Bluetooth, CD player, Digital radio, MP3, On-board computer, Radio, Television, USB       1
Hands-free equipment, On-board computer, Radio, Sound system                              1
Name: entertainment_and_media, Length: 346, dtype: int64

In [168]:
# Car Entertainment & Media Packages

media_plus = ["Digital radio", "Hands-free", "Television"]

entertainment_media_package = df['entertainment_and_media'].apply(lambda sentence: "Plus" if any(word in sentence for word in media_plus) else "Standard")
entertainment_media_package.value_counts()

Plus        10811
Standard     5108
Name: entertainment_and_media, dtype: int64

In [169]:
df.drop("entertainment_and_media", axis=1, inplace=True)

##  26. extras

In [170]:
summary("extras")

Column name              :  extras
--------------------------------
Total missing value      :  2962
Percentage of missing    :  18.61
Number of unique values  :  659

Unique values  :
['Alloy wheels, Catalytic Converter, Voice Control'
 'Alloy wheels, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Voice Control' 'Alloy wheels, Sport seats, Voice Control'
 'Alloy wheels, Sport package, Sport suspension, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Sport suspension'
 'Alloy wheels' nan 'Alloy wheels, Shift paddles'
 'Alloy wheels, Sport seats'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Sport seats, Sport suspension'
 'Alloy wheels, Sport package, Sport seats' 'Alloy wheels, Sport package'
 'Alloy wheels, Catalytic Converter, Shift paddles, Voice Control'
 'Alloy wheels, Shift paddles, Sport package, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport seats, Voice Control, Winter tyres'
 'Alloy wheels, Winter tyres' 'Alloy wheels, Catalytic Converter'
 'Catalytic Converter' 'Alloy wheels, Sport suspension'
 'Catalytic Converter, Sport suspension, Voice Control'
 'Alloy wheels, Touch screen, Voice Control'
 'Catalytic Converter, Voice Control, Winter tyres'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport seats, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport seats, Sport suspension'
 'Alloy wheels, Shift paddles, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats'
 'Alloy wheels, Catalytic Converter, Handicapped enabled, Shift paddles, Voice Control'
 'Sport seats, Sport suspension'
 'Alloy wheels, Catalytic Converter, Sport seats'
 'Catalytic Converter, Sport seats, Sport suspension'
 'Alloy wheels, Sport package, Winter tyres'
 'Alloy wheels, Trailer hitch, Voice Control'
 'Alloy wheels, Catalytic Converter, Handicapped enabled'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Shift paddles'
 'Alloy wheels, Sport package, Sport suspension'
 'Alloy wheels, Sport package, Voice Control' 'Sport seats'
 'Alloy wheels, Cab or rented Car'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Voice Control'
 'Sport suspension'
 'Alloy wheels, Catalytic Converter, Sport package, Sport suspension, Voice Control'
 'Alloy wheels, Voice Control, Winter tyres'
 'Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Shift paddles, Sport package, Sport seats'
 'Alloy wheels, Sport package, Sport seats, Winter tyres'
 'Alloy wheels, Shift paddles, Sport seats'
 'Alloy wheels, Roof rack, Sport seats' 'Voice Control'
 'Alloy wheels, Sport suspension, Winter tyres'
 'Alloy wheels, Cab or rented Car, Sport seats, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport suspension'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport suspension, Voice Control'
 'Catalytic Converter, Sport package'
 'Alloy wheels, Handicapped enabled, Sport package, Sport seats, Sport suspension, Touch screen, Trailer hitch, Voice Control'
 'Alloy wheels, Handicapped enabled, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Touch screen'
 'Alloy wheels, Catalytic Converter, Sport package, Voice Control'
 'Alloy wheels, Sport seats, Sport suspension, Trailer hitch, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Tuned car, Winter tyres'
 'Winter tyres' 'Ski bag, Sport suspension'
 'Alloy wheels, Catalytic Converter, Sport package'
 'Alloy wheels, Catalytic Converter, Sport seats, Touch screen'
 'Sport seats, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Sport seats, Voice Control, Winter tyres'
 'Alloy wheels, Sport seats, Sport suspension, Winter tyres'
 'Catalytic Converter, Voice Control'
 'Alloy wheels, Sport suspension, Voice Control'
 'Alloy wheels, Sport package, Sport suspension, Winter tyres'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Voice Control, Winter tyres'
 'Trailer hitch'
 'Alloy wheels, Sport seats, Sport suspension, Touch screen'
 'Alloy wheels, Handicapped enabled, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Sport suspension, Touch screen'
 'Alloy wheels, Catalytic Converter, Ski bag, Sport package, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Shift paddles, Sport suspension, Touch screen'
 'Alloy wheels, Sport suspension, Touch screen, Tuned car'
 'Roof rack, Sport seats'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Touch screen'
 'Alloy wheels, Shift paddles, Touch screen'
 'Alloy wheels, Shift paddles, Sport package, Sport suspension, Winter tyres'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Sport suspension, Trailer hitch, Voice Control'
 'Alloy wheels, Shift paddles, Sport package, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Shift paddles, Sport seats, Sport suspension'
 'Alloy wheels, Shift paddles, Sport package, Touch screen, Voice Control'
 'Alloy wheels, Cab or rented Car, Catalytic Converter'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Winter tyres'
 'Alloy wheels, Catalytic Converter, Sport seats, Sport suspension, Trailer hitch'
 'Alloy wheels, Catalytic Converter, Ski bag, Sport package, Sport seats, Sport suspension, Touch screen'
 'Sport seats, Voice Control'
 'Alloy wheels, Cab or rented Car, Sport seats'
 'Cab or rented Car, Sport suspension'
 'Alloy wheels, Cab or rented Car, Catalytic Converter, Sport seats, Voice Control'
 'Catalytic Converter, Sport seats'
 'Catalytic Converter, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport seats, Voice Control'
 'Alloy wheels, Cab or rented Car, Sport seats, Sport suspension, Voice Control'
 'Sport package'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Sport suspension, Trailer hitch, Voice Control, Winter tyres'
 'Alloy wheels, Sport seats, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Sport seats, Winter tyres'
 'Alloy wheels, Cab or rented Car, Sport package, Sport seats, Voice Control'
 'Alloy wheels, Catalytic Converter, Voice Control, Winter tyres'
 'Alloy wheels, Shift paddles, Voice Control'
 'Alloy wheels, Cab or rented Car, Catalytic Converter, Sport package, Sport seats, Sport suspension, Voice Control'
 'Touch screen'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Catalytic Converter, Sport package, Sport suspension, Winter tyres'
 'Alloy wheels, Shift paddles, Sport package, Sport suspension'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Cab or rented Car, Voice Control'
 'Alloy wheels, Sport seats, Touch screen'
 'Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Touch screen'
 'Alloy wheels, Roof rack, Sport package, Sport seats, Sport suspension, Touch screen, Winter tyres'
 'Alloy wheels, Cab or rented Car, Sport suspension, Voice Control'
 'Alloy wheels, Cab or rented Car, Catalytic Converter, Sport package, Sport suspension'
 'Alloy wheels, Sport package, Sport seats, Voice Control, Winter tyres'
 'Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport seats, Winter tyres'
 'Alloy wheels, Cab or rented Car, Catalytic Converter, Sport suspension'
 'Cab or rented Car, Catalytic Converter, Sport suspension'
 'Alloy wheels, Catalytic Converter, Touch screen' 'Ski bag'
 'Alloy wheels, Cab or rented Car, Catalytic Converter, Voice Control'
 'Cab or rented Car'
 'Alloy wheels, Catalytic Converter, Touch screen, Voice Control'
 'Alloy wheels, Handicapped enabled, Shift paddles, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport package, Sport suspension'
 'Alloy wheels, Cab or rented Car, Shift paddles, Sport seats'
 'Alloy wheels, Catalytic Converter, Shift paddles, Touch screen, Voice Control'
 'Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Cab or rented Car, Shift paddles, Sport package, Sport seats'
 'Alloy wheels, Shift paddles, Sport package'
 'Alloy wheels, Shift paddles, Sport seats, Sport suspension, Voice Control'
 'Cab or rented Car, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Cab or rented Car, Sport seats, Sport suspension'
 'Alloy wheels, Catalytic Converter, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Cab or rented Car, Catalytic Converter, Voice Control'
 'Alloy wheels, Sport package, Sport suspension, Touch screen, Voice Control'
 'Cab or rented Car, Sport seats, Sport suspension'
 'Alloy wheels, Catalytic Converter, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Touch screen'
 'Sport package, Sport suspension'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Sport suspension, Touch screen'
 'Alloy wheels, Sport package, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Touch screen, Voice Control'
 'Alloy wheels, Shift paddles, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport package, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Cab or rented Car, Sport package, Sport seats'
 'Alloy wheels, Shift paddles, Sport seats, Touch screen'
 'Sport package, Sport seats, Sport suspension'
 'Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Handicapped enabled, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport package, Touch screen, Voice Control'
 'Alloy wheels, Shift paddles, Sport package, Sport suspension, Touch screen'
 'Alloy wheels, Catalytic Converter, Shift paddles, Touch screen'
 'Alloy wheels, Catalytic Converter, Sport seats, Touch screen, Voice Control'
 'Catalytic Converter, Sport package, Sport suspension'
 'Alloy wheels, Cab or rented Car, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Sport seats, Touch screen, Voice Control'
 'Catalytic Converter, Touch screen'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport seats, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Winter tyres'
 'Catalytic Converter, Winter tyres'
 'Alloy wheels, Roof rack, Ski bag, Sport seats'
 'Alloy wheels, Roof rack, Sport seats, Sport suspension'
 'Alloy wheels, Trailer hitch'
 'Alloy wheels, Catalytic Converter, Handicapped enabled, Shift paddles, Sport package, Voice Control'
 'Alloy wheels, Roof rack'
 'Alloy wheels, Roof rack, Sport package, Sport seats'
 'Alloy wheels, Cab or rented Car, Catalytic Converter, Roof rack, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Ski bag, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Trailer hitch, Voice Control'
 'Alloy wheels, Shift paddles, Winter tyres'
 'Alloy wheels, Ski bag, Sport seats'
 'Alloy wheels, Catalytic Converter, Trailer hitch'
 'Alloy wheels, Catalytic Converter, Sport package, Trailer hitch'
 'Alloy wheels, Roof rack, Trailer hitch, Voice Control'
 'Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Touch screen, Trailer hitch, Voice Control'
 'Alloy wheels, Roof rack, Sport package'
 'Alloy wheels, Roof rack, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Roof rack, Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Roof rack, Sport seats, Voice Control, Winter tyres'
 'Alloy wheels, Cab or rented Car, Roof rack, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Shift paddles, Ski bag, Sport package, Touch screen, Trailer hitch, Voice Control'
 'Alloy wheels, Catalytic Converter, Handicapped enabled, Voice Control'
 'Alloy wheels, Roof rack, Voice Control'
 'Alloy wheels, Roof rack, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Sport seats, Sport suspension, Trailer hitch, Winter tyres'
 'Roof rack, Shift paddles, Trailer hitch'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Touch screen'
 'Alloy wheels, Ski bag, Winter tyres'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Trailer hitch, Voice Control, Winter tyres'
 'Alloy wheels, Shift paddles, Ski bag, Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Shift paddles, Sport seats, Sport suspension, Trailer hitch, Voice Control'
 'Alloy wheels, Roof rack, Touch screen, Winter tyres'
 'Alloy wheels, Roof rack, Sport package, Sport seats, Sport suspension, Trailer hitch'
 'Alloy wheels, Catalytic Converter, Handicapped enabled, Sport package, Sport seats, Touch screen, Voice Control'
 'Roof rack' 'Alloy wheels, Sport package, Trailer hitch'
 'Alloy wheels, Sport package, Sport seats, Trailer hitch'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport seats'
 'Alloy wheels, Handicapped enabled'
 'Alloy wheels, Roof rack, Sport seats, Sport suspension, Trailer hitch'
 'Roof rack, Trailer hitch' 'Roof rack, Voice Control'
 'Alloy wheels, Sport seats, Sport suspension, Trailer hitch'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Voice Control'
 'Sport suspension, Trailer hitch, Voice Control'
 'Alloy wheels, Shift paddles, Ski bag, Sport package, Sport seats, Voice Control, Winter tyres'
 'Alloy wheels, Trailer hitch, Voice Control, Winter tyres'
 'Alloy wheels, Roof rack, Winter tyres'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Trailer hitch'
 'Alloy wheels, Sport package, Sport suspension, Trailer hitch'
 'Alloy wheels, Trailer hitch, Winter tyres'
 'Alloy wheels, Catalytic Converter, Trailer hitch, Voice Control'
 'Alloy wheels, Sport suspension, Trailer hitch, Voice Control'
 'Alloy wheels, Ski bag, Sport suspension'
 'Alloy wheels, Touch screen, Trailer hitch'
 'Alloy wheels, Roof rack, Trailer hitch'
 'Alloy wheels, Sport package, Trailer hitch, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Tuned car'
 'Alloy wheels, Catalytic Converter, Roof rack'
 'Catalytic Converter, Sport package, Sport seats, Voice Control'
 'Alloy wheels, Sport seats, Trailer hitch'
 'Alloy wheels, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Sport suspension, Trailer hitch'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Voice Control, Winter tyres'
 'Alloy wheels, Sport package, Sport seats, Touch screen'
 'Alloy wheels, Roof rack, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Touch screen, Tuned car, Voice Control, Winter tyres'
 'Alloy wheels, Roof rack, Touch screen, Voice Control'
 'Alloy wheels, Handicapped enabled, Sport package, Voice Control'
 'Alloy wheels, Roof rack, Sport package, Sport seats, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Catalytic Converter, Ski bag, Sport package, Sport seats, Sport suspension, Touch screen, Trailer hitch, Voice Control, Winter tyres'
 'Alloy wheels, Handicapped enabled, Shift paddles, Sport package, Sport seats, Voice Control'
 'Alloy wheels, Shift paddles, Trailer hitch, Voice Control'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Ski bag, Sport seats, Voice Control'
 'Alloy wheels, Shift paddles, Sport seats, Voice Control'
 'Alloy wheels, Sport package, Touch screen, Trailer hitch, Voice Control'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Sport suspension, Touch screen, Trailer hitch, Voice Control'
 'Alloy wheels, Catalytic Converter, Trailer hitch, Winter tyres'
 'Alloy wheels, Shift paddles, Sport package, Trailer hitch, Voice Control'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Trailer hitch'
 'Alloy wheels, Ski bag, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Catalytic Converter, Sport seats, Sport suspension, Touch screen, Voice Control, Winter tyres'
 'Alloy wheels, Catalytic Converter, Ski bag, Sport package, Sport seats, Voice Control'
 'Alloy wheels, Sport package, Sport seats, Trailer hitch, Voice Control'
 'Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Shift paddles, Ski bag, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Sport seats, Sport suspension, Tuned car, Voice Control'
 'Alloy wheels, Catalytic Converter, Shift paddles, Ski bag, Sport package, Sport seats, Sport suspension, Touch screen, Voice Control'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Touch screen, Voice Control'
 'Alloy wheels, Sliding door, Sport package, Sport seats, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Cab or rented Car, Catalytic Converter, Sport package'
 'Alloy wheels, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Cab or rented Car, Roof rack'
 'Alloy wheels, Roof rack, Ski bag, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Roof rack, Shift paddles, Ski bag, Sport package, Sport seats, Sport suspension'
 'Alloy wheels, Catalytic Converter, Handicapped enabled, Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Roof rack, Sport seats, Trailer hitch'
 'Alloy wheels, Roof rack, Trailer hitch, Voice Control, Winter tyres'
 'Alloy wheels, Shift paddles, Ski bag'
 'Alloy wheels, Roof rack, Shift paddles'
 'Alloy wheels, Roof rack, Sport package, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Catalytic Converter, Handicapped enabled, Voice Control, Winter tyres'
 'Alloy wheels, Catalytic Converter, Handicapped enabled, Sport package, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Ski bag, Sport package, Sport seats, Sport suspension, Voice Control'
 'Alloy wheels, Catalytic Converter, Roof rack, Shift paddles, Sport package'
 'Alloy wheels, Catalytic Converter, Roof rack, Voice Control, Winter tyres'
 'Alloy wheels, Catalytic Converter, Sport package, Sport seats, Sport suspension, Voice Control, Winter tyres'
 'Alloy wheels, Roof rack, Sport package, Sport seats, Sport suspension, Trailer hitch, Voice Control'
 'Alloy wheels, Handicapped enabled, Ski bag, Voice Control, Winter tyres'
 'Alloy wheels, Catalytic Converter, Roof rack, Sport seats'
 'Alloy wheels, Catalytic Converter, Roof rack, Sport seats, Sport suspension'
 'Alloy wheels, Roof rack, Ski bag, Sport package, Sport seats, Voice Control, Winter tyres'

In [171]:
fill(df, "make_model", "body_type", "extras", "mode")

Number of NaN :  0
------------------
Alloy wheels                                                                                                     5786
Alloy wheels, Touch screen                                                                                        697
Roof rack                                                                                                         596
Alloy wheels, Voice Control                                                                                       582
Alloy wheels, Touch screen, Voice Control                                                                         544
                                                                                                                 ...
Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control       1
Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Trailer hitch                             1
Alloy wheels, Catalytic Converter, Ski bag, Sport package, Voice Control                                            1
Catalytic Converter, Roof rack, Sport seats, Sport suspension                                                       1
Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control                    1
Name: extras, Length: 659, dtype: int64

In [172]:
df.extras.str.count(",").add(1)

0        3
1        4
2        2
3        3
4        4
        ..
15914    2
15915    3
15916    1
15917    2
15918    2
Name: extras, Length: 15919, dtype: int64

In [173]:
df["extras"].apply(lambda x: x.count(",")).add(1)

0        3
1        4
2        2
3        3
4        4
        ..
15914    2
15915    3
15916    1
15917    2
15918    2
Name: extras, Length: 15919, dtype: int64

In [174]:
df["Num_of_Extras"] = df["extras"].apply(lambda x: x.count(",")).add(1)

In [175]:
df.drop("extras", axis=1, inplace=True)

## 27. safety_and_security

In [176]:
summary("safety_and_security")

Column name              :  safety_and_security
--------------------------------
Total missing value      :  982
Percentage of missing    :  6.17
Number of unique values  :  4443

Unique values  :
['ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights'
 'ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights'
 'ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control'
 ...
 'ABS, Blind spot monitor, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Traffic sign recognition'
 'ABS, Adaptive headlights, Central door lock, Daytime running lights, Electronic stability control, Fog lights, Power steering, Traction control'
 'ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition']

Number of values
NaN                                                                                                                                                                                                                                                                                                                                                                                982
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                           538
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                       480
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights                                                                                                                                     275
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                               272
                                                                                                                                                                                                                                                                                                                                                                                  ...
ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                        1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                     1
ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights                                                 1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control                                                                                                                                                        1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition      1
Name: safety_and_security, Length: 4444, dtype: int64

In [177]:
fill(df, "make_model", "body_type", "safety_and_security", "mode")

Number of NaN :  0
------------------
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                           729
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                       480
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                               373
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights                                                                                                                                     352
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                                    306
                                                                                                                                                                                                                                                                                                                                                                                  ...
ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                        1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                     1
ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights                                                 1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control                                                                                                                                                        1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition      1
Name: safety_and_security, Length: 4443, dtype: int64

In [178]:
# Car Safety & Security Packages

premium = ["Tire pressure", "Traction control", "Daytime running lights", "LED Headlight", "Tire pressure"]
premium_plus = ["Emergency brake assistant", "Electronic stability control"]

safety_security_package = df['safety_and_security'].apply(lambda sentence: "Safety Premium Package" if any(word in sentence for word in premium) else ("Safety Premium Plus Package" if any(word in sentence for word in premium_plus) else "Safety Standard Package"))
safety_security_package.value_counts()

Safety Premium Package         14621
Safety Premium Plus Package      798
Safety Standard Package          500
Name: safety_and_security, dtype: int64

In [179]:
df.drop("safety_and_security", axis=1, inplace=True)

## Drop

In [180]:
df.drop(columns=["url", 
                 'short_description',
                 'warranty',
                 'full_service',
                 'non_smoking_vehicle',
                 'description'
                ], inplace=True )

In [181]:
df.head(3).T

                          0          1          2
make_model          Audi A1    Audi A1    Audi A1
body_type            Sedans     Sedans     Sedans
price                 15770      14500      14640
km                 56013.00   80000.00   83450.00
type                   Used       Used       Used
inspection_new          Yes         No         No
body_color            Black        Red      Black
paint_type         Metallic   Metallic   Metallic
nr_of_doors            5.00       3.00       4.00
nr_of_seats            5.00       4.00       4.00
gearing_type      Automatic  Automatic  Automatic
displacement        1422.00    1798.00    1598.00
weight              1220.00    1255.00    1135.00
drive_chain           front      front      front
fuel                 Diesel    Benzine     Diesel
co2_emission          99.00     129.00      99.00
emission_class       Euro 6     Euro 6     Euro 6
gears                  7.00       7.00       7.00
country_version     Germany    Germany    Germany
previous_owners        2.00       1.00       1.00
hp_kw                 66.00     141.00      85.00
upholstery_type       Cloth      Cloth      Cloth
upholstery_color      Black       Grey      Black
cons_comb              3.80       5.60       3.80
age                    3.00       2.00       3.00
Num_of_Extras             3          4          2

In [182]:
df.to_csv("filled_missing_scout.csv", index=False)

**We have completed filling the missing values. We'll look at outliers in the next notebook**